<div>
    <div class="pageHeading">
        <div>
            <h3 class="pageName">Add Nagar Nigam/नगर निगम जोड़ें
            </h3>
            <span class="indicator">( * ) Indicates Mandatory/( * ) संकेतक अनिवार्य
            </span>
        </div>
        <div class="tabArea">
            <a routerLink="./../addNagarNigam" class="neuro addLink" routerLinkActive="active" *ngIf="adminPrivilege"><i
                    class="bi bi-plus-lg me-2"></i>Add/जोड़ें</a>
            <a routerLink="./../viewNagarNigam" class="neuro viewLink" routerLinkActive="active"><i
                    class="bi bi-eye me-2"></i>View/देखें
                </a>
        </div>
    </div>
    <div class="top-space">
        <form [formGroup]="nagarNigamform" (ngSubmit)="onSubmit()">
            <div class="formpatch">
                <div class="row">
                    <div class="col-lg-2 form-group">
                        <label for="exampleInputEmail1" class="form-label">Type<br>प्रकार
                        </label>
                    </div>
                    <div class="col-lg-3 form-group">
                        <span class="colon">:</span>
                        <select class="form-select" aria-label="Default select example" id="select__type" formControlName="nagarType"
                        [(ngModel)]="optionValue" (change)="changeNagarType($any($event.target).value)">
                            <option selected value="">--Select Type--</option>                           
                            <option value="1">ULB</option>
                            <option value="2">Panchayat</option>
                        </select>
                        <span class="mandatory">*</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 form-group">
                        <label for="exampleInputEmail1" class="form-label">District<br>जिला
                        </label>
                    </div>
                    <div class="col-lg-3 form-group">
                        <span class="colon">:</span>
                        <select class="form-select" aria-label="Default select example" formControlName="districtId"
                            (change)="getBlock($any($event.target).value)">
                            <option value="" selected>--Select District --</option>
                            <option *ngFor="let item of allDistrict" [value]="item.districtId">
                                {{ item.districtCode }} - {{ item.districtName }}
                            </option>
                        </select>
                        <span class="mandatory">*</span>
                    </div>
                    <div class="col-md-1">
                        <img src="assets/img/loading.gif" *ngIf="districtLoading==true" alt="dsd">
                      </div>
                </div>
                <ng-container *ngIf="optionValue == '2'">
                    <div id="panchayat" class="panchayat">
                        <div class="row">
                            <div class="col-lg-2 form-group">
                                <label for="exampleInputEmail1" class="form-label">Block<br>प्रखण्ड
                                </label>
                            </div>
                            <div class="col-lg-3 form-group">
                                <span class="colon">:</span>
                                <select class="form-select" aria-label="Default select example"
                                    formControlName="blockId">
                                    <option selected value="" *ngIf="filterChanged === false">--Select Block--</option>
                                    <option selected value="" *ngIf="filterChanged === true">Loading...</option>
                                    <option *ngFor="let item of blockData" [value]="item.blockId">
                                        {{ item.blockCode }} - {{ item.blockName }}
                                    </option>
                                </select>
                                <span class="mandatory">*</span>
                            </div>
                            <div class="col-md-1">
                                <img src="assets/img/loading.gif" *ngIf="blockLoading==true" alt="dsd">
                              </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-2 form-group">
                                <label for="exampleInputEmail1" class="form-label">Panchayat Name <br> पंचायत का नाम
                                </label>
                            </div>
                            <div class="col-lg-3 form-group">
                                <span class="colon">:</span>
                                <input type="text" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" formControlName="panchayatName" autocomplete="off" minlength="2" maxlength="40"
                                    (keypress)="customValidators.keyPressAlphabetSpaceDot($event)" >
                                <span class="mandatory">*</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 form-group">
                                <label for="exampleInputEmail1" class="form-label">Panchayat Code <br />पंचायत कोड
                                </label>
                            </div>
                            <div class="col-lg-3 form-group">
                                <span class="colon">:</span>
                                <input type="text" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" formControlName="panchayatCode" autocomplete="off" maxlength="9"
                                    (keypress)="customValidators.keyPressNumbers($event)" >
                                <span class="mandatory">*</span>
                            </div>
                        </div>

                    </div>
                </ng-container>
                <ng-container *ngIf="optionValue == '1'">
                    <div id="Municipality" class="Municipality">
                        <div class="row">
                            <div class="col-lg-2 form-group">
                                <label for="exampleInputEmail1" class="form-label">ULB Name <br> नगर पालिका नाम
                                </label>
                            </div>
                            <div class="col-lg-3 form-group">
                                <span class="colon">:</span>
                                <input type="text" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" formControlName="municipalityName" autocomplete="off" minlength="2" maxlength="40"
                                     (keypress)="customValidators.keyPressAlphabetSpaceDot($event)">
                                <span class="mandatory">*</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 form-group">
                                <label for="exampleInputEmail1" class="form-label">ULB Code <br> नगर पालिका कोड
                                </label>
                            </div>
                            <div class="col-lg-3 form-group">
                                <span class="colon">:</span>
                                <input type="text" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" formControlName="municipalityCode" autocomplete="off"  maxlength="9"
                                    (keypress)="customValidators.keyPressNumbers($event)" >
                                <span class="mandatory">*</span>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div>
                <button class="btn btn-success me-2">Submit/जमा करें
                </button>
                <button type="reset" class="btn btn-danger">Reset/पुनर्स्थापित 
                </button>
            </div>
        </form>
    </div>