<div>
  <!-- heading -->
  <div class="pageHeading">
    <div class="heading__tab d-flex justify-content-end">
      <div class="tab__section">
        <a
          routerLink="./"
          class="tablink d-inline-block"
          routerLinkActive="active"
          *ngIf="this.tabs.includes('Promotion List Generation')"
        >
          Promotion List Generation <br />
          पदोन्नति सूची जनरेशन</a
        >
        <a
          routerLink="./../approve/view"
          class="tablink d-inline-block"
          routerLinkActive="active"
          *ngIf="this.tabs.includes('Approve Promotion List')"
        >
          Approve Promotion List <br />
          पदोन्नति सूची स्वीकृत करें</a
        >
        <a
          routerLink="./../schoolView"
          class="tablink d-inline-block"
          routerLinkActive="active"
          *ngIf="this.tabs.includes('School View')"
        >
          School View <br />
          स्कूल देखें</a
        >
      </div>
    </div>
    <div class="heading__tab mt-2">
      <div>
        <h3 class="pageName">
          Promotion List Generation / पदोन्नति सूची जनरेशन
        </h3>
      </div>
    </div>
    <span class="indicator">( * ) Indicator Mandatory / अनिवार्य सूचना</span>
    <div class="tabArea">
      <a
        routerLink="./"
        class="neuro addLink"
        routerLinkActive="active"
        *ngIf="adminPrivilege"
        ><i class="bi bi-plus-lg me-2"></i>Genrate List / सूची तैयार करें</a
      >
      <a routerLink="./view" class="neuro addLink"
        ><i class="bi bi-eye me-2"></i>View / देखे</a
      >
    </div>
  </div>

  <!-- filter -->
  <div class="formpatch top-space">
    <div class="row">
      <div class="col-lg-2 form-group">
        <label for="" class="form-label">Academic Year </label><br />शैक्षणिक
        वर्ष
      </div>
      <div class="col-lg-3 form-group">
        <span class="colon">:</span>
        <select
          class="form-select"
          aria-label="Default select example"
          [(ngModel)]="userInput.currentAcademicYear"
        >
          <option [value]="userInput.currentAcademicYear">
            {{ userInput.currentAcademicYear }}
          </option>
        </select>
        <span class="mandatory">*</span>
      </div>
      <div class="col-md-1"></div>
      <div class="col-lg-2 form-group">
        <label for="" class="form-label">Teacher Designation </label
        ><br />शिक्षक पद
      </div>
      <div class="col-lg-3 form-group">
        <span class="colon">:</span>
        <select
          class="form-select"
          aria-label="Default select example"
          [(ngModel)]="userInput.designationId"
        >
          <option value>--Select--</option>
          <option
            *ngFor="let item of filterData.annextureData?.TEACHER_TITLE"
            [value]="item.anxtValue"
          >
            {{ item.anxtName }}
          </option>
        </select>
        <span class="mandatory">*</span>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-2 form-group">
        <label for="" class="form-label">Appoint Type </label><br />नियुक्ति का
        प्रकार
      </div>
      <div class="col-lg-3 form-group">
        <span class="colon">:</span>
        <select
          class="form-select"
          aria-label="Default select example"
          [(ngModel)]="userInput.appointmentId"
        >
          <option value>--Select--</option>
          <option
            *ngFor="let item of filterData.annextureData?.NATURE_OF_APPOINTMENT"
            [value]="item.anxtValue"
          >
            {{ item.anxtName }}
          </option>
        </select>
      </div>
      <div class="col-md-1"></div>
      <div class="col-lg-2 form-group">
        <label for="" class="form-label">Year of Service </label><br />सेवा का
        वर्ष
      </div>
      <div class="col-lg-3 form-group">
        <span class="colon">:</span>
        <input
          type="text"
          id="exampleInputEmail1"
          class="form-control"
          [(ngModel)]="userInput.yearOfService"
          maxlength="2"
          (keypress)="customValidators.keyPressNumbers($event)"
        />
        <span class="mandatory">*</span>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-2 form-group">
        <label for="" class="form-label"> Social Category</label><br />सामाजिक
        श्रेणी
      </div>
      <div class="col-lg-3 form-group">
        <span class="colon">:</span>
        <select
          class="form-select"
          aria-label="Default select example"
          [(ngModel)]="userInput.socialCategoryId"
        >
          <span class="colon">:</span>
          <option value="">--Select--</option>
          <option
            *ngFor="
              let item of filterData.annextureData?.TEACHER_SOCIAL_CATEGORY
            "
            [value]="item.anxtValue"
          >
            {{ item.anxtName }}
          </option>
        </select>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="row">
      <div class="col-lg-2 form-group">
        <label class="form-label">District <br />जिला </label>
      </div>
      <div class="col-lg-3 form-group">
        <span class="colon">:</span>
        <select
          class="form-select"
          autocomplete="off"
          [(ngModel)]="userInput.districtId"
        >
          <option *ngIf="!+userInput.districtId">--- Select ---</option>
          <option
            *ngFor="let item of filterData.districtData"
            [value]="item.districtId"
          >
            {{ item.districtCode }} -{{ item.districtName }}
          </option>
        </select>
      </div>
      <div class="col-md-1"></div>
      <div class="col-lg-2 form-group">
        <label class="form-label">Block <br />प्रखण्ड </label>
      </div>
      <div class="col-lg-3 form-group">
        <span class="colon">:</span>
        <select class="form-select" autocomplete="off">
          <option value="" *ngIf="!+userInput.blockId">--- Select ---</option>
          <option
            *ngFor="let item of filterData.blockData"
            [value]="item.blockId"
          >
            {{ item.blockCode }} - {{ item.blockName }}
          </option>
        </select>
      </div>
    </div>

    <div class="row mb-2">
      <div class="">
        <button class="btn btn-default btn-purple" (click)="onSearch()">
          Search / खोजें <i class="bi bi-search"></i>
        </button>
      </div>
    </div>
  </div>

  <!-- table -->
  <div class="mt-4" [hidden]="filterData.teacherList?.length === 0">
    <div class="table-responsive">
      <mat-progress-bar
        mode="indeterminate"
        *ngIf="matTable.isLoading"
      ></mat-progress-bar>
      <table
        class="mat-elevation-z8"
        mat-table
        [dataSource]="matTable.dataSource"
        matSort
        matTableExporter
        #exporter="matTableExporter"
      >
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef class="bg-lightpurple p-2">
            <mat-checkbox
              color="primary"
              (change)="$event ? masterToggle() : null"
              [checked]="matTable.selection.hasValue() && isAllSelected()"
              [indeterminate]="
                matTable.selection.hasValue() && !isAllSelected()
              "
            >
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox
              color="primary"
              (click)="$event.stopPropagation()"
              (change)="$event ? matTable.selection.toggle(row) : null"
              [checked]="this.matTable.selection.isSelected(row)"
            >
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="slNo">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="bg-lightpurple"
          >
            Sl No. / क्रमांक
          </th>
          <td mat-cell *matCellDef="let element">{{ element?.slNo }}</td>
        </ng-container>
        <ng-container matColumnDef="teacherName">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="bg-lightpurple"
          >
            Teacher Name / शिक्षक का नाम
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element?.teacherName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="teacherTitle">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="bg-lightpurple"
          >
            Designation / पद
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element?.teacherTitle }}
          </td>
        </ng-container>
        <ng-container matColumnDef="teacherCode">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="bg-lightpurple"
          >
            Teacher Code / शिक्षक का कोड
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element?.teacherCode || "--" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="schoolName">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="bg-lightpurple"
          >
            Schoo / विद्यालय
          </th>
          <td mat-cell *matCellDef="let element">
            {{
              element?.schoolUdiseCode
                ? element?.schoolUdiseCode + " - " + element?.schoolName
                : "--"
            }}
          </td>
        </ng-container>
        <ng-container matColumnDef="promotionCount">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="bg-lightpurple"
          >
            No.of Promotion / पदोन्नति की संख्या
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element?.promotionCount || "--" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="lastPromotedOn">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="bg-lightpurple"
          >
            Last Promoted / अंतिम पदोन्नति
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element?.lastPromotedOn }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="matTable.displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: matTable.displayedColumns"
        ></tr>
      </table>

      <mat-paginator
        #paginator
        [length]="matTable.totalRows"
        [pageIndex]="matTable.currentPage"
        [pageSize]="matTable.pageSize"
        [pageSizeOptions]="getPageSizeOptions"
        (page)="onPageChange($event)"
        aria-label="Select page"
        class="noPrint"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>

  <div [hidden]="filterData.teacherList?.length === 0">
    <div>
      <a class="btn btn-primary me-2" (click)="onSubmit()"
        >Prepare list / सूची तैयार करें</a
      >
    </div>
  </div>

  <ng-container
    *ngIf="matTable.isNorecordFound || matTable.isSearched === false"
  >
    <div class="alert alert-info text-center fw-bold" role="alert">
      <span *ngIf="matTable.isNorecordFound">
        {{ "No record found." }}
      </span>
      <span *ngIf="matTable.isSearched === false">
        {{ "Please select drop-down lists to view the records." }}
      </span>
    </div>
  </ng-container>
</div>
