<div>
    <div class="pageHeading">
        <div>
            <h3 class="pageName">Edit Block/प्रखण्ड संपादन करें </h3>
        </div>
        <div class="tabArea">
            <a class="neuro addLink disabled active" *ngIf="adminPrivilege"><i class="bi bi-plus-lg me-2"></i>Edit/संपादन करें </a>
            <a routerLink="../../viewBlock" class="neuro viewLink" routerLinkActive="active"><i
                    class="bi bi-eye me-2"></i>View/देखें
                </a>
        </div>
    </div>
    <div class="top-space">
        <form [formGroup]="blockForm" (ngSubmit)="onSubmit()">
            <input type="hidden" formControlName="encId" />
            <div class="row">
                <div class="col-lg-3">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">District <br>जिला</label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="mb-3">
                        <select  class="form-select" aria-label="Default select example"
                            formControlName="districtId" autocomplete="off">
                            <option value="">---Select---</option>

                            <option *ngFor="let item of allDistrict" [value]="item.districtId" selected>
                                {{ item.districtCode }} - {{ item.districtName }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-1">
                    <img src="assets/img/loading.gif" *ngIf="districtLoading==true" alt="dsd">
                  </div>
            
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Block Name <br>प्रखण्ड का नाम </label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="mb-3">
                        <input type="text" class="form-control" autocomplete="off" id="exampleInputEmail1"
                            aria-describedby="emailHelp" formControlName="blockName" autocomplete="off"
                            (keypress)="customValidators.keyPressAlphabetSpaceDot($event)" minlength="2" maxlength="25"/>
                    </div>
                </div>
            </div>
            <div class="row formpatch">
                <div class="col-lg-3">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Block Code  <br>प्रखण्ड का कोड </label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="mb-3">
                        <input type="text" class="form-control" autocomplete="off" id="exampleInputEmail1"
                            aria-describedby="emailHelp" formControlName="blockCode" autocomplete="off"
                            (keypress)="customValidators.keyPressNumbers($event)" minlength="6" maxlength="6"/>

                    </div>
                </div>
            </div>
            <div>
                <button class="btn btn-success me-2">Update/अद्यतन</button>
                <button  class="btn btn-danger" (click)="onCancel()">Cancel / रद्द करना</button>
            </div>
        </form>
    </div>
</div>