.update__service{background-color: #fff;}
.update__service h5{padding: 0.5rem 0.5rem;background: #b8a6d3;}
.update__service .table-responsive {
    padding: .5rem 1rem;
}
.update__service__inner{padding: 1.5rem 1.5rem;}