<div>
    <div class="pageHeading">
        <div class="heading__tab">
            <div><h3 class="pageName">Add Joining School</h3>       </div>
            <div class="tab__section">
                <a routerLink="./../../viewTeacherTransfer"  class="tablink" routerLinkActive="active">Teacher Request</a>
                <a routerLink="./../../transferRequestSchool/viewTransferRequestSchool"  class="tablink" routerLinkActive="active">Headmaster Request</a>
                <a routerLink="./../../relieving/viewRelieving"  class="tablink" routerLinkActive="active">Relieving </a>
                <a routerLink="./../viewJoiningSchool"  class="tablink" routerLinkActive="active">Joining School</a>
            </div>
        </div>
        <span class="indicator">( * ) Indicates Mandatory</span>
        <div class="tabArea">
            <a routerLink="./../addJoiningSchool"  class="neuro addLink" routerLinkActive="active" ><i class="bi bi-plus-lg me-2"></i>Add</a>
            <a routerLink="./../viewJoiningSchool"  class="neuro addLink" routerLinkActive="active" ><i class="bi bi-eye me-2"></i>View</a>
        </div>
    </div>
  
  
       <div class="top-space formpatch">
        <div class="row">
          <div class="col-lg-2 form-group">
            <label for="" class="form-label"> District</label>
        </div>
        <div class="col-lg-3 form-group  colon-top">
            <span class="colon">:</span>
            <label class="label-data">212- Patna</label>
        </div>
        <div class="col-lg-1"></div>
         <div class="col-lg-2 form-group">
            <label for="" class="form-label"> Block</label>
        </div>
        <div class="col-lg-3 form-group  colon-top">
            <span class="colon">:</span>
            <label class="label-data">201308- Phulwarisharif</label>
        </div> 
        <div class="col-lg-1"></div>
        <div class="col-lg-2 form-group">
                <label for="" class="form-label">Cluster</label>
            </div>
            <div class="col-lg-3 form-group colon-top">
                <span class="colon">:</span>
                <label class="label-data">M.S. Dhibra</label>
            </div>
            <div class="col-lg-1"></div>
        <div class="col-lg-2 form-group">
            <label for="" class="form-label">School Category</label>
        </div>
        <div class="col-lg-3 form-group colon-top">
            <span class="colon">:</span>
            <label class="label-data">Primary</label>
        </div>
        <div class="col-lg-1"></div>
         <div class="col-lg-2 form-group">
            <label for="" class="form-label"> School</label>
        </div>
        <div class="col-lg-3 form-group colon-top">
            <span class="colon">:</span>
            <label class="label-data">10280901501 - Utkramit unchh Madhyamik vidyalaya</label>
        </div> 
        </div>
       
       <div class=" mt-4">
          <div class="table-responsive">
              <table class="table  table-bordered">
                  <thead class="bg-lightpurple">
                    <tr>
                      <th scope="col">
                        <div class="checkbox check__box">
                          <div class="form-group me-0">
                            <label>
                              <input type="checkbox" class="check" id="checkAll">
                              <span></span>
                            </label>
                          </div>
                          </div>
                      </th>
                      <th scope="col" width="15px">SI#</th>
                      <th scope="col">Designation</th>
                      <th scope="col">Name</th>
                      <th scope="col">Nature of Appointment</th>
                      <th scope="col">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row" width="10px">
                        <div class="check__box">
                          <div class="form-group checkbox me-0">
                              <input type="checkbox" id="checkbox1" class="check">
                              <label for="checkbox1"></label>
                          </div>
                          </div>
                      </th>
                      <th scope="row">1</th>
                      <td>Head Master</td>
                      <td>Rajendra Prasad</td>
                      <td>Regular</td>
                      <td width="100px">
                        <a routerLink="./../manageAgency" title="Edit" class="edit-btn me-2"><i class="bi bi-pencil-square" ></i></a>
                        <a title="Delete" class="delete-btn"><i class="bi bi-trash3"></i></a>
                    </td>
                    </tr>
                    <tr>
                      <th scope="row" width="10px">
                        <div class="check__box">
                          <div class="form-group checkbox me-0">
                              <input type="checkbox" id="checkbox2" class="check">
                              <label for="checkbox2"></label>
                          </div>
                          </div>
                      </th>
                      <th scope="row">2</th>
                      <td>Lecturer</td>
                      <td>Seema Ranjan Chopra</td>
                      <td>Contract (Para)</td>
                      <td width="100px">
                        <a routerLink="./../manageAgency" title="Edit" class="edit-btn me-2"><i class="bi bi-pencil-square" ></i></a>
                        <a title="Delete" class="delete-btn"><i class="bi bi-trash3"></i></a>
                    </td>
                    
                    </tr>
                  </tbody>
                </table>
            </div>
      
      
  </div>
  <div class="row">
    <div class="col-md-2 form-group">
        <label for="exampleInputEmail1" class="form-label">Date of Joining</label>
     </div>
    <div class="col-md-3 form-group">
        <span class="colon">:</span>
        <input type="date" class="form-control" id="" aria-describedby="emailHelp">
        <span class="mandatory">*</span>
    </div>
</div>
</div>
<div>
    <a class="btn btn-success me-2">Submit</a>
    <a class="btn btn-danger me-2">Reset</a>
</div>
  </div>
 

  
  



