<div
  *ngIf="
    this.userProfile?.maxClass >= 9 || userProfile?.loginId === 'supAdmin';
    else elseContent
  "
>
  <div class="pageHeading">
    <div class="heading__tab">
      <div>
        <h3 class="pageName">Appear Assessment / मूल्यांकन दिखाएँ</h3>
      </div>
    </div>

    <div class="tabArea">
      <!-- <a routerLink="./../AddResult"  class="neuro addLink" routerLinkActive="active" ><i class="bi bi-plus-lg me-2"></i>Add</a> -->
    </div>
  </div>

  <div class="search-container">
    <div class="searchPanel">
      <div class="row">
        <div class="col-lg-2 form-group">
          <label class="form-label"
            >District <br />
            जिला
          </label>
        </div>
        <div class="col-lg-3 form-group colon-top">
          <span class="colon">:</span>

          <select
            class="form-select"
            aria-label="Default select example"
            [(ngModel)]="userInput.districtId"
            name="searchDistrictId"
            autocomplete="off"
            #districtRef
            (change)="getBlock(+districtRef.value)"
          >
            <option
              value=""
              *ngIf="
                !+this.userProfile.district &&
                demographyData.disrtictChanged == false
              "
            >
              --- Select ---
            </option>
            <option value="" *ngIf="demographyData.disrtictChanged == true">
              Loading...
            </option>
            <option
              *ngFor="let item of demographyData.districtData"
              [value]="item.districtId"
            >
              {{ item.districtCode }} -{{ item.districtName }}
            </option>
          </select>
        </div>

        <div class="col-lg-1"></div>

        <div class="col-lg-2 form-group">
          <label class="form-label">Block <br />प्रखण्ड </label>
        </div>
        <div class="col-lg-3 form-group colon-top">
          <span class="colon">:</span>
          <select
            class="form-select"
            aria-label="Block"
            #blockRef
            (change)="getCluster(+blockRef.value)"
            [(ngModel)]="userInput.blockId"
          >
            <option
              value=""
              *ngIf="
                !+this.userProfile.block && demographyData.blockChanged == false
              "
            >
              --- Select ---
            </option>
            <option value="" *ngIf="demographyData.blockChanged == true">
              Loading...
            </option>
            <option
              *ngFor="let item of demographyData.blockData"
              [value]="item.blockId"
            >
              {{ item.blockCode }} - {{ item.blockName }}
            </option>
          </select>
        </div>

        <div class="col-lg-2 form-group">
          <label class="form-label">Cluster <br />संकुल </label>
        </div>
        <div class="col-lg-3 form-group colon-top">
          <span class="colon">:</span>
          <select
            class="form-select"
            aria-label="Cluster"
            #clusterRef
            (change)="getSchool(+clusterRef.value)"
            [(ngModel)]="userInput.clusterId"
          >
            <option
              value=""
              *ngIf="
                !+this.userProfile.cluster &&
                demographyData.clusterChanged == false
              "
            >
              --- Select ---
            </option>
            <option value="" *ngIf="demographyData.clusterChanged == true">
              Loading...
            </option>
            <option
              *ngFor="let item of demographyData.clusterData"
              [value]="item.clusterId"
            >
              {{ item.clusterCode }} - {{ item.clusterName }}
            </option>
          </select>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-2 form-group">
          <label for="" class="form-label"
            >School Category <br />विद्यालय की श्रेणी</label
          >
        </div>
        <div class="col-lg-3 form-group colon-top">
          <span class="colon">:</span>

          <select
            class="form-select"
            aria-label="School"
            [(ngModel)]="userInput.schoolCategory"
          >
            <option
              value=""
              *ngIf="
                !+userInput?.schoolId && demographyData.schoolChanged == false
              "
            >
              --- Select ---
            </option>
            <option value="" *ngIf="demographyData.schoolChanged == true">
              Loading...
            </option>
            <option
              *ngFor="let school of demographyData.schoolData"
              [value]="school.schoolCategory"
            >
              {{ school.schlCatName }}
            </option>
          </select>
        </div>

        <div class="col-lg-2 form-group">
          <label class="form-label">School <br />विद्यालय</label>
        </div>
        <div class="col-lg-3 form-group colon-top">
          <span class="colon">:</span>
          <select
            class="form-select"
            aria-label="School"
            [(ngModel)]="userInput.schoolId"
          >
            <option
              value=""
              *ngIf="
                !+this.userProfile.udiseCode &&
                demographyData.schoolChanged == false
              "
            >
              --- Select ---
            </option>
            <option value="" *ngIf="demographyData.schoolChanged == true">
              Loading...
            </option>
            <option
              *ngFor="let school of demographyData.schoolData"
              [value]="school.schoolId"
            >
              {{ school.schoolUdiseCode }} - {{ school.schoolName }}
            </option>
          </select>
        </div>
        <div class="col-lg-7"></div>
        <div class="col-lg-2 form-group">
          <div>
            <label class="form-label"
              >Assessment Type <br />मूल्यांकन का प्रकार</label
            >
          </div>
        </div>

        <div class="col-lg-3 form-group">
          <div>
            <span class="colon">:</span>
            <select
              aria-label="Default select example"
              class="form-select"
              [(ngModel)]="selectedAssesmentType"
            >
              <option value="" *ngIf="annextureLoad === false">
                --Select--
              </option>
              <option value="" *ngIf="annextureLoad === true">
                Loading...
              </option>
              <option
                [value]="item.anxtValue"
                ng-reflect-value="1"
                *ngFor="let item of assessmentAnnexture"
              >
                {{ item?.anxtName }}
              </option>
            </select>
            <span class="mandatory">*</span>
          </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-2 form-group">
          <div>
            <label class="form-label">Class <br />वर्ग </label>
          </div>
        </div>
        <div class="col-lg-3 form-group">
          <div>
            <span class="colon">:</span>
            <select
              class="form-select"
              aria-label="Default select example"
              (change)="classChangeHandler(); getSubjects()"
              [(ngModel)]="selectedClass"
            >
              <option value="" *ngIf="annextureLoad === false">
                --Select--
              </option>
              <option value="" *ngIf="annextureLoad === true">
                Loading...
              </option>

              <option
                [value]="item.anxtValue"
                ng-reflect-value="1"
                *ngFor="let item of classAnnexture"
              >
                {{ item?.anxtName }}
              </option>
            </select>
            <span class="mandatory">*</span>
          </div>
        </div>
        <div class="col-lg-1"></div>
        <ng-container *ngIf="isClassGreaterThanTen === true">
          <div class="col-lg-2 form-group">
            <div>
              <label class="form-label">Stream <br />धारा</label>
            </div>
          </div>
          <div class="col-lg-3 form-group">
            <div>
              <span class="colon">:</span>
              <select
                class="form-select"
                aria-label="Default select example"
                (change)="getStreamGroupType()"
                [(ngModel)]="selectedStream"
                (change)="getSubjects()"
              >
                <option value="" *ngIf="streamLoad === false">
                  --Select--
                </option>
                <option value="" *ngIf="streamLoad === true">Loading...</option>
                <option
                  [value]="item.anxtValue"
                  ng-reflect-value="1"
                  *ngFor="let item of streamType"
                >
                  {{ item?.anxtName }}
                </option>
              </select>
              <span class="mandatory">*</span>
            </div>
          </div>
          <div class="col-lg-1"></div>
        </ng-container>
        <ng-container
          *ngIf="
            isClassGreaterThanTen === true && isScienceStreamSelected === true
          "
        >
          <div class="col-lg-2 form-group">
            <div>
              <label class="form-label">Group <br> समूह</label>
            </div>
          </div>
          <div class="col-lg-3 form-group">
            <div>
              <span class="colon">:</span>
              <select
                class="form-select"
                aria-label="Default select example"
                [(ngModel)]="selectedGroup"
                (change)="getSubjects()"
              >
                <option value="" *ngIf="streamGroupTypeLoad === false">
                  --Select--
                </option>
                <option value="" *ngIf="streamGroupTypeLoad === true">
                  Loading...
                </option>
                <option
                  [value]="item.anxtValue"
                  ng-reflect-value="1"
                  *ngFor="let item of streamGroupAnnexture"
                >
                  {{
                    item.anxtValue == 1
                      ? item?.anxtName + " (Non-Medical)"
                      : item?.anxtName + " (Medical)"
                  }}
                </option>
              </select>
              <span class="mandatory">*</span>
            </div>
          </div>
          <div class="col-lg-1"></div>
        </ng-container>
        <div class="col-lg-2 form-group">
          <div>
            <label class="form-label">Subject <br />विषय</label>
          </div>
        </div>
        <div class="col-lg-3 form-group">
          <div>
            <span class="colon">:</span>
            <select
              aria-label="Default select example"
              class="form-select"
              [(ngModel)]="selectedSubject"
            >
              <option selected value="" *ngIf="subjectLoad === false">
                --Select--
              </option>
              <option selected value="" *ngIf="subjectLoad === true">
                Loading...
              </option>
              <option
                [value]="item?.subjectId"
                ng-reflect-value="1"
                *ngFor="let item of classWiseSubjects"
              >
                {{ item?.subject }}
              </option>
            </select>
          </div>
        </div>

        <div class="col-lg-1"></div>
        <div class="col-lg-2 form-group">
          <label class="form-label">Date of Exam <br />परीक्षा की तिथि </label>
        </div>
        <div class="col-lg-3 form-group">
          <div>
            <span class="colon">:</span>
            <input
              class="form-control"
              readonly
              #datepickerYMD="bsDatepicker"
              placeholder="DD-MM-YYYY"
              bsDatepicker
              [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
              [minDate]="minDateGetter"
              [maxDate]="minDateGetter"
              [(ngModel)]="dateOfExam"
            />
          </div>
        </div>
        <div class="col-lg-1"></div>

        <div class="col-lg-2">
          <button class="btn btn-default btn-purple" (click)="onSearch()">
            Search / खोज <i class="bi bi-search"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3" [hidden]="assessmentData?.length === 0">
    <div class="col-lg-12">
      <div class="page__rightarea">
        <div class="page__util">
          <div class="util" [hidden]="false">
            <!-- <a class="excel" (click)="exportExcel()">
              <i class="bi bi-file-earmark-excel"></i>
            </a> -->
            <a class="excel" (click)="downloadAppearAssessmentList()">
              <i class="bi bi-file-earmark-excel"></i>
            </a>

            <a title="Print" class="print" (click)="printPage()"
              ><i class="bi bi-printer"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="table-responsive" id="viewTable">
        <mat-progress-bar
          mode="indeterminate"
          *ngIf="isLoading"
        ></mat-progress-bar>

        <table
          class="mat-elevation-z8"
          mat-table
          [dataSource]="dataSource"
          matSort
          matTableExporter
          #exporter="matTableExporter"
        >
          <ng-container matColumnDef="slNo">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="bg-lightpurple"
            >
              Sl No. / क्रमांक
            </th>
            <td mat-cell *matCellDef="let element">{{ element?.slNo }}</td>
          </ng-container>

          <ng-container matColumnDef="assessmentType">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="bg-lightpurple"
            >
              Assessment Type / मूल्यांकन का प्रकार
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element?.assessmentType || "--" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="dateOfExam">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="bg-lightpurple"
            >
              Date of Exam / परीक्षा की तिथि
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element?.dateOfExam | date : "dd-MMM-yyyy" || "--" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="startTime">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="bg-lightpurple"
            >
              Start Time / प्रारंभ का समय
            </th>
            <td mat-cell *matCellDef="let element">
              {{
                element?.startTime ? (element?.startTime | timeFormat) : "--"
              }}
            </td>
          </ng-container>
          <ng-container matColumnDef="duration">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="bg-lightpurple"
            >
              Duration / अवधि 
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element?.duration || "--" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="className">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="bg-lightpurple"
            >
              Class / वर्ग 
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element?.className || "--" }}
            </td>
          </ng-container>
          <!-- Done by : Sailesh Mishra on 28-12-2022 -->
          <ng-container matColumnDef="stream">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="bg-lightpurple"
            >
              Stream / धारा
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element?.streamType || "--" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="group">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="bg-lightpurple"
            >
              Group / समूह
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element?.streamGroupType || "--" }}
            </td>
          </ng-container>
          <!-- end -->
          <ng-container matColumnDef="subject">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="bg-lightpurple"
            >
              Subject / विषय
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element?.subject || "--" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="setName">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="bg-lightpurple"
            >
              Set / सेट 
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element?.setName || "--" }}
            </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="bg-lightpurple noPrint"
            >
              Action / क्रिया
            </th>
            <td mat-cell *matCellDef="let element" class="action-link noPrint">
              <button
                class="btn btn-success btn-sm"
                (click)="actionHandler('appear', element?.encId)"
              >
                Appear / दिखाई देना
              </button>
              &nbsp;
              <button
                class="btn btn-danger btn-sm question"
                (click)="actionHandler('download', element?.encId)"
              >
                <i class="bi bi-download me-1"></i> Download Question
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <table>
          <tr *ngIf="!dataSource.data.length">
            <td
              style="text-align: center"
              [attr.colspan]="assessmentData.length"
              class="mt-2"
            >
              No Records Found!
            </td>
          </tr>
        </table>
        <mat-paginator
          #paginator
          [length]="totalRows"
          [pageIndex]="currentPage"
          [pageSize]="pageSize"
          [pageSizeOptions]="pageSizeOptions"
          (page)="onPageChange($event)"
          aria-label="Select page"
          class="noPrint"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </div>
  </div>
  <ng-container *ngIf="isNorecordFound || isSearched">
    <div class="alert alert-info text-center fw-bold" role="alert">
      <span *ngIf="isNorecordFound">
        {{ "No record found." }}
      </span>
      <span *ngIf="isSearched">
        {{ "Please select drop-down lists to view the records." }}
      </span>
    </div>
  </ng-container>
</div>

<ng-template #elseContent>
  <div class="alert alert-danger text-center fw-bold" role="alert">
    {{ "Schools having class 9 to 12 is allowed to give assessment." }}
  </div>
</ng-template>
