<div>
  <form [formGroup]="trainingAndLanguageInfoForm">
    <div class="pageHeading">
      <div>
        <h3 class="pageName">Add Training & Language / प्रशिक्षण और भाषा की सूचना जोड़ें</h3>
        <span class="indicator">( * ) Indicates Mandatory / अनिवार्य सूचना</span>
      </div>
      <div class="tabArea">
        <a routerLink="./../../../addTeacher" class="neuro addLink" routerLinkActive="active"  *ngIf="(loginUserType != 1) "><i
            class="bi bi-plus-lg me-2"></i>New Teacher Registration / नया शिक्षक पंजीकरण</a>
        <a routerLink="./../../" class="neuro viewLink" routerLinkActive="active"><i
            class="bi bi-eye me-2"></i>View/Updation / देखें/अद्यतन करें</a>
      </div>
    </div>
    <div class="top-space">
      <app-header [registrationInfoRoute]="['../../registrationInfo/', teacherId]"
        [educationalInfoRoute]="['../../educationalInfo/', teacherId]"
        [professionalInfoRoute]="['../../professionalInfo/', teacherId]"
        [otherInfoRoute]="['../../otherInfo/', teacherId]" [trainingAndLanguageInfoRoute]="['./']"></app-header>

      <!-- <h5>Professional/Vocational Qualification</h5> -->

      <!-- <div class="formpatch">
        <h5>In-Service Training Details (Last Academic Year) / सेवाकालीन प्रशिक्षण विवरण (अंतिम शैक्षणिक वर्ष)</h5>

        <div class="row">
          
          <div class="col-lg-2 form-group">
            <label for="" class="form-label">Place of Training / <small>प्रशिक्षण का स्थान</small></label>
          </div>
          <div class="col-lg-3 form-group">
            <span class="colon">:</span>
            <select class="form-select" aria-label="Default select example" formControlName="placeOfTraining">
              <option value="">---Select---</option>

              <option *ngFor="let item of allPlaceOfTraining" [value]="item?.anxtValue">
                {{ item?.anxtName }}
              </option>
            </select>
            <span class="mandatory">*</span>
          </div>
          <div class="col-lg-1"></div>
        </div>
        <div class="row">
          <div class="col-lg-2 form-group">
            <label for="" class="form-label">Name of Training / <small>उत्तीर्ण होने का वर्ष</small></label>
          </div>
          <div class="col-lg-3 form-group">
            <span class="colon">:</span>
            <input type="text" class="form-control" id="" aria-describedby="emailHelp" formControlName="nameOfTraining"
              (keypress)="customValidators.firstCharValidator($event)" (keypress)="
                customValidators.alphaNumericValidator(
                  $event,
                  'comma',
                  'space',
                  'dot'
                )
              " />
            <span class="mandatory">*</span>
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-2 form-group">
            <label for="" class="form-label"> No. of Days Trained / <small>प्रशिक्षण के कुल दिन</small></label>
          </div>
          <div class="col-lg-3 form-group">
            <span class="colon">:</span>
            <input type="text" class="form-control" id="" aria-describedby="emailHelp"
              formControlName="numberOfDaysTrained" maxlength="3" (keypress)="customValidators.keyPressNumbers($event)"
              (keypress)="customValidators.firstCharValidator($event)" />
            <span class="mandatory">*</span>
          </div>
        </div>
      </div> -->
      <div class="row mt-5 formpatch">
        <h5>In-Service Training Details (Last Academic Year) / सेवाकालीन प्रशिक्षण विवरण (अंतिम शैक्षणिक वर्ष)</h5>
        <div class="col-lg-12">
          <div class="table-responsive">
            <table class="table  table-bordered">
              <thead class="bg-lightpurple">
                <tr>
                  <th>Sl#</th>
                  <th scope="col">Place of Training / <small>प्रशिक्षण का स्थान</small> <span class="text-danger ms-2">*</span></th>
                  <th scope="col">Name of Training / <small>प्रशिक्षण का नाम</small><span class="text-danger ms-2">*</span></th>
                  <th scope="col">Training Needed/Received / <small>प्रशिक्षण की आवश्यकता / प्राप्त हुआ</small><span class="text-danger ms-2">*</span></th>
                  <th scope="col">No. of Days Trained / <small>प्रशिक्षण के कुल दिन</small><span class="text-danger ms-2">*</span></th>
                  <th>Action / <small>कार्रवाई करें</small></th>
                </tr>
              </thead>
              <tbody formArrayName="inServiceTrainingArray">
                <!-- <tr><td colspan="6">{{this.inServiceTrainingInfo().controls.length}}</td></tr>                 -->
                <tr *ngFor="let items of inServiceTrainingInfo().controls; index as i" [formGroupName]="i">
                  <td>{{ i + 1 }}</td>
                  <td>
                    <select class="form-select" aria-label="Default select example" formControlName="placeOfTraining">
                      <option value="">--Select--</option>        
                      <option *ngFor="let item of allPlaceOfTraining" [value]="item?.anxtValue">
                        {{ item?.anxtName }}
                      </option>
                    </select>
                </td>
                  <td><input type="text" class="form-control" maxlength="100" id="" aria-describedby="emailHelp" formControlName="nameOfTraining"
                     (keypress)="
                      customValidators.alphaNumericValidator(
                        $event,
                        'comma',
                        'space',
                        'dot',
                        'hyphen',
                        'slash',
                        'singleQuote',
                        'leftParaanthesis',
                        'rightParaanthesis'
                      )
                    " /></td>
                  <td>
                    <select class="form-select"  aria-label="Default select example" formControlName="trainingRecved">
                      <option value="">--Select--</option>        
                      <option value="1">Yes</option>        
                      <option value="2">No</option>   
                    </select>
                  </td>
                  <td><input type="text" class="form-control" id="" aria-describedby="emailHelp"
                    formControlName="numberOfDaysTrained" maxlength="3" (keypress)="customValidators.keyPressNumbers($event)"
                     /></td>
                
                 
                  <td width="120">
                    <button class="btn btn-success btn-sm me-2 mb-2" (click)="addRow(i)"><i class="bi bi-plus-lg"></i></button>
                    <button class="btn btn-danger btn-sm me-2 mb-2" (click)="removeRow(i)"><i class="bi bi-dash-lg"></i></button>
                </td>
                </tr> 
              </tbody>
            </table>
          </div>
        
        </div>
    </div>
      <div class="">
        <div class="row">
          <!-- <h5>Secondary</h5> -->
          <div class="col-lg-2 form-group">
            <label for="" class="form-label">Whether appointment based on Teacher eligibility Test ? </label>
            <br>क्या शिक्षक पात्रता परीक्षा के आधार पर नियुक्ति हुई है?
          </div>
          <div class="col-lg-3 form-group">
            <span class="colon">:</span>
            <div class="radiobuttons pt-2">
              <div class="rdio rdio-primary form-check-inline">
                <input value="1" id="radio3" type="radio" class="yes" (click)="showHelper('showTet')"
                  formControlName="passedTetRadio" />
                <label for="radio3">Yes</label>
              </div>
              <div class="rdio rdio-primary form-check-inline">
                <input value="" id="radio4" type="radio" class="no" (click)="hideHelper('hideTet')"
                  formControlName="passedTetRadio" />
                <label for="radio4">No</label>
              </div>
            </div>
            <span class="mandatory">*</span>
          </div>
          <div class="col-lg-1"></div>
        </div>
        <div class="passedtet" *ngIf="tetStatus === true">
          <div class="row">
            <div class="col-lg-2 form-group">
              <label for="" class="form-label">Exam Passed </label>
              <br> पास परीक्षा 
          </div>
          <div class="col-lg-3 form-group">
              <span class="colon">:</span>
              <select class="form-select" aria-label="Default select example" formControlName="examPassed">
                <option value="" *ngIf="teacherExamPassedChanged==false">-- Select --</option>
                <option value="" *ngIf="teacherExamPassedChanged==true">Loading...</option>
                <option *ngFor="let examPass of teacherExamPassed"  [value]="examPass.anxtValue">  
                        {{ examPass.anxtName }} 
                </option>
              </select>
              <span class="mandatory">*</span>
          </div>
          <div class="col-lg-1"></div>
            <div class="col-lg-2 form-group">
              <label for="" class="form-label"> Year of Passing</label><br>उत्तीर्ण होने का वर्ष
            </div>
            <div class="col-lg-3 form-group">
              <span class="colon">:</span>

              <select class="form-select" aria-label="Default select example" formControlName="yearOfPassing">
                <option value="">--Select--</option>
                <option value="{{ year }}" *ngFor="let year of allYears">
                  {{ year }}
                </option>
              </select>
              <span class="mandatory">*</span>
            </div>
           
           
          </div>
          <div class="row">
            <div class="col-lg-2 form-group">
              <label for="" class="form-label"> Roll No.</label><br>क्रमांक सं
            </div>
            <div class="col-lg-3 form-group">
              <span class="colon">:</span>
              <input type="text" class="form-control" id="" aria-describedby="emailHelp" formControlName="rollNo"
                maxlength="20"  (keypress)="
                  customValidators.alphaNumericValidator(
                    $event,
                    'comma',
                    'space',
                    'dot',
                    'hyphen'
                  )
                " />
              <span class="mandatory">*</span>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-2 form-group">
              <label for="" class="form-label"> Marks Obtained</label><br>प्राप्तांक
            </div>
            <div class="col-lg-3 form-group">
              <span class="colon">:</span>
              <input type="text" class="form-control" id="" aria-describedby="emailHelp" formControlName="marksObtained"
                maxlength="5" (keypress)="customValidators.keyPressNumbersDecimal($event)"
                (keypress)="customValidators.firstCharValidator($event)" />
              <span class="mandatory">*</span>
            </div>
           
            <div class="col-lg-2 form-group">
              <label for="" class="form-label">Subjects</label><br>विषय
            </div>
            <div class="col-lg-3 form-group">
              <span class="colon">:</span>
              <input type="text" class="form-control" id="" aria-describedby="emailHelp" formControlName="subject"
                 (keypress)="
                  customValidators.alphaNumericValidator(
                    $event,
                    'comma',
                    'space',
                    'dot',
                    'hyphen'
                  )
                " maxlength="100" />
              <span class="mandatory">*</span>
            </div>
          </div>
        </div>
      </div>
      <div class="formpatch">
        <div class="row">
          <!-- <h5>Secondary</h5> -->
          <div class="col-lg-2 form-group">
            <label for="" class="form-label">Have you ever worked or are working as BRP/CRCC?</label><br>क्या आपने कभी
            BRP/CRCC के रूप में काम किया है या काम कर रहे हैं?
          </div>
          <div class="col-lg-3 form-group">
            <span class="colon">:</span>
            <div class="radiobuttons pt-2">
              <div class="rdio rdio-primary form-check-inline">
                <input value="1" id="radio5" type="radio" class="brpyes" (click)="showHelper('showBrpCrcc')"
                  formControlName="brpCrccRadio" />
                <label for="radio5">Yes</label>
              </div>
              <div class="rdio rdio-primary form-check-inline">
                <input value="" id="radio6" type="radio" class="brpno" (click)="hideHelper('hideBrpCrcc')"
                  formControlName="brpCrccRadio" />
                <label for="radio6">No</label>
              </div>
            </div>
            <span class="mandatory">*</span>
          </div>
          <div class="col-lg-1"></div>
        </div>
        <div class="brpcecc" *ngIf="brpCrccStatus === true">
          <div class="row">
            <div class="col-lg-2 form-group">
              <label for="" class="form-label"> BRP<br>बीआरपी</label>
            </div>
            <div class="col-lg-3 form-group">
              <span class="colon">:</span>
              <select class="form-select" aria-label="Default select example" formControlName="brp">
                <option value="">--Select--</option>
                <option value="1">Worked</option>
                <option value="2">Working</option>
                <option value="3">Never</option>
              </select>
              <span class="mandatory">*</span>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-2 form-group">
              <label for="" class="form-label"> CRCC<br>सीआरसीसी</label>
            </div>
            <div class="col-lg-3 form-group">
              <span class="colon">:</span>
              <select class="form-select" aria-label="Default select example" formControlName="crcc">
                <option value="">--Select--</option>
                <option value="1">Worked</option>
                <option value="2">Working</option>
                <option value="3">Never</option>
              </select>
              <span class="mandatory">*</span>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="formpatch">
        <h5>Language / भाषा</h5>
        <div class="">
          <div class="row">
            <div class="col-lg-2 form-group">
              <label for="" class="form-label">
                Language (as per Schedule VIII) Studied upto</label> <br>किस वर्ग तक भाषा (अनुसूची VIII के अनुसार) की
              पढ़ाई की है ?
            </div>
            <div class="col-lg-3 form-group">
              <span class="colon">:</span>
              <input type="text" class="form-control" id="" aria-describedby="emailHelp" formControlName="languageUpto"
                (keypress)="customValidators.firstCharValidator($event)" (keypress)="
                  customValidators.alphaNumericValidator(
                    $event,
                    'comma',
                    'space',
                    'dot'
                  )
                " maxlength="248" />
              <span class="mandatory">*</span>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-2 form-group">
              <label for="" class="form-label">Languages in which the teacher is having working
                knowledge?</label><br>वे भाषाएँ जिनमें शिक्षक को कार्य का ज्ञान है?
            </div>
            <div class="col-lg-3 form-group">
              <span class="colon">:</span>
              <input type="text" class="form-control" id="" aria-describedby="emailHelp"
                formControlName="languageHavingKnowlede" (keypress)="customValidators.firstCharValidator($event)"
                (keypress)="
                  customValidators.alphaNumericValidator(
                    $event,
                    'comma',
                    'space',
                    'dot'
                  )
                " maxlength="248" />
              <span class="mandatory">*</span>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 form-group">
              <label for="" class="form-label">Language 1 <br />भाषा 1</label>
            </div>
            <div class="col-lg-3 form-group">
              <span class="colon">:</span>
              <input type="text" class="form-control" id="" aria-describedby="emailHelp" formControlName="language1"
                (keypress)="customValidators.firstCharValidator($event)" (keypress)="
                  customValidators.alphaNumericValidator(
                    $event,
                    'comma',
                    'space',
                    'dot'
                  )
                " maxlength="248" />
              <span class="mandatory">*</span>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-2 form-group">
              <label for="" class="form-label">Language 2 <br />भाषा 2</label>
            </div>
            <div class="col-lg-3 form-group">
              <span class="colon">:</span>
              <input type="text" class="form-control" id="" aria-describedby="emailHelp" formControlName="language2"
                (keypress)="customValidators.firstCharValidator($event)" (keypress)="
                  customValidators.alphaNumericValidator(
                    $event,
                    'comma',
                    'space',
                    'dot'
                  )
                " maxlength="248" />
              <span class="mandatory">*</span>
            </div>
          </div>
        </div>
      </div> -->

    </div>
    <div class="border p-3 mb-3 bg-white fst-italic">
      <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" id="checkBoxId" [checked]="isChecked"
          (click)="changeCheckStatus()" />
        <label class="form-check-label d-block" for="flexCheckDefault">
          <p>
            I,
            <span style="border-bottom: 2px dotted #4628768f">
              {{ teacherName }}
            </span>
            declare herewith that all information/Particulars filled up in this
            format are true and Complete as per my understanding and belief.
          </p>
          <div class="row">
            <div class="col-lg-2 form-group">
              <label for="" class="form-label"> Place: <span class="text-danger ms-2">*</span></label>
              <span style="border-bottom: 2px dotted #4628768f">
                <input type="text" class="form-control" id="" aria-describedby="emailHelp" formControlName="place"
                 maxlength="50" autocomplete="off" />
                  
                </span>
                
            </div>
            
          </div>
          <div class="row">
            <div class="col-lg-2 form-group">
              <label for="" class="form-label"> Date: </label>
              <span style="padding: 10px">  
                <input type="hidden" formControlName="placeDate">     
                <label *ngIf="this.placeDate === null || this.placeDate === '';else dbDate">{{maxDate | date :'dd-MMM-YYYY'}}</label>         
                <ng-template #dbDate>
                  <label >{{this.placeDate | date :'dd-MMM-YYYY'}}</label>
                </ng-template>
                  <!-- <input class="form-control" #datepickerYMD="bsDatepicker" placeholder="DD-MMM-YYYY" bsDatepicker
                  [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' ,showClearButton: true, clearPosition: 'right'}" formControlName="placeDate" [maxDate]="maxDate"  autocomplete="off" readonly>
        -->
                </span>
                
            </div>
            
          </div><!-- {{currentDate }} -->

        </label>
      </div>
    </div>

    <!-- <div class="border p-3 text-end bg-white fst-italic mb-3">
      <p>
        The filled-up entries/information in this format have been verified by me.
      </p>
      <p>
        HM/In-charge
        <span style="border-bottom: 2px dotted #4628768f"> Ramakanta Mishra</span>
      </p>
      <p>
        Signature of CRCC
        <span style="border-bottom: 2px dotted #4628768f">Kramatur Reza</span>
      </p>
      <p>
        Signature of BEO
        <span style="border-bottom: 2px dotted #4628768f">Raman Shrestha</span>
      </p>
    </div> -->

    <div>
      <div>
        <button class="btn btn-purple me-2" (click)="pageChangeWarningHandler('../../otherInfo/')">
          Previous / पिछला
        </button>
        <button class="btn btn-success me-2" (click)="validateSubmitTraining()" id="submitButtonId">
          Submit / जमा करें
        </button>
        <button type="reset" class="btn btn-danger me-2" (click)="resetForm()" *ngIf="draftStatus === false">
          Reset / पुनर्स्थापित
        </button>
      </div>
    </div>
  </form>
</div>