<div>
  <div class="pageHeading">
    <div class="heading__tab">
      <h3 class="pageName">View Expenditure Type / व्यय प्रकार देखें </h3>
    </div>

    <div class="tabArea">
      <a routerLink="./../addExpenditureType" class="neuro addLink" routerLinkActive="active" 
      *ngIf="adminPrivilege"><i
          class="bi bi-plus-lg me-2"></i>Add / जोड़ें</a>
      <a routerLink="./../viewExpenditureType" class="neuro viewLink" routerLinkActive="active"><i
          class="bi bi-eye me-2"></i>View / देखें </a>
    </div>


  </div>
  <div class="row top-space">
    <div class="col-lg-12">
      <div class="page__rightarea">
        <div class="page__util">
          <div class="util">
            <div class="util">
              <a title="Excel" class="excel" (click)="downloadExpenditureTypeList()"><i class="bi bi-file-earmark-excel"></i></a>
              <a title="Print" class="print" (click)="printPage()"><i class="bi bi-printer"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="table-responsive" id="viewTable">
          <mat-progress-bar mode="indeterminate" *ngIf="isLoading">
          </mat-progress-bar>
          <table  class="mat-elevation-z8" mat-table [dataSource]="dataSource" matSort matTableExporter
          #exporter="matTableExporter" >
          <ng-container matColumnDef="slNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple">
              Sl.No / क्र.सं.
            </th>
            <td mat-cell *matCellDef="let element">{{ element?.slNo }}</td>
          </ng-container>
          <ng-container matColumnDef="ExpenditureType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple">
              Expenditure Type / व्यय प्रकार
            </th>
            <td mat-cell *matCellDef="let element">{{(element?.expenditureName) ? element?.expenditureName :'--' }}</td>
          </ng-container>
          <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple">
              Description / विवरण
            </th>
            <td mat-cell *matCellDef="let element">  {{ element?.description?.length > 60 ? (element?.description | slice:0:60):element?.description }}
              <small style="font-style: italic;" *ngIf="element?.description?.length > 60"> ... <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#viewDescription" (click)="showDescription(element?.description)">View More</a></small>
            </td>
          </ng-container>
          <ng-container matColumnDef="Created_On">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple">
              Created On / पर बनाया
            </th>
            <td mat-cell *matCellDef="let element">{{(element?.createdOn) ? (element?.createdOn|date:'dd-MMM-yyyy') :'--' }}</td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple noPrint">
             Action / क्रियाएँ
            </th>
            <td mat-cell *matCellDef="let element" class="action-link noPrint">
               <a title="Edit" [routerLink]="['./../editExpenditureType/', element?.encId]" class="edit-btn me-2"><i
                   class="bi bi-pencil-square text-primary"></i></a>
               <a title="Delete" class="delete-btn me-2" style="cursor: pointer" (click)="deleteExpenditureType(element?.encId)"><i
                   class="bi bi-trash"></i></a>
             </td>
          </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr> 
          </table>
          <table>
            <tr *ngIf="!dataSource.data.length">
              <td style="text-align: center" [attr.colspan]="resultListData.length" class="mt-2">
                No Records Found!
              </td>
            </tr>
          </table>
          <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
                  [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)" aria-label="Select page"
             class="noPrint"  showFirstLastButtons>
                </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- View Description Modal -->
<div class="modal fade" id="viewDescription" tabindex="-1" aria-labelledby="viewDescriptionLabel" aria-hidden="true">
<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Description</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body p-4">
      <div class="row">
        <div class="col-lg-12 form-group" id="descriptionText">{{ descFullText }}</div>
      </div>
    </div>
  </div>
</div>
</div>
