/* login-page */
.login__bg{background-image: url('../../../assets/img/login-bg.jpg');
    background-repeat: no-repeat, repeat;
    background-color: rgb(32 34 96);
    width: 100%;
    height: 100vh;background-position: center;
    margin: 0;
    background-size: cover;}
   
  .login__section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;padding-left: 4rem;
}
  .login__details {
    background: #fff;
    border-radius: 15px;
    padding: 3rem 2rem;
    width: 100%;
    position: relative;
}
  .login__heading{text-align: center;position: relative;padding-bottom: 0.4rem;}
  .login__heading:after{content: '';
    position:absolute;
    width: 100px;
    height: 2px;
    background-color: rgb(0 168 157);
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .login__form{margin-top: 3rem;}
 .login__form label {
    font-size: .9rem;
    font-weight: 600;
}
.radion-button{margin-top: .5rem;}
.radion-button [type="radio"]:checked,
.radion-button [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.radion-button [type="radio"]:checked + label,
.radion-button [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    line-height: 17px;
    display: inline-block;
    color: #666;
    margin-right: 1rem;
}
.radion-button [type="radio"]:checked + label:before,
.radion-button [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #a3a3a3;
    border-radius: 100%;
    background: #fff;
}
.radion-button [type="radio"]:checked + label:after,
.radion-button [type="radio"]:not(:checked) + label:after {
  content: '';
  width: 11px;
  height: 11px;
  background: rgb(0 168 157);
  position: absolute;
  top: 3.5px;
  left: 4px;
  border-radius: 100%;
  transition: all 0.2s ease;
}
.radion-button [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.radion-button [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.form-group{margin-bottom: 2rem;position: relative;}
.form-control{padding: .7rem 1rem;
  font-size: .9rem; border: 1px solid rgb(36 46 104 / 32%);border-radius: 5px;}
  .form-control:focus{box-shadow: none;outline: none;}
  .form-control::placeholder{color: #ccc;}
.field__name{position: absolute;
  background: #fff;
  top: -10px;
  left: 0.8rem;padding: 0 4px;}
  .password--eyeoff {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translate(-50%, -50%);
}
.capcha__section{margin-top: -10px;}
.capcha__section .form-group{display: flex;align-items: center;justify-content: space-between;}
.capcha__section input{width: 90%;}
.capcha__head{font-size: 1.1rem!important;margin-bottom: 0.6rem;}
.captch__image{background-color: #e5e5e5;
  width: 120px;
  height: 40px;   
  display: flex;
  align-items: center;
  justify-content: center;
}
.captch__image span{font-size: 1.7rem;
  color: rgb(233 76 25);
  text-decoration: line-through;
  font-style: italic;}
  .refresh--icon{
    background-color: rgb(0 168 157);
    color: #fff;
    border: none;
    padding: 4px 7px;
    border-radius: 5px;
    margin-left: 5px;
  }
  .refresh--icon:focus{outline: none;}
  .refresh--icon i{font-size: 1.5rem;}
  .submit__btn{padding: .8rem 2.5rem;background: rgb(0 168 157);border-radius: 3px;color: #fff;border: none;
    transition: .5s;font-weight: 600;border-radius: 5px;}
  .submit__btn:hover{background: #078d84;}
  .generate__otp{
    background: rgb(85 43 143);
  }
  .generate__otp:hover{
    background: rgb(110 57 185);
  }
  .forgot__password{text-decoration: none;color: #000;font-size: .9rem;transition: .5s;}
  .forgot__password:hover{color: #e86824;}
 .submit__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.otp__section .form-group{display: flex;align-items: center;justify-content: space-between;}
.reset__otp{
    float: right;
    color: #ebeaef;
    font-size: 12px;
    background-color: rgb(57 38 119);
    padding: 2px 7px;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 1rem;
}
.reset__otp:hover{
   background-color: rgb(84 42 142);
   
}
.time__count{
  color: #000;
    font-size: 12px;
    background-color: rgb(201 202 201);
  padding: 2px 7px;
  border-radius: 3px;
  text-decoration: none;
}
.logo {
  text-align: center;
  margin-bottom: 2.5rem;
  margin-top: 0rem;
}
.logo svg{width: 300px;}
.home__icon{position: absolute;
  top: 4.1px;
  right: 4px;
  width: 55px;
  height: 55px;
  background: rgb(0 168 157);
  border-radius: 0px 8px 0px 47px;
  display: flex;
  justify-content: center;
}
.home__icon a{
  padding-top: 10px;
  padding-left: 10px;}
.home__icon img{width: 27px;height: 27px;}
  .login__image__content{display: flex;align-items: center;justify-content: center;height: 100vh;padding-right: 5rem;    flex-direction: column;}
 .login__cont p {
  font-size: 1.2rem;
  text-align: center;
  font-style: italic;
  color: #fff;
  font-weight: 300;
}
.login__image img{width: 100%;}
.otp{display: flex; flex-direction: row;}
.otp .control-sec
{
  display: contents;
}

.button-sec {
  margin-left: 1rem;
}

.otp .form-control {
  margin-right: 0.5rem;
  padding: 2px 8px 2px 8px;
  width: 8%;
  border: 0px;
  border-bottom: 1px solid #ced4da;
  border-radius: 0px;
}
.otp .form-control:last-child {
  margin-right: 0rem;
}
.e-Library-patch{
  margin-top: 2rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.login__details .e-Library-patch{
  padding: 0!important;
}
.e-Library-patch a{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(99 64 154 / 21%);
  padding: 1rem;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: rgb(99 64 154);
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.e-Library-patch a:hover{
  background-color: rgb(99 64 154 / 23%);
}
@media(max-width:1200px)
{
  .otp
  { 
    flex-direction: column;
  }

  .otp .control-sec
  {
    display: flex; 
  }

  .otp .form-control {
    padding: 0px 10px 10px 10px;
    width: 100%;
  }

  .button-sec{
    margin-left: 0rem;
    margin-top: 1rem;
  }
}

@media (max-width: 1024px)
{
  .login__section{
    padding-left: 0;
  }
  .login__details {
    padding: 3rem 1rem;
  }
  .logo svg{
    width: 240px;
  }
  .submit__btn {
    padding: 0.4rem 0.7rem;
  }

  .login__bg .col-sm-7{
    display: none;
  }

  .login__bg  .col-sm-5 {
    flex: 0 0 auto;
    width: 100%;
  }
  .container {
    max-width: 526px;
  }

  .logo {
    margin-bottom: 0rem;
  }

 

}

@media (max-width: 576px){
  .container {
    max-width: 100%;
  }
  .e-Library-patch a{
    font-size: 13px;
}
}

@media (max-width: 480px){
  .login__image__content {
   padding-right: 0;
   display: none;
  }
}

@media (max-width: 320px){
  .e-Library-patch a{
   font-size: 17px;
  }
  .radion-button label
  {
   font-size: .8rem;
 }
 .capcha__head {
  font-size: .9rem!important;

}
.e-Library-patch a {
  font-size: 16px;
}
}