<div>
    <div class="pageHeading">
        <div>
            <h3 class="pageName">Edit Incentive Master/प्रोत्साहन मास्टर संपादित करें</h3><span class="indicator">( * ) Indicates Mandatory</span>
        </div>
        <div class="tabArea">
            <a  class="neuro addLink disabled active" routerLinkActive="active" *ngIf="adminPrivilege"><i
                    class="bi bi-plus-lg me-2"></i>Edit/संपादित करें</a>
            <a routerLink="../../viewIncentive" class="neuro viewLink" routerLinkActive="active"><i
                    class="bi bi-eye me-2"></i>View/देखें</a>
        </div>
    </div>
    <form [formGroup]="editIncentiveForm" (ngSubmit)="onSubmit()">
        <div class="formpatch top-space">
            <div class="row">
                <div class="col-md-2 form-group">
                    <label class="form-label">Incentive Name<br>प्रोत्साहन का नाम </label>
                </div>
                <div class="col-md-3 form-group">
                    <span class="colon">:</span>
                    <input appAutoFocus type="text" class="form-control" autocomplete="off" (keypress)="customValidators.keyPressAlphabetSpaceDot($event)" maxlength="30"  minlength="3" formControlName="incentiveName">
                    <span class="mandatory">*</span>
                </div>

                <div class="col-md-7"></div>

                <div class="col-md-2 form-group">
                    <label class="form-label">Code<br>कोड</label>
                </div>
                <div class="col-md-3 form-group">
                    <span class="colon">:</span>
                    <input type="text" class="form-control" autocomplete="off" formControlName="incentiveCode" maxlength="20" minlength="4" (keypress)="customValidators.keyPressNumbers($event)">
                    <span class="mandatory">*</span>
                </div>

                <div class="col-md-7"></div>

                <div class="col-md-2 form-group">
                    <label class="form-label">Description<br>विवरण</label>
                </div>
                <div class="col-md-3 form-group">
                    <span class="colon">:</span>
                    <textarea rows="3" class="form-control" formControlName="incentiveDescription"
                        maxlength="300"></textarea>
                    <small>Maximum <span class="text-danger">(<span>300</span>)</span> Characters</small>
                    <span class="mandatory">*</span>
                </div>

                <div class="col-md-7"></div>

                <div class="col-md-2 form-group">
                    <label class="form-label">Unit<br>इकाई</label>
                </div>

                <div class="col-md-3 form-group">
                    <span class="colon">:</span>
                    <select class="form-select" formControlName="incentiveUnit">
                        <option selected value="">--Select--</option>
                        <option *ngFor="let incentiveUnitData of incentiveUnitData" value="{{incentiveUnitData.anxtValue}}">{{incentiveUnitData.anxtName}}.</option>
                    </select>
                    <span class="mandatory">*</span>
                </div>

                <div class="col-md-7"></div>

                <div class="col-md-2 form-group">
                    <label class="form-label">Mode of Disbursal<br>संवितरण का तरीका</label>
                </div>
                <div class="col-md-3 form-group">
                    <span class="colon">:</span>
                    <select class="form-select" formControlName="disbursalMode">
                        <option selected="0">--Select--</option>
                        <option value="1">Cash</option>
                        <option value="2">DBT</option>
                    </select>
                    <span class="mandatory">*</span>
                </div>

            </div>
        </div>
        <button class="btn btn-success me-2">Update/अद्यतन</button>
        <button  class="btn btn-danger" (click)="onCancel()">Cancel / रद्द करना</button>
    </form>
</div>