<div>
        <div class="pageHeading">
          <div class="heading__tab d-flex justify-content-end">
              <div class="tab__section">
                <a routerLink="./../../viewTeacherTransfer"  class="tablink d-inline-block" routerLinkActive="active">Transfer Request Approval <br> शिक्षक अनुरोध</a>
                   <a routerLink="./../viewTransferRequestSchool"  class="tablink d-inline-block active" routerLinkActive="active">Transfer Request By School <br> विद्यालय द्वारा स्थानांतरण अनुरोध</a>
                  <!--<a routerLink="./../viewconsolidate"  class="tablink d-inline-block" routerLinkActive="active">Consolidate Transfer <br> समेकित स्थानांतरण</a> -->
                  <a routerLink="./../../relieving/viewRelieving"  class="tablink d-inline-block" routerLinkActive="active">Relieving <br> विरमित</a>
                  <a routerLink="./../../joiningSchool/viewJoiningSchool"  class="tablink d-inline-block" routerLinkActive="active">Joining School <br> विद्यालय में शामिल होना</a>
              </div>
          </div>
          <div class="heading__tab mt-2">
              <div><h3 class="pageName">Transfer Request By School / स्कूल द्वारा स्थानांतरण अनुरोध</h3>  </div>
          </div>
         
          <div class="tabArea">
                  <a routerLink="./../addTransferRequestSchool"  class="neuro addLink" routerLinkActive="active" ><i class="bi bi-plus-lg me-2"></i>Add / जोड़ें</a>
                  <a routerLink="./../viewTransferRequestSchool"  class="neuro addLink" routerLinkActive="active" ><i class="bi bi-eye me-2"></i>View / देखें</a>
              </div>
      </div>
        <form name="form" class="form-horizontal" (ngSubmit)="onSearch()" #searchForm="ngForm" novalidate>
        <div class="top-space" id="searchbox">
            <ng-container *ngIf="show">
                <div class="search-container">
                    <div class="search-sec" id="searchPanel" style="display: block;">
                      <div class="searchPanel">
                        <div class="row">
                          <div class="col-lg-2 form-group">
                            <label class="form-label">District <br> जिला</label>
                              </div>                              
                              <div class="col-lg-3 form-group">
                                <span class="colon">:</span>
                                <select class="form-control" aria-label="Default select example" [(ngModel)]="searchDistrictId" name="searchDistrictId" autocomplete="off" (change)="getBlock($any($event.target).value)">
                                  <option value="" *ngIf="scDisrtictSelect==true">--- Select ---</option>
                                  <option value="" *ngIf="scDisrtictLoading==true">Loading...</option>
                                  <option *ngFor="let districtItem of searchDistrictData" [value]="districtItem.districtId">
                                    {{ districtItem.districtCode }} - {{ districtItem.districtName }}
                                  </option>
                                </select>
                              </div>
              
                              <div class="col-lg-1"></div>
              
                              <div class="col-lg-2 form-group">
                                <label class="form-label">Block <br> प्रखण्ड</label>
                              </div>
                              <div class="col-lg-3 form-group">
                                <span class="colon">:</span>
                                <select class="form-control" aria-label="Default select example" [(ngModel)]="searchBlockId" name="searchBlockId" autocomplete="off" (change)="getCluster($any($event.target).value)">
                                  <option value="" *ngIf="scBlockSelect==true">--- Select ---</option>
                                  <option value="" *ngIf="scBlockLoading==true">Loading...</option>
                                  <option *ngFor="let blockItem of searchBlockData" [value]="blockItem.blockId">
                                    {{ blockItem.blockCode }} - {{ blockItem.blockName }}
                                  </option>
                                </select>
                              </div>
                              <div class="col-lg-1"></div>
                              <div class="col-lg-2 form-group">
                                  
                                  <label class="form-label"> Cluster <br> संकुल</label>
                             
                          </div>
                          <div class="col-lg-3 form-group">
                             
                                  <span class="colon">:</span>
                                  <select class="form-control" aria-label="Default select example" [(ngModel)]="searchClusterId" name="searchClusterId" autocomplete="off" (change)="getSchool()">
                                    <option value="" *ngIf="scClusterSelect==true">--- Select ---</option>
                                    <option value="" *ngIf="scClusterLoading==true">Loading...</option>
                                    <option *ngFor="let clusterItem of clusterData" [value]="clusterItem.clusterId">
                                      {{ clusterItem.clusterCode }} - {{ clusterItem.clusterName }}
                                    </option>
                                  </select>
                             
                          </div>                          
                                  <div class="col-lg-1"></div>
                  
                                  <div class="col-lg-2 form-group">
                                      
                                          <label class="form-label">School <br> विद्यालय</label>
                                      
                                  </div>
                                  <div class="col-lg-3 form-group">
                                      
                                          <span class="colon">:</span>
                                          <select class="form-control" aria-label="Default select example" [(ngModel)]="searchSchoolId" name="searchSchoolId" autocomplete="off">
                                            <option value="" *ngIf="scSchoolSelect==true">--- Select ---</option>
                                            <option value="" *ngIf="scSchoolLoading==true">Loading...</option>
                                            <option *ngFor="let schoolItem of getSchoolData" [value]="schoolItem.schoolId">
                                              {{ schoolItem.schoolUdiseCode }} - {{ schoolItem.schoolName }}
                                            </option>
                                          </select>
                                     
                                  </div>
                                  
                                  <div class="col-lg-1"></div>
                                  <div class="col-lg-2 form-group3">
                                    <label for="" class="form-label">Type of Teacher <br> शिक्षक का प्रकार</label>
                                  </div>
                                  <div class="col-lg-3 form-group">
                                    <span class="colon">:</span>
                                    <select class="form-select" aria-label="Default select example" [(ngModel)]="searchTeacherTitle"
                                      name="searchTeacherTitle">
                                      <option value="" *ngIf="teacherTitleChanged==false">-- Select --</option>
                                      <option value="" *ngIf="teacherTitleChanged==true">Loading...</option>
                                      <option *ngFor="let title of teacherTitles" [value]="title.anxtValue">
                                        {{ title.anxtName }}
                                      </option>
                    
                                    </select>
                                  </div>
                                  <div class="col-lg-1"></div>
                                  <div class="col-lg-2 form-group">
                                    <label for="" class="form-label">Nature of Appointment <br> नियुक्ति की प्रकृति</label>
                                  </div>
                                  <div class="col-lg-3 form-group">
                                    <span class="colon">:</span>
                                    <select class="form-select" aria-label="Default select example" [(ngModel)]="searchNatureOfAppointmt"
                                      name="searchNatureOfAppointmt">
                                      <option value="" *ngIf="teacherAppointmentChanged==false">-- Select --</option>
                                      <option value="" *ngIf="teacherAppointmentChanged==true">Loading...</option>
                                      <option *ngFor="let appointment of teacherAppointment" [value]="appointment.anxtValue">
                                        {{ appointment.anxtName }}
                                      </option>
                                    </select>
                                  </div>
                                    
                                      
                          <div class="col-lg-2">
                              <button class="btn btn-default btn-purple">  Search / खोजें  <i class="bi bi-search"></i></button>
                          </div>
                      </div>
                      </div>
                   </div>
                  
                </div>
                </ng-container>                
    </div>
    </form>
    <button class="searchopen" (click)="toggle()" id="hide" data-toggle="tooltip" data-original-title="Click me"><i
      class="bi bi-caret-down-fill"></i><i class="bi bi-caret-up-fill"></i>Search Panel / खोज पट्टिका</button>

  <div class="clearfix"></div>
            <div class="clearfix"></div>
              
                <div class="row mt-4">
                  <div class="col-lg-12">
                    <div class="page__rightarea">
                      <div class="page__util">
                          <div class="util">
                              <!-- <span class="publish"><i class="bi bi-square-fill me-1"></i>Publish</span>
                              <span class="unpublish"><i class="bi bi-square-fill me-1"></i>Unpublish</span> -->
                              
                              <a title="Excel" class="excel"><i class="bi bi-file-earmark-excel"></i></a>
                              <a title="Print" class="print"><i class="bi bi-printer"></i></a>
                          </div>
                      </div>
                      </div>

                      <div class="mt-4" [hidden]="filterData.teacherList?.length === 0">
                        <div class="table-responsive">
                          <mat-progress-bar
                            mode="indeterminate"
                            *ngIf="matTable.isLoading"
                          ></mat-progress-bar>
                          <table
                            class="mat-elevation-z8"
                            mat-table
                            [dataSource]="matTable.dataSource"
                            matSort
                            matTableExporter
                            #exporter="matTableExporter"
                          >
                            
                          
                          <ng-container matColumnDef="slNo">
                            <th
                              mat-header-cell
                              *matHeaderCellDef
                              mat-sort-header
                              class="bg-lightpurple"
                            >
                            #
                            </th>
                            <td mat-cell *matCellDef="let element">{{ element?.slNo }}</td>
                          </ng-container>
                            <ng-container matColumnDef="teacherName">
                              <th
                                mat-header-cell
                                *matHeaderCellDef
                                mat-sort-header
                                class="bg-lightpurple"
                              >
                              Name / नाम
                              </th>
                              <td mat-cell *matCellDef="let element">
                                <!-- {{ (element?.teacherName) ? element?.teacherName" : '--'}} -->
                                {{ element?.teacherName}}
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="teacherTitle">
                              <th
                                mat-header-cell
                                *matHeaderCellDef
                                mat-sort-header
                                class="bg-lightpurple"
                              >
                              Designation / पद
                              </th>
                              <td mat-cell *matCellDef="let element">
                                <!-- {{ (element?.teacherTitle) ? element?.teacherTitle" : '--'}} -->
                                {{ element?.teacherTitle}}
                              </td>
                            </ng-container>

                            <ng-container matColumnDef="natureOfAppointment">
                              <th
                                mat-header-cell
                                *matHeaderCellDef
                                mat-sort-header
                                class="bg-lightpurple"
                              >
                              Nature of Appointment / नियुक्ति की प्रकृति
                              </th>
                              <td mat-cell *matCellDef="let element">
                                <!-- {{ (element?.natureOfAppointment) ? element?.natureOfAppointment" : '--'}} -->
                                {{ element?.natureOfAppointment }}
                              </td>
                            </ng-container>                           
                            
                            
                            <ng-container matColumnDef="remark">
                              <th
                                mat-header-cell
                                *matHeaderCellDef
                                mat-sort-header
                                class="bg-lightpurple"
                              >
                              Remark / टिप्पणी
                              </th>
                              <td mat-cell *matCellDef="let element">
                                <!-- {{ (element?.remark) ? element?.remark" : '--'}} -->
                                {{ element?.remark}}
                              </td>
                            </ng-container>

                            <ng-container matColumnDef="district">
                              <th
                                mat-header-cell
                                *matHeaderCellDef
                                mat-sort-header
                                class="bg-lightpurple"
                              >
                              District / जिला
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element?.districtName}}
                              </td>
                            </ng-container>

                            <ng-container matColumnDef="block">
                              <th
                                mat-header-cell
                                *matHeaderCellDef
                                mat-sort-header
                                class="bg-lightpurple"
                              >
                              Block / प्रखण्ड
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element?.blockName}}
                              </td>
                            </ng-container>


                            <ng-container matColumnDef="cluster">
                              <th
                                mat-header-cell
                                *matHeaderCellDef
                                mat-sort-header
                                class="bg-lightpurple"
                              >
                              Cluster / संकुल
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element?.clusterName}}
                              </td>
                            </ng-container>

                            <ng-container matColumnDef="schlCat">
                              <th
                                mat-header-cell
                                *matHeaderCellDef
                                mat-sort-header
                                class="bg-lightpurple"
                              >
                              School Category / विद्यालय की श्रेणी
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element?.schlCatName}}
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="school">
                              <th
                                mat-header-cell
                                *matHeaderCellDef
                                mat-sort-header
                                class="bg-lightpurple"
                              >
                              School / विद्यालय
                              </th>
                              <td mat-cell *matCellDef="let element">
                                {{ element?.schoolName}}                                
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="action">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple noPrint" style="width: 100px;">
                                Actions / कार्रवाई करें
                              </th>
                              <td mat-cell *matCellDef="let element" class="action-link noPrint">
                                 <a title="Delete" class="delete-btn me-2" style="cursor: pointer"
                                    (click)="onDelete(element?.encId,element?.teacherId)"><i class="bi bi-trash"></i></a>
                              </td>
                           </ng-container>
                            
                    
                            <tr mat-header-row *matHeaderRowDef="matTable.displayedColumns"></tr>
                            <tr
                              mat-row
                              *matRowDef="let row; columns: matTable.displayedColumns"
                            ></tr>
                          </table>
                    
                          <mat-paginator
                            #paginator
                            [length]="matTable.totalRows"
                            [pageIndex]="matTable.currentPage"
                            [pageSize]="matTable.pageSize"
                            [pageSizeOptions]="getPageSizeOptions"
                            (page)="onPageChange($event)"
                            aria-label="Select page"
                            class="noPrint"
                            showFirstLastButtons
                          ></mat-paginator>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                  <!-- <ng-container
            *ngIf="matTable.isNorecordFound"
            >
            <div class="alert alert-info text-center fw-bold" role="alert">
            <span *ngIf="matTable.isNorecordFound">
            {{ "No record found." }}
            </span>      
            </div>
            </ng-container> -->
            <div class="alert alert-info text-center  fw-bold" role="alert" *ngIf="matTable.isNorecordFound">
              {{ "No record found." }}
           </div>
           <div class="alert alert-info text-center  fw-bold" role="alert" *ngIf="isInitAdmin">
              {{ "Please Search to find list" }}
           </div>
                </div>