.table-responsive .form-select {
     width: 100% !important; 
}

label.label-data {
     padding-top: 0.3rem;
 }

 .mandatory.radio-mandatory {
     right: auto;
     top: 5px;
 }
 @media only screen and (max-width: 768px)
{
    .fw-bold {
        margin-bottom: 1rem!important;
    }
}