<div>
    <div class="pageHeading">
        <div>
            <h3 class="pageName">View Notification School / Teacher / अधिसूचना स्कूल / शिक्षक देखें </h3>
        </div>

        <div class="tabArea">
            <a routerLink="./../addSchoolTeacherNotification" class="neuro viewLink" routerLinkActive="active" *ngIf="adminPrivilege"><i class="bi bi-plus-lg me-2"></i>Add / जोड़ें</a>
            <a routerLink="../viewSchoolTeacherNotification" class="neuro viewLink" routerLinkActive="active"><i class="bi bi-eye me-2"></i>View / देखें </a>
        </div>

    </div>
    <div class="top-space">
        <form [formGroup]="viewSchoolTeacherNotifyForm" (ngSubmit)="schoolTeacherNotifySearch()">
            <ng-container *ngIf="show">
                <div class="search-container">
                    <div class="search-sec">
                        <div class="searchPanel">
                            <div class="row">
                                <div class="col-lg-2 form-group">
                                    <label class="form-label">District<br>ज़िला
                                    </label>
                                </div>
                                <div class="col-md-3 form-group">
                                    <span class="colon">:</span>
                                    <select class="form-select" formControlName="district" (change)="getBlockByDistrictId($any($event.target).value)">
                                        <option value="" selected *ngIf="scDisrtictSelect == true">--select--</option>
                                        <option *ngFor="let item of currentDistData" value="{{item.districtId}}">{{item.districtCode}}-{{item.districtName}}</option>
                                    </select>
                                    <!-- <span class="mandatory">*</span> -->
                                </div>

                                <div class="col-md-1">
                                    <img src="assets/img/loading.gif" *ngIf="showSpinnerDist==true" alt="district">
                                </div>


                                <div class="col-lg-2 form-group">
                                    <label class="form-label">Block<br>प्रखंड 
                                    </label>
                                </div>

                                <div class="col-lg-3 form-group">
                                    <span class="colon">:</span>
                                    <select class="form-select"  formControlName="block" (change)="getClusterByBlockId($any($event.target).value)">
                                        <option value="" selected *ngIf="scBlockSelect == true">--select--</option>
                                        <option *ngFor="let item of currentBlockData" value="{{item.blockId}}">{{item.blockCode}}-{{item.blockName}}</option>
                                    </select>
                                </div>
                                <div class="col-md-1">
                                    <img src="assets/img/loading.gif" *ngIf="showSpinnerBlockByDistId==true" alt="block">
                                  </div>

                                <div class="col-lg-2 form-group">
                                    <label class="form-label">Cluster<br>समूह 
                                    </label>
                                </div>
                                <div class="col-lg-3 form-group">
                                    <span class="colon">:</span>
                                    <select class="form-select"  formControlName="cluster" (change)="getSchoolByClusterId($any($event.target).value)">
                                        <option value="" selected *ngIf="scClusterSelect == true">--select--</option>
                                        <option *ngFor="let item of currentClusterData" value="{{item.clusterId}}">{{item.clusterCode}}-{{item.clusterName}}</option>
                                    </select>
                                </div>

                                <div class="col-lg-1">
                                    <img src="assets/img/loading.gif" *ngIf="showSpinnerClusterByBlockId==true" alt="cluster">
                                </div>

                                <!-- <div class="col-lg-2 form-group">
                                    <label class="form-label">School<br>विद्यालय 
                                    </label>
                                </div>
                                <div class="col-lg-3 form-group">
                                    <span class="colon">:</span>
                                    <select class="form-select"  formControlName="school" (change)="getTeacherBySchoolId($any($event.target).value)">
                                        <option value="" selected *ngIf="scSchoolSelect == true">--select--</option>
                                        <option *ngFor="let item of allSchoolrByClusterIdData" value="{{item.schoolId}}">{{item.schoolUdiseCode}}-{{item.schoolName}}</option>
                                    </select>
                                </div>
                                <div class="col-lg-1">
                                    <img src="assets/img/loading.gif" *ngIf="showSpinnerSchoolName==true" alt="school">
                                </div> -->

                                <!-- <div class="col-lg-2 form-group">
                                    <label class="form-label">Teacher<br>शिक्षक
                                    </label>
                                </div>
                                <div class="col-lg-3 form-group">
                                    <span class="colon">:</span>
                                    <select class="form-select" formControlName="teacher">
                                        <option value="" selected *ngIf="scTeacherSelect == true">--select--</option>
                                        <option *ngFor="let item of allTeacherBySchoolIdData" value="{{item.tId}}">{{item.teacherId}}-{{item.teacherName}}</option>
                                        
                                    </select>
                                </div>

                                <div class="col-lg-1">
                                    <img src="assets/img/loading.gif" *ngIf="showSpinnerTeacherName==true" alt="teacher">
                                </div> -->

                                <div class="col-lg-2 form-group">
                                    <label class="form-label">From Date<br>दिनांक से
                                    </label>
                                </div>
                                <div class="col-lg-3 form-group">
                                    <span class="colon">:</span>
                                    <!-- <input type="date" class="form-control" formControlName="frmDate" > -->
                                    <input class="form-control" #datepickerYMD="bsDatepicker" placeholder="DD-MM-YYYY" bsDatepicker [bsConfig]="{ showClearButton: true, clearPosition: 'right',dateInputFormat: 'DD-MMM-YYYY' }" aria-describedby="emailHelp"
                                    formControlName="frmDate" readonly>
                                </div>

                                <div class="col-lg-1"></div>

                                <div class="col-lg-2 form-group">
                                    <label class="form-label">To Date<br>आज तक
                                    </label>
                                </div>
                                <div class="col-lg-3 form-group">
                                    <span class="colon">:</span>
                                    <!-- <input type="date" class="form-control" formControlName="toDate"> -->
                                    <input class="form-control" #datepickerYMD="bsDatepicker" placeholder="DD-MM-YYYY" bsDatepicker [bsConfig]="{ showClearButton: true, clearPosition: 'right',dateInputFormat: 'DD-MMM-YYYY' }" aria-describedby="emailHelp"
                                    formControlName="toDate" readonly>
                                </div>
                                
                                <div class="col-md-1"></div>
                                

                                <div class="col-lg-2 form-group">
                                    <label class="form-label">Category<br>श्रेणी
                                    </label>
                                </div>
                                <div class="col-lg-3 form-group">
                                    <span class="colon">:</span>
                                    <select class="form-select" formControlName="category" (change)="notificationCategoryChange($any($event.target).value)" >
                                        <!-- <option value="" selected>--Select--</option> -->
                                        <option value="" selected *ngIf="scCategorySelect == true">--select--</option>
                                        <option *ngFor="let item of notificationCatName" value="{{item.categoryId}}" >{{item.categoryName}}</option>
                                    </select>
                                </div>
                                <div class="col-md-1">
                                    <img src="assets/img/loading.gif" *ngIf="showSpinnerCategory==true" alt="dsd">
                                </div>

                                <div class="col-lg-2 form-group">
                                    <label class="form-label">Component<br>अवयव
                                    </label>
                                </div>
                                <div class="col-lg-3 form-group">
                                    <span class="colon">:</span>
                                    <select class="form-select"  formControlName="component">
                                        <option value="" selected>--Select--</option>
                                        <option *ngFor="let item of notificationCompName" value="{{item.categoryId}}">{{item.categoryName}}</option>
                                    </select>
                                </div>

                                <div class="col-lg-1">
                                    <img src="assets/img/loading.gif" *ngIf="showSpinnerComponentName==true" alt="dsd">
                                </div>

                                <div class="col-lg-2 form-group">
                                    <label class="form-label">Notification Mode<br>अधिसूचना मोड
                                    </label>
                                </div>
                                <div class="col-lg-3 form-group">
                                    <span class="colon">:</span>
                                    <select class="form-select" formControlName="notificationMode">
                                        <option value="" selected>--Select--</option>
                                        <option value="1">Portal Inbox</option>
                                        <option value="2">SMS</option>
                                    </select>
                                </div>

                                <div class="col-lg-2 form-group">
                                    <label class="form-label">Type<br>प्रकार
                                    </label>
                                </div>
                                <div class="col-lg-3 form-group">
                                    <span class="colon">:</span>
                                    <select class="form-select" formControlName="type">
                                        <option value="" selected>--Select--</option>
                                        <option value="2">School</option>
                                        <option value="1">Teacher</option>
                                    </select>
                                </div>

                                <div class="col-lg-1"></div>
                                <div class="col-lg-6"></div>
                                <div class="col-lg-3">
                                    <button class="btn btn-default btn-purple">
                                        Search/खोज करें
                                        <i class="bi bi-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </form>
        <button class="searchopen" (click)="toggle()" id="hide" data-toggle="tooltip"
            data-original-title="Click me">Search Panel/पैनेल खोजें
        </button>
    </div>
    <div class="clearfix"></div>

    <div class="row mt-4">
        <div class="col-lg-12">
            <div class="page__rightarea">
                <div class="page__util">
                    <div class="util">
                        <a title="Excel" class="excel" (click)="downloadNotificationList()"><i class="bi bi-file-earmark-excel"></i></a>
                        <a title="Print" class="print" (click)="printPage()"><i class="bi bi-printer"></i></a>
                    </div>
                </div>
            </div>
            <div class="table-responsive" [hidden]="isLoading" id="viewTable">
                <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
                <table class="mat-elevation-z8" mat-table [dataSource]="dataSource" matSort matTableExporter #exporter="matTableExporter">
                    
                    <ng-container matColumnDef="slNo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple"> Sl#/क्र.सं.
                        </th>
                        <td mat-cell *matCellDef="let element">{{ element?.slNo }}</td>
                    </ng-container>

                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple"> Type/प्रकार </th>
                        <td mat-cell *matCellDef="let element">{{ (element?.noticeTypeName) ? (element?.noticeTypeName) : '--'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="notificationMode">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple"> Notification Mode/अधिसूचना मोड
                        </th>
                        <td mat-cell *matCellDef="let element">{{ (element?.notifyModeName) ? (element?.notifyModeName) : '--' }} </td>
                    </ng-container>

                    <ng-container matColumnDef="category">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple"> Category/श्रेणी
                        </th>
                        <td mat-cell *matCellDef="let element">{{ element?.category ? element?.category : '--'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="component">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple"> Component/अवयव
                        </th>
                        <td mat-cell *matCellDef="let element">{{ (element?.component) ? (element?.component) : '--'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="subject">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple" width="25%"> Subject/विषय
                        </th>
                        <td mat-cell *matCellDef="let element">{{ (element?.subject) ? (element?.subject) :'--'}}</td>
                    </ng-container>

                    <ng-container matColumnDef="createdOn">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple"> Created On/पर बनाया
                        </th>
                        <td mat-cell *matCellDef="let element">{{ (element?.createdOn | date:'dd-MMM-yyyy') ? (element?.createdOn | date:'dd-MMM-yyyy') : '--' }} </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple"> Status/दर्जा
                        </th>
                        <td mat-cell *matCellDef="let element">{{ (element?.sendNotifyStatus == 1)? 'Message Sent' : 'Not Send' }}</td>
                    </ng-container>

                    <ng-container matColumnDef="lastSent">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple"> Last Sent/अंतिम भेजा गया
                        </th>
                        <td mat-cell *matCellDef="let element">{{ (element?.lastSentOn != null)? (element?.lastSentOn | date:'dd-MMM-yyyy') : '--' }}</td>
                    </ng-container>

                    <ng-container matColumnDef="sendNotification">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple noPrint"> Send Notification/सूचना भेजें </th>
                        <td mat-cell *matCellDef="let element" class="noPrint">
                            <a title="Take Action" class="btn btn-info btn-sm" href="javasctip:void(0)" (click)="sendNotification(element?.encId)">Send Notification</a>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple noPrint" width="120"> Action/क्रिया </th>
                        <td mat-cell *matCellDef="let element" class="noPrint">
                            <a href="javasctip:void(0)" data-bs-toggle="modal" data-bs-target="#NotificationModal" title="View Details" class="edit-btn me-2" (click)="viewNotificationDetails(element?.encId)"><i class="bi bi-eye-fill"></i></a>

                            <a [routerLink]="['./../editSchoolTeacherNotification/', element?.encId]" title="Edit" class="edit-btn me-2"  *ngIf="adminPrivilege"><i class="bi bi-pencil-square"></i></a> 
                            <a title="Delete" class="delete-btn me-2" style="cursor: pointer" (click)="deleteNotification(element?.encId)" *ngIf="element?.sendNotifyStatus != 1 && adminPrivilege"><i class="bi bi-trash"></i></a>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
                <table>
                    <tr *ngIf="!dataSource.data.length">
                        <td style="text-align: center" [attr.colspan]="resultListData.length" class="mt-2 alert text-center text-uppercase fw-bold border">
                            No Records Found!
                        </td>
                    </tr>
                </table>

                <mat-paginator [hidden]="resultListData?.length === 0" #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)" aria-label="Select page" class="noPrint" showFirstLastButtons>                    
                </mat-paginator>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade"  id="NotificationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Notification
                    Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="popup-loader" *ngIf="showNotificationLoader"><img src="/assets/img/loading.gif" /> <br>Loading. Please wait...</div>
            <div class="modal-body" *ngIf="showNotificationDetails">
                <ng-container *ngFor="let notificationDetail of notificationDetails;let j = index">
                    <div class="row">
                        
                        <div class="col-md-3 form-group">
                            <label class="form-label">Notification Mode<br>अधिसूचना मोड</label>
                        </div>
                        <div class="col-md-8 form-group">
                            <span class="colon">:</span>
                            <label class="form-label fw-normal">{{ (notificationDetail.notifyModeName) ? (notificationDetail.notifyModeName):'--'}}</label>
                        </div>

                        <div class="col-md-3 form-group">
                            <label class="form-label">Category<br>श्रेणी</label>
                        </div>
                        <div class="col-md-8 form-group">
                            <span class="colon">:</span>
                            <label class="form-label fw-normal">{{ (notificationDetail.category) ? (notificationDetail.category) : '--' }}</label>
                        </div>

                        <div class="col-md-3 form-group">
                            <label class="form-label">Component<br>अवयव</label>
                        </div>
                        <div class="col-md-8 form-group">
                            <span class="colon">:</span>
                            <label class="form-label fw-normal">{{ (notificationDetail.component) ? (notificationDetail.component) : '--' }}</label>
                        </div>

                        <div class="col-md-3 form-group">
                            <label class="form-label">Content Type<br>सामग्री प्रकार</label>
                        </div>
                        <div class="col-md-8 form-group">
                            <span class="colon">:</span>
                            <label class="form-label fw-normal">{{ (notificationDetail.contentType == 1) ? 'English' : (notificationDetail.contentType == 2) ? 'Hindi' : 'N/A' }}</label>
                        </div>

                        <div class="col-md-3 form-group">
                            <label class="form-label">Subject<br>विषय</label>
                        </div>
                        <div class="col-md-8 form-group">
                            <span class="colon">:</span>
                            <label class="form-label fw-normal text-justify">{{ (notificationDetail.subject) ? (notificationDetail.subject) : '--' }}</label>
                        </div>

                        <ng-container *ngIf="notificationDetail.notifyMode==1">
                            <div class="col-md-3 form-group">
                                <label class="form-label">Description<br>विवरण</label>
                            </div>
                            <div class="col-md-8 form-group">
                                <span class="colon">:</span>
                                <label class="form-label fw-normal text-justify">{{ (notificationDetail.notifyContent) ? (notificationDetail.notifyContent) : '--' }}</label>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="notificationDetail.typeOfAttachment==2 || notificationDetail.typeOfAttachment==3; else attachmentNA">
                            <ng-container *ngIf="notificationDetail.typeOfAttachment==2">
                                <div class="col-md-3 form-group">
                                    <label class="form-label">Document<br>दस्तावेज़</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    <span class="colon">:</span>
                                    <label class="form-label fw-normal">
                                        <a href="{{ fileUrl + '/' +notificationDetail.document.replace('.', '~') }}" target="_blank" *ngIf="notificationDetail.document; else documentNA"> View Document </a>
                                        <ng-template #documentNA> N/A </ng-template>
                                    </label>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="notificationDetail.typeOfAttachment==3">
                                <div class="col-md-3 form-group">
                                    <label class="form-label">URL<br>यूआरएल</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    <span class="colon">:</span>
                                    <label class="form-label fw-normal">
                                        <a href="{{ notificationDetail.LinkUrl }}" target="_blank" *ngIf="notificationDetail.LinkUrl; else linkNA"> {{ notificationDetail.LinkUrl }} </a>
                                        <ng-template #linkNA> N/A </ng-template>
                                    </label>
                                </div>
                            </ng-container>
                        </ng-container>
                        <ng-template #attachmentNA>
                            <div class="col-md-3 form-group">
                                <label class="form-label">Attachment<br>अनुलग्नक </label>
                            </div>
                            <div class="col-md-8 form-group">
                                <span class="colon">:</span>
                                <label class="form-label fw-normal">N/A<br>एन/ए</label>
                            </div>
                        </ng-template>

                        <div class="col-md-3 form-group">
                            <label class="form-label">State<br>राज्य</label>
                        </div>
                        <div class="col-md-8 form-group">
                            <span class="colon">:</span>
                            <label class="form-label fw-normal">Patna</label>
                        </div>

                        <div class="col-md-3 form-group">
                            <label class="form-label">District<br>ज़िला</label>
                        </div>
                        <div class="col-md-8 form-group">
                            <span class="colon">:</span>
                            <label class="form-label fw-normal">{{ (notificationDetail.districtName) ? notificationDetail.districtCode+' - '+notificationDetail.districtName : '--' }}</label>
                        </div>

                        <div class="col-md-3 form-group">
                            <label class="form-label">Block<br>प्रखंड</label>
                        </div>
                        <div class="col-md-8 form-group">
                            <span class="colon">:</span>
                            <label class="form-label fw-normal">{{ (notificationDetail.blocks) ? (notificationDetail.blocks) : '--' }}</label>
                        </div>

                        <div class="col-md-3 form-group">
                            <label class="form-label">Cluster<br>समूह </label></div>
                        <div class="col-md-8 form-group">
                            <span class="colon">:</span>
                            <label class="form-label fw-normal">{{ (notificationDetail.clusters) ? (notificationDetail.clusters) : '--' }}</label>
                        </div> 

                        <div class="col-md-3 form-group">
                            <label class="form-label">Management<br>प्रबंधन
                            </label></div>
                        <div class="col-md-8 form-group">
                            <span class="colon">:</span>
                            <label class="form-label fw-normal">{{ (notificationDetail.management) ? (notificationDetail.management) : '--' }}</label>
                        </div> 

                        <div class="col-md-3 form-group">
                            <label class="form-label">SchoolCategory<br>विद्यालय श्रेणी
                            </label></div>
                        <div class="col-md-8 form-group">
                            <span class="colon">:</span>
                            <label class="form-label fw-normal">{{ (notificationDetail.schoolCategory) ? (notificationDetail.schoolCategory) : '--' }}</label>
                        </div> 

                        <ng-container *ngIf="notificationDetail.noticeType == 1 || notificationDetail.noticeType == 2; else userData">
                        
                        <ng-container *ngIf="notificationDetail.noticeType == 2">
                            <div class="col-md-3 form-group">
                                <label class="form-label">School<br> विद्यालय
                                </label></div>
                            <div class="col-md-8 form-group">
                                <span class="colon">:</span>
                                <label class="form-label fw-normal">{{ (notificationDetail.schools) ? (notificationDetail.schools) : '--' }}</label>
                            </div> 
                        </ng-container>
                        <ng-container *ngIf="notificationDetail.noticeType == 1">
                            <div class="col-md-3 form-group">
                                <label class="form-label">School</label></div>
                            <div class="col-md-8 form-group">
                                <span class="colon">:</span>
                                <label class="form-label fw-normal">{{ (notificationDetail.schools) ? (notificationDetail.schools) : '--' }}</label>
                            </div> 

                            <div class="col-md-3 form-group">
                                <label class="form-label">Teacher<br>शिक्षक
                                </label></div>
                            <div class="col-md-8 form-group">
                                <span class="colon">:</span>
                                <label class="form-label fw-normal">{{ (notificationDetail.teachers) ? (notificationDetail.teachers) : '--' }}</label>
                            </div> 
                        </ng-container>
                        
                        </ng-container>
                        <ng-template #userData>
                            <div class="col-md-3 form-group">
                                <label class="form-label">userList<br>उपयोगकर्ता सूची
                                </label>
                            </div>
                            <div class="col-md-8 form-group">
                                <span class="colon">:</span>
                                <label class="form-label fw-normal">N/A<br>एन/ए</label>
                            </div>
                        </ng-template>
                    </div>
                </ng-container>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close/बंद करें</button>
            </div>
        </div>
    </div>
</div>