<div>
  <div class="pageHeading">
    <div class="heading__tab">
      <h3 class="pageName">Health Check up / स्वास्थ्य जांच</h3>
      <div class="tab__section">
        <a routerLink="./../viewDocterDetails" class="tablink" routerLinkActive="active" *ngIf="this.tabs.includes('Doctor Details')">Doctor Details / डॉक्टर का विवरण</a>
        <a routerLink="./../viewHealthCheckUp" class="tablink" routerLinkActive="active" *ngIf="this.tabs.includes('Health Check Up')">Health Check up / स्वास्थ्य जांच</a>
      </div>
    </div>
    <div class="tabArea">
      <a routerLink="./../addHealthCheckUp" class="neuro addLink" routerLinkActive="active"
      *ngIf="adminPrivilege"><i class="bi bi-plus-lg me-2"></i>Add  / जोड़ें</a>
      <a class="neuro viewLink active"><i class="bi bi-eye me-2"></i>View / देखे</a>
      <span class="indicator">( * ) Indicates Mandatory</span>
    </div>
  </div>
  <div class="top-space">
    <ng-container *ngIf="show">
      <div class="search-container">
        <div class="search-sec" id="searchPanel" style="display: block;">
          <div class="searchPanel">
            <form name="form" class="form-horizontal" (ngSubmit)="onSearch()" #searchForm="ngForm" novalidate>
              <div class="row">
                <div class="col-lg-2 form-group">
                  <div class=""><label for="exampleInputEmail1" class="form-label">Academic Year <br>शैक्षणिक वर्ष </label></div>
                </div>
                <div class="col-lg-3 form-group">
                  <div class="">
                    <span class="colon">:</span>
                    <select class="form-select" aria-label="Default select example" [(ngModel)]="searchAcademicYear"
                      name="searchAcademicYear">
                      <option value="{{this.academicYear}}">{{this.academicYear}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-2 form-group">

                  <label for="" class="form-label">District <br>जिला</label>

                </div>
                <div class="col-lg-3 form-group">
                  <div class="">
                    <span class="colon">:</span>
                    <select class="form-select" aria-label="Default select example" [(ngModel)]="searchDistrictId"
                      name="searchDistrictId" autocomplete="off" (change)="getBlock($any($event.target).value)">
                      <option value="" *ngIf="scDisrtictSelect == true">
                        --- Select ---
                      </option>
                      <option value="" *ngIf="scDisrtictLoading == true">
                        Loading...
                      </option>
                      <option *ngFor="let districtItem of searchDistrictData" [value]="districtItem.districtId">
                        {{ districtItem.districtCode }} -
                        {{ districtItem.districtName }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-1">
                  <img src="assets/img/loading.gif" *ngIf="scDisrtictLoading==true" alt="dsd">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-2 form-group">

                  <label for="" class="form-label">Block <br>प्रखण्ड</label>

                </div>
                <div class="col-lg-3 form-group">
                  <div class="">
                    <span class="colon">:</span>
                    <select class="form-select" aria-label="Default select example" [(ngModel)]="searchBlockId"
                      name="searchBlockId" autocomplete="off" (change)="getCluster($any($event.target).value)">
                      <option value="" *ngIf="scBlockSelect == true">
                        --- Select ---
                      </option>
                      <option value="" *ngIf="scBlockLoading == true">
                        Loading...
                      </option>
                      <option *ngFor="let blockItem of searchBlockData" [value]="blockItem.blockId">
                        {{ blockItem.blockCode }} - {{ blockItem.blockName }}
                      </option>
                    </select>
                  </div>

                </div>
                <div class="col-lg-1">
                  <img src="assets/img/loading.gif" *ngIf="scBlockLoading==true" alt="dsd">
                </div>
                <div class="col-lg-2 form-group">

                  <label for="exampleInputEmail1" class="form-label">Cluster <br>संकुल</label>

                </div>
                <div class="col-lg-3 form-group">
                  <div class="">
                    <span class="colon">:</span>
                    <select class="form-select" aria-label="Default select example" [(ngModel)]="searchClusterId"
                      name="searchClusterId" autocomplete="off" (change)="getSchool($any($event.target).value)">
                      <option value="" *ngIf="scClusterSelect == true">
                        --- Select ---
                      </option>
                      <option value="" *ngIf="scClusterLoading == true">
                        Loading...
                      </option>
                      <option *ngFor="let clusterItem of clusterData" [value]="clusterItem.clusterId">
                        {{ clusterItem.clusterCode }} -
                        {{ clusterItem.clusterName }}
                      </option>
                    </select>

                  </div>

                </div>
                <div class="col-lg-1">
                  <img src="assets/img/loading.gif" *ngIf="scClusterLoading==true" alt="dsd">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-2 form-group">

                  <label for="exampleInputEmail1" class="form-label">School <br>विद्यालय</label>
                </div>
                <div class="col-lg-3 form-group">
                  <div class="">
                    <span class="colon">:</span>
                    <select class="form-select" aria-label="Default select example" [(ngModel)]="searchSchoolId"
                      name="searchSchoolId" autocomplete="off"
                      (change)="getSchoolWiseClasses($any($event.target).value)">
                      <option value="" *ngIf="scSchoolSelect == true">
                        --- Select ---
                      </option>
                      <option value="" *ngIf="scSchoolLoading == true">
                        Loading...
                      </option>
                      <option *ngFor="let schoolItem of getSchoolData" [value]="schoolItem.schoolId">
                        {{ schoolItem.schoolUdiseCode }} -
                        {{ schoolItem.schoolName }}
                      </option>
                    </select>
                  </div>

                </div>
                <div class="col-lg-1">
                  <img src="assets/img/loading.gif" *ngIf="scSchoolLoading==true" alt="dsd">
                </div>
                <div class="col-lg-2 form-group">

                  <label for="" class="form-label">Class <br>वर्ग</label>

                </div>
                <div class="col-lg-3 form-group">
                  <div class="">
                    <span class="colon">:</span>
                    <select class="form-select" aria-label="Default select example" [(ngModel)]="classId" name="classId"
                      (change)="classChange($any($event.target).value)">
                      <option value="" *ngIf="classChanged == false">
                        --- Select ---
                      </option>
                      <option value="" *ngIf="classChanged == true">
                        Loading...
                      </option>
                      <option *ngFor="let classItem of classData" [value]="classItem.classId">
                        {{ classItem.class }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 form-group">
                  <div id="science" class="row">
                    <div class="col-lg-4 form-group">
                      <label for="" class="form-label">Doctor Name</label>
                    </div>
                    <div class="col-lg-6 form-group">
                      <span class="colon">:</span>
                      <select class="form-select" aria-label="Default select example" [(ngModel)]="doctorId"
                        name="doctorId">
                        <option selected value="">--Select--</option>
                        <option *ngFor="let item of doctorData" [value]="item.doctorDetailsId">
                          {{ item.doctorName }}
                        </option>
                      </select>

                    </div>
                    <div class="col-lg-1"></div>
                  </div>
                </div>
                <div class="col-lg-2 form-group">
                  <div>
                    <label for="" class="form-label"> Date <br>दिनांक </label>
                  </div>
                </div>
                <div class="col-lg-3 form-group">
                  <div>
                    <span class="colon">:</span>
                    <!-- <input type="date" class="form-control" [(ngModel)]="checkupDate" name="checkupDate"> -->
                    <input class="form-control" #datepickerYlg="bsDatepicker" placeholder="DD-MM-YYYY" bsDatepicker
                    [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"id="exampleInputEmail1" aria-describedby="emailHelp" [maxDate]="maxDate" [(ngModel)]="checkupDate" name="checkupDate" readonly>
                  </div>
                </div>
              </div>
              <div class="row">
                <!-- <ng-container *ngIf="classId !==''"> -->
                  <div class="col-lg-2 form-group">
                    <div class=""><label for="" class="form-label">Section <br>भाग</label></div>
                  </div>
                  <div class="col-lg-3 form-group">
                    <div class="">
                      <span class="colon">:</span>
                      <select class="form-select" aria-label="Default select example" [(ngModel)]="sectionId"
                        name="sectionId">
                        <option selected value="">--Select--</option>
                        <option *ngFor="let item of sectionData" [value]="item.anxtValue">
                          {{ item.anxtName }}
                        </option>
                      </select>
                    </div>
                  </div>
                <!-- </ng-container> -->
                <div class="col-lg-1"></div>
                <div class="col-lg-2 form-group">
                  <div class="">
                    <label class="form-label">Student Code <br> छात्र का कोड</label>
                  </div>
                </div>
                <div class="col-lg-3 form-group">
                  <div class="">
                    <span class="colon">:</span>
                    <input type="text" class="form-control" [(ngModel)]="studentCode"
                    name="studentCode" (keypress)="customValidators.keyPressNumbers($event)"
                    [maxlength]="15">
                  </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-6 form-group">
                  <ng-container *ngIf="classId == 11 || classId == 12">
                    <div id="11" class="row">
                      <div class="col-lg-4 form-group">
                        <label for="" class="form-label">Stream <br>धाराएँ</label>
                      </div>
                      <div class="col-lg-6 form-group">
                        <span class="colon">:</span>
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="streamId"
                          name="streamId" (change)="streamChange($any($event.target).value)">
                          <option selected value="">--Select--</option>
                          <option *ngFor="let item of streamData" [value]="item.anxtValue">
                            {{ item.anxtName }}
                          </option>
                        </select>

                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 form-group">
                  <ng-container *ngIf="streamId == 3 && (classId == 11 || classId == 12)">
                    <div id="science" class="row">
                      <div class="col-lg-4 form-group">
                        <label for="" class="form-label">Group</label>
                      </div>
                      <div class="col-lg-6 form-group">
                        <span class="colon">:</span>
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="groupId"
                          name="groupId">
                          <option selected value="">--Select--</option>
                          <option *ngFor="let item of groupData" [value]="item.anxtValue">
                            {{ item.anxtName }}
                          </option>
                        </select>

                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
              <div class="row">
                <div class=""><button class="btn btn-default btn-purple"> Search <i class="bi bi-search"></i></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </ng-container>
    <button class="searchopen" (click)="toggle()" id="hide" data-toggle="tooltip" data-original-title="Click me">Search
      Panel</button>
  </div>
  <div class="clearfix"></div>
  <div class="row ">
    <div class="col-lg-12" [hidden]="resultListData?.length === 0">
      <div class="page__rightarea">
        <div class="page__util">
          <div class="util">
                 <a title="Excel" class="excel" (click)="downLoadHealthCheckUpList()"><i class="bi bi-file-earmark-excel"></i></a>
                 <a title="Print" class="print" (click)="printPage()"><i class="bi bi-printer"></i></a>
          </div>
        </div>
      </div>
      <div class="table-responsive"  id="viewTable">

        <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<div  class="table-responsive" >
        <table class="mat-elevation-z8" mat-table [dataSource]="dataSource" matSort matTableExporter
          #exporter="matTableExporter">
          <ng-container matColumnDef="slNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple">
              Sl.No / क्रमांक
            </th>
            <td mat-cell *matCellDef="let element">{{ element?.slNo }}</td>
          </ng-container>

          <ng-container matColumnDef="Student_Name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple">
              Student Name / छात्र का नाम
            </th>
            <td mat-cell *matCellDef="let element">{{(element?.studentName) ? element?.studentName:'--' }}</td>
          </ng-container>

          <ng-container matColumnDef="Student_Code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple">
              Student Code
            </th>
            <td mat-cell *matCellDef="let element">{{(element?.studentCode) ? element?.studentCode:'--' }}</td>
          </ng-container>

          <ng-container matColumnDef="Chest">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple">
              Chest / छाती
            </th>
            <td mat-cell *matCellDef="let element">{{(element?.chest) ? element?.chest:'--' }}</td>
          </ng-container>
          <ng-container matColumnDef="dental">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple">
              Dental / दंत चिकित्सा
            </th>
            <td mat-cell *matCellDef="let element">{{(element?.dental) ? element?.dental:'--' }}</td>
          </ng-container>
          <ng-container matColumnDef="throat">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple">
              Throat / गला
            </th>
            <td mat-cell *matCellDef="let element">{{(element?.throat) ? element?.throat:'--' }}</td>
          </ng-container>

          <ng-container matColumnDef="Left_Eye">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple">
              Left Eye / बाईं आँख
            </th>
            <td mat-cell *matCellDef="let element">{{(element?.leftEye) ? element?.leftEye :'--' }}</td>
          </ng-container>

          <ng-container matColumnDef="Right_Eye">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple">
              Right Eye  / दाईं आंख
            </th>
            <td mat-cell *matCellDef="let element">{{(element?.rightEye) ? element?.rightEye :'--' }}</td>
          </ng-container>
          <ng-container matColumnDef="Hemoglobin_Level">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple">
              Hemoglobin Level / हीमोग्लोबिन स्तर (Grams per Deciliter)
            </th>
            <td mat-cell *matCellDef="let element">{{(element?.hemoglobinLevel) ? element?.hemoglobinLevel :'--' }}</td>
          </ng-container>
          <ng-container matColumnDef="Dose_of_De_Worming">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple">
              Dose of De Worming / डी-वर्मिंग की खुराक
            </th>
            <td mat-cell *matCellDef="let element">{{element?.doseOfDeworming}}</td>
          </ng-container>
          <ng-container matColumnDef="Hearing">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple">
              Hearing / सुनवाई (In Decibels)
            </th>
            <td mat-cell *matCellDef="let element">{{(element?.hearing) ? element?.hearing :'--' }}</td>
          </ng-container>
          <ng-container matColumnDef="Chronic_Disease">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple">
              Chronic Disease / पुरानी बीमारी
            </th>
            <td mat-cell *matCellDef="let element">{{(element?.chronicDisease) ? element?.chronicDisease :'--' }}</td>
          </ng-container>
          <ng-container matColumnDef="Weight">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple">
              Weight / वजन (In Kg)
            </th>
            <td mat-cell *matCellDef="let element">{{(element?.weight) ? element?.weight :'--' }}</td>
          </ng-container>
          <ng-container matColumnDef="Height">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple">
              Height / ऊँचाई (In Cm)
            </th>
            <td mat-cell *matCellDef="let element">{{(element?.height) ? element?.height :'--' }}</td>
          </ng-container>
          <ng-container matColumnDef="BMI">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple">
              BMI / बीएमआई
            </th>
            <td mat-cell *matCellDef="let element">{{(element?.bmi) ? element?.bmi :'--' }}</td>
          </ng-container>
          <ng-container matColumnDef="Blood_Pressure">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple">
              Blood Pressure / ब्लड प्रेशर
            </th>
            <td mat-cell *matCellDef="let element">{{(element?.bloodPressure) ? element?.bloodPressure :'--' }}</td>
          </ng-container>
          <ng-container matColumnDef="Doctor's_Name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple">
              Doctor Name
            </th>
            <td mat-cell *matCellDef="let element">{{(element?.doctorName) ? element?.doctorName :'--' }}</td>
          </ng-container>
          <ng-container matColumnDef="Checkup_Date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple">
              Checkup Date / चेकअप दिनांक
            </th>
            <td mat-cell *matCellDef="let element">{{(element?.checkupDate) ? (element?.checkupDate|date:'dd-MMM-yyyy')
              :'--' }}</td>
          </ng-container>
          <ng-container matColumnDef="Doctor's_Advice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple">
              Doctor's Advice / डॉक्टर की सलाह
            </th>
            <!-- <td mat-cell *matCellDef="let element">{{(element?.doctorAdvice) ? element?.doctorAdvice :'--' }}</td> -->
            <td mat-cell *matCellDef="let element"> {{ element?.doctorAdvice?.length > 60 ? (element?.doctorAdvice
              | slice:0:60):element?.doctorAdvice }}
              <small style="font-style: italic;" *ngIf="element?.doctorAdvice?.length > 60"> ... <a
                  href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#viewDescription"
                  (click)="showDoctorAdvice(element?.doctorAdvice)">View More</a></small>
            </td>
          </ng-container>

          <ng-container matColumnDef="Emergency_Contact_No">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple">
              Emergency Contact No. / आपातकालीन संपर्क सं.
            </th>
            <td mat-cell *matCellDef="let element">{{(element?.emergencyCntNo) ? element?.emergencyCntNo :'--' }}</td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple noPrint">
              Action / गतिविधि
            </th>
            <td mat-cell *matCellDef="let element" class="action-link noPrint">
              <a title="Edit" [routerLink]="['./../editHealthCheckUp/', element?.encId]" class="edit-btn me-2"><i
                  class="bi bi-pencil-square text-primary"></i></a>
              <!-- <a title="Delete" class="delete-btn me-2" style="cursor: pointer"
                      (click)="deleteDoctorDetails(element?.encId)"><i class="bi bi-trash"></i></a> -->
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
        <table>
          <tr *ngIf="!dataSource.data.length">
            <td style="text-align: center;font-weight: bold;" [attr.colspan]="resultListData.length"
              class="mt-2 text-danger">
              No Records Found!
            </td>
          </tr>
        </table>
        <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
          [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)" aria-label="Select page"
          showFirstLastButtons class="noPrint">
        </mat-paginator>
      </div>
    </div>
    <div class="alert alert-info text-center fw-bold" role="alert" *ngIf="isNorecordFound">
      {{ "No record found..." }}
    </div>
    <div class="alert alert-info text-center  fw-bold" role="alert" *ngIf="isInitAdmin">
      {{ "Please search to find health checkup details lists" }}
    </div>

  </div>
</div>
<!-- View Doctor details Modal -->
<div class="modal fade" id="viewDescription" tabindex="-1" aria-labelledby="viewDescriptionLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Doctor's Advice / डॉक्टर की सलाह</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-4">
        <div class="row">
          <div class="col-lg-12 form-group" id="descriptionText">{{ descFullText }}</div>
        </div>
      </div>
    </div>
  </div>
</div>