<div>
    <div class="pageHeading">
        <div>
            <span class="indicator">( * ) Indicates Mandatory</span>
        </div>
        <div class="tabArea">

        </div>
    </div>
    <div class="top-space " style="margin-left:300px; margin-top: 80px;">
        <h3 class="pageName mt-4">Change Password</h3>
        <form [formGroup]="changepwdForm">
        <div class="row mt-4">
           
            <div class="col-lg-2 form-group">
                <label for="exampleInputEmail1" class="form-label">Current
                    Password </label>
            </div>
            <div class="col-lg-3 form-group">
                <span class="colon">:</span>
                <input type="password" formControlName="currPass"  class="form-control">
                <span class="mandatory">*</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 form-group">
                <label for="exampleInputEmail1" class="form-label"> New Password</label>
            </div>
            <div class="col-lg-3 form-group">
                <span class="colon">:</span>
                <input type="password" [maxlength]="15" formControlName="userPass"  #userPass  class="form-control" (blur)="validPassword(userPass,'New Password')">
                <span class="mandatory">*</span>
            </div>
        </div>
        <div class="row formpatch">
            <div class="col-lg-2 form-group">
                <label for="exampleInputEmail1" class="form-label">Confirm New
                    Password </label>
            </div>
            <div class="col-lg-3 form-group">
                <span class="colon">:</span>
                <input type="password" [maxlength]="15" formControlName="userConfPass" class="form-control">
                <span class="mandatory">*</span>
            </div>
        </div>
        <div>
            <!-- <button class="btn btn-success me-2">Submit</button> -->
            <input type="button" value="Submit" (click)="resetPwd()" class="btn btn-success me-2">

        </div>
        </form>
    </div>

