<button (click)="generateExcel()">Excel template</button>
<br />
<br />
<input
  accept=".xlsx,.xls,"
  type="file"
  (change)="onFileUpload($event)"
  #fileRef
  multiple="false"
/>
<hr />
<!-- <table class="sjs-table">
  <tbody>
    <tr *ngFor="let row of excelData">
      <td *ngFor="let val of row">
        {{ val }}
      </td>
    </tr>
  </tbody>
</table> -->
<!-- table -->
<div class="mt-4" [hidden]="tableData?.length === 0">
  <div class="table-responsive">
    <mat-progress-bar
      mode="indeterminate"
      *ngIf="matTable.isLoading"
    ></mat-progress-bar>
    <table
      class="mat-elevation-z8"
      mat-table
      [dataSource]="matTable.dataSource"
      matSort
      matTableExporter
      #exporter="matTableExporter"
    >
      <ng-container matColumnDef="slNo">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="bg-lightpurple"
        >
          Sl No. / क्रमांक
        </th>
        <td
          mat-cell
          *matCellDef="let element; let i = index"
          [style.background-color]="getColorStatus(element)"
        >
          {{ i + 1 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="School Name">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="bg-lightpurple"
        >
          School
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          [style.background-color]="getColorStatus(element)"
        >
          {{ element?.schoolName || "--" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Unique Agency Name">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="bg-lightpurple"
        >
          Unique Agency Code
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          [style.background-color]="getColorStatus(element)"
        >
          {{ element?.agencyName || "--" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="UDISE code">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="bg-lightpurple"
        >
          UDISE code
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          [style.background-color]="getColorStatus(element)"
        >
          {{ element?.udiseCode || "--" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Bank Account Number">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="bg-lightpurple"
        >
          Bank Account Number
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          [style.background-color]="getColorStatus(element)"
        >
          {{ element?.bankAcc || "--" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Bank Name">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="bg-lightpurple"
        >
          Bank name
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          [style.background-color]="getColorStatus(element)"
        >
          {{ element?.bankName || "--" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="IFSC">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="bg-lightpurple"
        >
          IFSC
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          [style.background-color]="getColorStatus(element)"
        >
          {{ element?.ifsc || "--" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Grant Fund Name">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="bg-lightpurple"
        >
          Grant Fund Name
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          [style.background-color]="getColorStatus(element)"
        >
          {{ element?.grantFundName || "--" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Amount">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="bg-lightpurple"
        >
          Amount
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          [style.background-color]="getColorStatus(element)"
        >
          {{ element?.amount || "--" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Letter No / Ref. No">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          class="bg-lightpurple"
        >
          Letter No / Ref. No
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          [style.background-color]="getColorStatus(element)"
        >
          {{ element?.letterNo || "--" }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="matTable.displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: matTable.displayedColumns"></tr>
    </table>

    <mat-paginator
      #paginator
      [length]="matTable.totalRows"
      [pageIndex]="matTable.currentPage"
      [pageSize]="matTable.pageSize"
      [pageSizeOptions]="getPageSizeOptions"
      (page)="onPageChange($event)"
      aria-label="Select page"
      class="noPrint"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>

<div [hidden]="tableData?.length === 0">
  <a class="btn btn-primary me-2" (click)="onSubmit()">Sync</a>
</div>
