<div>
    <div class="pageHeading">
    <div><h3 class="pageName">Edit School Category /स्कूल श्रेणी संपादित करें</h3><span class="indicator">( * ) Indicates Mandatory / ( * ) संकेतक अनिवार्य</span></div>
    <div class="tabArea">
        <a class="neuro addLink disabled active" *ngIf="adminPrivilege"><i class="bi bi-plus-lg me-2"></i>Edit/संपादन करना</a>
        <a routerLink="../../viewCategory" class="neuro viewLink" routerLinkActive="active" ><i class="bi bi-eye me-2"></i>View/ देखे</a> 
    </div>
    </div>
    <div>
        <form [formGroup]="schoolCategoryForm" (ngSubmit)="onSubmit()">
    <div class="formpatch top-space">
       
    <div class="row">
        <input type="hidden" formControlName="encId"> 
        <div class="col-lg-2 col-md-12 form-group">
             <label  class="form-label">School Category <br>विद्यालय श्रेणी </label>
        </div>
       <div class="col-lg-3 col-md-12 form-group">   
               <span class="colon">:</span>  
               <input  type="hidden" tabindex="0" class="form-control" formControlName="schoolCategoryName" (keypress)="
               customValidators.alphaNumericValidator(
                 $event,'space','dot','hyphen','slash','comma')" maxlength="50" >
                 <label  class="form-label fw-bold">{{schoolCategoryName}}</label> 
        </div>
        <div class="col-lg-6 col-md-12"></div>
        <div class="col-lg-2 col-md-12 form-group">
            <label  class="form-label">School Type Tagging <br>विद्यालय प्रकार टैगिंग</label>
        </div>
        <div class="col-lg-6 col-md-12 form-group"> 
                <span class="colon">:</span>
                <div  class="check__box mb-3 class--checkbox">
                    <div  class="form-group checkbox" *ngFor="let item of anextureType; let i=index;" >
                        <input  type="checkbox" [id]="item.anxtName" class="check" [value]="item.anxtValue"  (change)="onCheckboxChange($event)" [checked]="schoolTaggingArray.includes(item.anxtValue)">
                        <label  [for]="item.anxtName">{{item.anxtName}}</label>
                    </div>
               </div>
        </div>
        
    </div>

</div>
<div>
    <button class="btn btn-success me-2 mb-2">Update/अपडेट करें</button> 
    <button type="reset" class="btn btn-danger me-2 mb-2" (click)="formCancel()">Cancel / रद्द करे</button>
</div>
</form>
</div>

 



