/* .bg-lightpurple {
	background-color: rgb(150 118 199)!important;
	color: #fff!important;
}
.table>tbody>tr>td {font-size: 13px; padding: 4px!important;}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
    padding: 5px!important;
} */