
tr th
{
    text-align: center;
}
td
{
    text-align: center;
}
#norecord{
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    height: 80px;
}

@media print{
    .noprint{
        display:none;
    }
 }
