<form [formGroup]="CreateTraining" (ngSubmit)="onSubmit()" autocomplete="off">
  <div>
    <div class="pageHeading">
      <div class="heading__tab">
        <div>
          <h3 class="pageName">Manage Training Batch / प्रशिक्षण बैच</h3>
        </div>
      </div>
      <span class="indicator">( * ) Indicates Mandatory / अनिवार्य सूचना</span>
      <div class="tabArea">
        <a routerLink="../../editTrainingBatch/{{ encId }}" class="neuro addLink" routerLinkActive="active"><i
            class="bi bi-plus-lg me-2"></i>Edit / जोड़ें</a>
        <a routerLink="../../viewTrainingBatch" class="neuro addLink" routerLinkActive="active"><i
            class="bi bi-eye me-2"></i>View / देखें</a>
        <a routerLink="../../viewTeacherListBatch" class="neuro addLink" routerLinkActive="active"><i
            class="bi bi-eye me-2"></i>Trainee List / प्रशिक्षु की सूची
        </a>
      </div>
    </div>

    <div class="formpatch top-space">
      <div class="row">
        <div class="col-md-2 form-group">
          <label for="exampleInputEmail1" class="form-label">Academic Year </label><br />शैक्षणिक वर्ष
        </div>
        <div class="col-md-3 form-group">
          <span class="colon">:</span>
          <input type="hidden" class="form-control" formControlName="encId" aria-describedby="encId" />
          <select class="form-select" aria-label="Default select example" formControlName="academicYear" tabindex="1">
            <option *ngFor="let years of preAndPastYear" value="{{this.years ? this.years : '--'}}">
              {{ this.years }}
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 form-group">
          <label for="exampleInputEmail1" class="form-label">Training Subject</label><br />प्रशिक्षण विषय
        </div>
        <div class="col-md-3 form-group">
          <span class="colon">:</span>
          <select formControlName="trainingSubject" (change)="getTrainingName($any($event.target).value)"
            aria-label="Default select example" class="form-select">
            <option value="" *ngIf="loadingObj?.subjectLoad == false">
              --Select / चुनें--
            </option>
            <option value="" *ngIf="loadingObj?.subjectLoad == true">
              Loading...
            </option>
            <option *ngFor="let subject of res" [value]="subject.subjectId">
              {{ subject.subject }}
            </option>
          </select>
          <span class="mandatory">*</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 form-group">
          <label for="exampleInputEmail1" class="form-label">Training Name</label><br />प्रशिक्षण का नाम
        </div>
        <div class="col-md-3 form-group">
          <span class="colon">:</span>
          <select aria-label="Default select example" formControlName="trainingId"  name="trainingId" id="trainingId" #trainingId class="form-select"
          (change)="checkValid({level:trainingLevel.value,TrainingId:$any($event.target).value});getTeacherCount({TrainingId:$any($event.target).value,level:trainingLevel.value,scDistrictId:scDistrictId.value,scBlockId:scBlockId.value});">
            <option value="" *ngIf="loadingObj?.traiingLoading == false">
              --Select / चुनें--
            </option>
            <option value="" *ngIf="loadingObj?.traiingLoading == true">
              Loading...
            </option>
            <option *ngFor="let train of training" [value]="train.trainingId">
              {{ train.trainingName }}
            </option>
          </select>
          <span class="mandatory">*</span>
        </div>
        <div class="col-md-1">
          <img src="assets/img/loading.gif" *ngIf="loadingObj?.traiingLoading == true" alt="dsd" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 form-group">
          <label for="exampleInputEmail1" class="form-label">Training Department</label><br />प्रशिक्षण विभाग
        </div>
        <div class="col-md-3 form-group">
          <span class="colon">:</span>
          <select formControlName="department" aria-label="Default select example" class="form-select">
            <option value="" *ngIf="loadingObj.departmentload == false">
              --Select / चुनें--
            </option>
            <option value="" *ngIf="loadingObj.departmentload == true">
              Loading...
            </option>
            <option *ngFor="let dep of departmentList" [value]="dep.anxtValue">
              {{ dep.anxtName }}
            </option>
          </select>
          <span class="mandatory">*</span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 form-group">
          <label for="exampleInputEmail1" class="form-label">Training Level</label><br />प्रशिक्षण का स्तर
        </div>
        <div class="col-md-3 form-group">
          <span class="colon">:</span>
          <select aria-label="Default select example" formControlName="trainingLevel" class="form-select">
            <!-- <option value="">--Select / चुनें--</option> -->
            <option  [value]="this.anxtValue">
              {{this.anxtName}}
            </option>
          </select>
          <span class="mandatory">*</span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 form-group">
          <label for="exampleInputEmail1" class="form-label">District</label><br />जिला
        </div>
        <div class="col-md-3 form-group">
          <span class="colon">:</span>
          <select formControlName="scDistrictId" id="scDistrictId" class="form-select scDistrictId"
            aria-label="Default select example" (change)="getBlock($any($event.target).value)" #district>
            <option value="" *ngIf="scDisrtictChanged == true">
              --Select / चुनें--
            </option>
            <option value="" *ngIf="scDisrtictChangedload == true">
              Loading...
            </option>
            <option *ngFor="let item of districtData" [value]="item.districtId">
              {{ item.districtCode }} - {{ item.districtName }}
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 form-group">
          <label for="exampleInputEmail1" class="form-label">Block </label><br />प्रखण्ड
        </div>
        <div class="col-md-3 form-group">
          <span class="colon">:</span>
          <select formControlName="scBlockId" class="form-select scBlockId" aria-label="Default
                                select example" #block>
            <option value="" *ngIf="scBlockChanged == false">
              --Select / चुनें--
            </option>
            <option *ngFor="let item of blockData" [value]="item.blockId">
              {{ item.blockCode }} - {{ item.blockName }}
            </option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 form-group">
          <label for="exampleInputEmail1" class="form-label">Training Location </label><br />प्रशिक्षण स्थान
        </div>
        <div class="col-md-3 form-group">
          <span class="colon">:</span>
          <select formControlName="tLocation" class="form-select" aria-label="Default select example">
            <option value="" *ngIf="loadingObj.traningLoc == false">
              --Select / चुनें--
            </option>
            <option value="" *ngIf="loadingObj.traningLoc == true">
              Loading...
            </option>
            <option *ngFor="let trainingLocation of trainingLocationType" [value]="trainingLocation.anxtValue">
              {{ trainingLocation.anxtName }}
            </option>
          </select>
          <span class="mandatory">*</span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 form-group">
          <label for="exampleInputEmail1" class="form-label">Total No. of Master Trainers Available for
            Training</label><br />प्रशिक्षण के लिए उपलब्ध मास्टर प्रशिक्षकों की कुल संख्या
        </div>
        <div class="col-md-3 form-group">
          <span class="colon">:</span>

          <input type="text" formControlName="noOfMaster" id="exampleInputEmail1" aria-describedby="emailHelp"
            class="form-control" value="{{ totalNoTrainer }}" readonly />
        </div>
        <div class="col-md-1">
          <img src="assets/img/loading.gif" *ngIf="loadingObj?.noOfMasterload == true" alt="dsd" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 form-group">
          <label for="exampleInputEmail1" class="form-label">Create Batches</label><br />बैच बनाएं
        </div>
        <div class="col-md-3 form-group">
          <span class="colon">:</span>
          <!-- <ng-multiselect-dropdown [placeholder]="'Select Batches'" [settings]="dropdownSettings" [data]="batches"
            formControlName="batchesList">
          </ng-multiselect-dropdown> -->
          <input type="text" formControlName="batchesList" id="exampleInputEmail1" aria-describedby="emailHelp"
            class="form-control" maxlength="1" (keypress)="customValidators.keyPressNumbers($event)" />
          <span class="mandatory">*</span>
        </div>
      </div>
      
    </div>
  </div>
  <div>
    <button type="submit" class="btn btn-success me-2">
     Update
    </button>
    
  </div>
</form>