
<ng-container *ngIf="tab1==true">
    <div class="tab__section">
        <a routerLink="../../subject" class="tablink d-inline-block" routerLinkActive="active">Subject / विषय</a>
        <a routerLink="../../subjectTagging" class="tablink d-inline-block" routerLinkActive="active">Subject Tagging / विषय टैगिंग</a>
        <a routerLink="../../indicator" class="tablink d-inline-block" routerLinkActive="active">Indicator / सीखने के बिन्दु	</a>
        <a routerLink="../../context" class="tablink d-inline-block" routerLinkActive="active">Context / संदर्भ</a>
        <a routerLink="../../contextTagging" class="tablink d-inline-block" routerLinkActive="active">Context Tagging / संदर्भ टैगिंग</a>
    </div>
</ng-container>
<ng-container *ngIf="tab2==true">
    <div class="tab__section">
        <a routerLink="../../../subject" class="tablink d-inline-block" routerLinkActive="active">Subject / विषय</a>
        <a routerLink="../../../subjectTagging" class="tablink d-inline-block" routerLinkActive="active">Subject Tagging / विषय टैगिंग</a>
        <a routerLink="../../../indicator" class="tablink d-inline-block" routerLinkActive="active">Indicator / सीखने के बिन्दु	</a>
        <a routerLink="../../../context" class="tablink d-inline-block" routerLinkActive="active">Context/ संदर्भ</a>
        <a routerLink="../../../contextTagging" class="tablink d-inline-block" routerLinkActive="active">Context Tagging  / संदर्भ टैगिंग</a>
    </div>
</ng-container>