<div>
  <div class="pageHeading">
    <div class="heading__tab d-flex justify-content-end">
      <div class="tab__section">
        <a
          routerLink="./../../generate/view"
          class="tablink d-inline-block"
          routerLinkActive="active"
          *ngIf="this.tabs.includes('Promotion List Generation')"
        >
          Promotion List Generation <br />
          पदोन्नति सूची जनरेशन</a
        >
        <a
          routerLink="./"
          class="tablink d-inline-block"
          routerLinkActive="active"
          *ngIf="this.tabs.includes('Approve Promotion List')"
          >Approve Promotion List <br />
          पदोन्नति सूची स्वीकृत करें</a
        >

        <a
          routerLink="./../../schoolView"
          class="tablink d-inline-block"
          routerLinkActive="active"
          *ngIf="this.tabs.includes('School View')"
          >School View <br />
          स्कूल देखें</a
        >
      </div>
    </div>
    <div class="heading__tab mt-2">
      <div>
        <h3 class="pageName">
          Approve Promotion List <br />
          पदोन्नति सूची स्वीकृत करें
        </h3>
      </div>
    </div>
    <span class="indicator">( * ) Indicator Mandatory / अनिवार्य सूचना</span>
    <div class="tabArea">
      <a routerLink="./../" class="neuro addLink"
        ><i class="bi bi-plus-lg me-2"></i>Approve List / सूची स्वीकृत करें</a
      >
      <a routerLink="./" class="neuro addLink" routerLinkActive="active"
        ><i class="bi bi-eye me-2"></i>View / देखे</a
      >
    </div>
  </div>
  <div class="top-space">
    <ng-container>
      <div class="search-container">
        <div class="searchPanel">
          <div class="row">
            <div class="col-lg-2 form-group">
              <div>
                <label class="form-label">Academic Year</label><br />शैक्षणिक
                वर्ष
              </div>
            </div>
            <div class="col-lg-3 form-group">
              <div>
                <span class="colon">:</span>
                <select
                  class="form-select"
                  aria-label="Default select example"
                  [(ngModel)]="userInput.currentAcademicYear"
                >
                  <option [value]="userInput.currentAcademicYear">
                    {{ userInput.currentAcademicYear }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-lg-1"></div>

            <div class="col-lg-2 form-group">
              <div>
                <label class="form-label">Teacher Designation</label
                ><br />शिक्षक पदनाम
              </div>
            </div>
            <div class="col-lg-3 form-group">
              <div>
                <span class="colon">:</span>
                <select
                  class="form-select"
                  aria-label="Default select example"
                  [(ngModel)]="userInput.designationId"
                >
                  <option value>--Select--</option>
                  <option
                    *ngFor="let item of filterData.annextureData?.TEACHER_TITLE"
                    [value]="item.anxtValue"
                  >
                    {{ item.anxtName }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-2 form-group">
              <div>
                <label class="form-label">Appointment Type</label><br />नियुक्ति
                का प्रकार
              </div>
            </div>
            <div class="col-lg-3 form-group">
              <div>
                <span class="colon">:</span>
                <select
                  class="form-select"
                  aria-label="Default select example"
                  [(ngModel)]="userInput.appointmentId"
                >
                  <option value>--Select--</option>
                  <option
                    *ngFor="
                      let item of filterData.annextureData
                        ?.NATURE_OF_APPOINTMENT
                    "
                    [value]="item.anxtValue"
                  >
                    {{ item.anxtName }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-2 form-group">
              <div>
                <label class="form-label">Block <br />प्रखण्ड </label>
              </div>
            </div>
            <div class="col-lg-3 form-group">
              <div>
                <span class="colon">:</span>
                <select class="form-select" autocomplete="off">
                  <option value="" *ngIf="!+userInput.blockId">
                    --- Select ---
                  </option>
                  <option
                    *ngFor="let item of filterData.blockData"
                    [value]="item.blockId"
                  >
                    {{ item.blockCode }} - {{ item.blockName }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-lg-2">
              <button
                class="btn btn-default btn-purple"
                (click)="searchApprovedTeacher()"
              >
                Search / खोजें <i class="bi bi-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <button
      class="searchopen"
      (click)="toggle()"
      id="hide"
      data-toggle="tooltip"
      data-original-title="Click me"
    >
      Search Panel / खोज पट्टिका
    </button>
  </div>
  <div class="clearfix"></div>
  <div class="" [hidden]="promotedTeacher?.length === 0">
    <div class="page__rightarea">
      <div class="page__util">
        <div class="util">
          <a title="Excel" class="excel"
            ><i
              class="bi bi-file-earmark-excel"
              (click)="downloadPromotedTeacher()"
            ></i
          ></a>
          <a title="Print" class="print"
            ><i class="bi bi-printer" (click)="printPage()"></i
          ></a>
          <!-- <a title="Delete" class="delete"><i class="bi bi-trash"></i></a> -->
        </div>
      </div>
    </div>
    <div class="table-responsive" Id="viewTable">
      <table
        class="mat-elevation-z8"
        mat-table
        [dataSource]="dataSource"
        matSort
        matTableExporter
        #exporter="matTableExporter"
        [hiddenColumns]="[11]"
      >
        <thead class="bg-lightpurple">
          <!-- Checkbox Column -->
          <tr>
            <!-- Position Column -->
            <ng-container matColumnDef="sl">
              <th mat-header-cell *matHeaderCellDef class="bg-lightpurple">
                SI# / क्रम#
              </th>
              <td mat-cell *matCellDef="let element">{{ element.slNo }}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="teacherName">
              <th mat-header-cell *matHeaderCellDef class="bg-lightpurple">
                Name / नाम
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.teacherName }}
              </td>
            </ng-container>

            <ng-container matColumnDef="teacherCode">
              <th mat-header-cell *matHeaderCellDef class="bg-lightpurple">
                Teacher Code / शिक्षक संहिता
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.teacherCode ? element.teacherCode : "--" }}
              </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="des">
              <th mat-header-cell *matHeaderCellDef class="bg-lightpurple">
                Designation / पद
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.teacherTitle }}
              </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="apointType">
              <th mat-header-cell *matHeaderCellDef class="bg-lightpurple">
                Appointment Type / नियुक्ति प्रकार
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.natureOfAppointmt }}
              </td>
            </ng-container>

            <ng-container matColumnDef="schoolName">
              <th mat-header-cell *matHeaderCellDef class="bg-lightpurple">
                School / विद्यालय
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.schoolUdiseCode + " - " + element.schoolName }}
              </td>
            </ng-container>

            <ng-container matColumnDef="schlCatName">
              <th mat-header-cell *matHeaderCellDef class="bg-lightpurple">
                School Category / विद्यालय की श्रेणी
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.schlCatName }}
              </td>
            </ng-container>

            <ng-container matColumnDef="promotionStatus">
              <th mat-header-cell *matHeaderCellDef class="bg-lightpurple">
                Promotion Status / प्रचार की स्थिति
              </th>
              <td mat-cell *matCellDef="let element">
                <span
                  class="{{
                    element.promotionStatus == 1
                      ? 'badge badge-primary bg-success me-2'
                      : element.promotionStatus == 2
                      ? 'badge badge-primary bg-warning me-2'
                      : 'badge badge-primary bg-primary me-2'
                  }}"
                  >{{
                    element.promotionStatus == 1
                      ? "Promoted"
                      : element.promotionStatus == 2
                      ? "Rejected"
                      : "Requested"
                  }}</span
                >
                <button
                  class="badge badge-primary bg-primary me-2"
                  data-bs-toggle="modal"
                  data-bs-target="#nonverifiedModal"
                  (click)="getRejectRemark(element.listId)"
                  *ngIf="element.promotionStatus == 2"
                >
                  Show Remarks
                </button>
              </td>
            </ng-container>
          </tr>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            (click)="selection.toggle(row)"
          ></tr>
        </thead>
      </table>
      <mat-paginator
        #paginator
        [length]="page.totalRows"
        [pageIndex]="page.currentPage"
        [pageSize]="page.limit"
        class="noPrint"
        [pageSizeOptions]="pageSizeOptions"
        (page)="onPageChange($event)"
        aria-label="Select page"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
  <div
    class="alert alert-info text-center fw-bold"
    role="alert"
    *ngIf="isNorecordFound"
  >
    {{ "No record found." }}
  </div>
  <div
    class="alert alert-info text-center fw-bold"
    role="alert"
    *ngIf="isInitAdmin"
  >
    {{ "Please select drop-down lists to view the records." }}
  </div>
  <div></div>
</div>

<div
  class="modal fade"
  id="nonverifiedModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reject Remark</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          #stdVerifyClose
        ></button>
      </div>
      <div class="modal-body p-4">
        <!-- <div class="row" *ngIf="verifyType>0"> -->
        <!-- click <span href="">here</span> to check both the modified and existing student profile data. -->
        <!-- </div> -->
        <div class="row formpatch">
          <div class="col-lg-3 form-group">
            <label class="form-label">Remarks </label>
          </div>
          <div class="col-lg-9 form-group">
            <span class="colon">:</span>

            <label class="form-label"> {{ remarks }}</label>
          </div>
        </div>
        <div></div>
      </div>
    </div>
  </div>
</div>
