<div>
   <div class="pageHeading">
      <div class="heading__tab">
         <div>
            <h3 class="pageName">Opening Stock/ओपनिंग स्टॉक</h3>
         </div>
      </div>
      <span class="indicator">( * ) Indicates Mandatory/( * ) संकेतक अनिवार्य</span>
      <div class="tabArea">
         <a class="neuro addLink disabled active" *ngIf="adminPrivilege"><i class="bi bi-plus-lg me-2"></i>Edit/संपादन
            करें
         </a>
         <a routerLink="../../viewOpeningStock" class="neuro addLink" routerLinkActive="active"><i
               class="bi bi-eye me-2"></i>View/देखें</a>
      </div>
   </div>
   <form [formGroup]="openingStock" (ngSubmit)="updateStock()">
      <div class="top-space formpatch">
         <div class="table-responsive">
            <table class="table  table-bordered">
               <thead class="bg-lightpurple">
                  <tr>
                     <th scope="col" width="15px">SI#/क्र.सं</th>
                     <th scope="col">Asset Type/संपत्ति का प्रकार</th>
                     <th scope="col">Asset Name/संपत्ति का नाम</th>
                     <th scope="col">Quantity/मात्रा </th>
                     <th scope="col">Unit/इकाई</th>
                     <th scope="col">End Of Life (In Years)/जीवन का अंत (वर्षों में)</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>{{ 1 }}</td>
                     <td>
                        <select class="form-select" aria-label="Default select example" width="100%"
                           formControlName="assetType" (change)="filterAssetName($any($event.target).value)">
                           <option value="" *ngIf="assetTypeChanged==false">--- Select ---</option>
                           <option value="" *ngIf="assetTypeChanged==true">Loading...</option>
                           <option *ngFor="let item of asType" value="{{item.anxtValue}}">
                              {{item.anxtName}}
                           </option>
                        </select>
                     </td>
                     <td>
                        <select class="form-select" aria-label="Default select example" width="100%"
                           formControlName="assetName">
                           <option value="" *ngIf="assetNameChanged==false">--- Select ---</option>
                           <option value="" *ngIf="assetNameChanged==true">Loading...</option>
                           <option *ngFor="let assetItem of assetFilterData" [value]="assetItem.assetCatId">
                              {{ assetItem.assetName }}
                           </option>
                        </select>
                     </td>
                     <td><input type="text" id="exampleInputEmail1" aria-describedby="emailHelp" class="form-control"
                           formControlName="quantity" (keypress)="customValidators.keyPressNumbers($event)"
                           [maxLength]="4" (blur)="greaterThanZero($any($event.target).value)"></td>
                     <td>
                        <select class="form-select" aria-label="Default select example" width="100%"
                           formControlName="unit">
                           <option value="" *ngIf="unitChanged==false">--- Select ---</option>
                           <option value="" *ngIf="unitChanged==true">Loading...</option>
                           <option *ngFor="let units of incUnit" value="{{units.anxtValue}}">
                              {{units.anxtName}}
                           </option>
                        </select>
                     </td>
                     <td><input type="text" id="exampleInputEmail1" aria-describedby="emailHelp" class="form-control"
                           formControlName="eol" (keypress)="customValidators.keyPressNumbers($event)"
                           (blur)="checkEndofLife($any($event.target).value);" [maxLength]="2"></td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <div>
         <button class="btn btn-success me-2">Update/अद्यतन</button>
         <a routerLink="../../viewOpeningStock" class="btn btn-danger me-2">Cancel/रद्द करना</a>
      </div>
   </form>
</div>