<div class="row">
    <div class="col-lg-10">
        <!-- <ahp-resource-view [rows]="rows"></ahp-resource-view> -->
        <div class="date-control-header">
            <button mat-icon-button (click)="onBack()"><mat-icon>arrow_back</mat-icon></button>
            <span>{{from.format('MMMM YYYY')}} ― {{to.format('MMMM YYYY')}}</span>
            <button mat-icon-button (click)="onForward()"><mat-icon>arrow_forward</mat-icon></button>
        </div>
        <ahp-calendar-view #calendar [days]="days" [from]="from" [to]="to"></ahp-calendar-view>
        <!-- <ahp-calendar-view #calendar [days]="days" [from]="from" [to]="to" (dayClick)="onDayClick($event)"></ahp-calendar-view> -->
        <!-- <bs-datepicker-inline [bsValue]="bsInlineValue" [dateCustomClasses]="dateCustomClasses"></bs-datepicker-inline> -->
    </div>
    <div class="col-lg-2">
        <div class="hoildayList public-holiday">
            <div class="hoildayList-head">
                <h6>Public Hoilday List</h6>
            </div>
            <ul *ngFor="let item of holidayData.publicHoliday" >           
                <li> <strong>{{item.date|date:'dd MMM'}}</strong> {{item.holiday}} </li>
            </ul>
        </div>
        <div class="hoildayList optional-holiday">
            <div class="hoildayList-head">
                <h6>Optional Hoilday List</h6>
            </div>
            <ul *ngFor="let item of holidayData.optionalHoliday" >           
                <li> <strong>{{item.date|date:'dd MMM'}}</strong> {{item.holiday}} </li>
            </ul>
        </div>
    </div>
</div>