<div>
    <div class="pageHeading">
        <div><h3 class="pageName">Add Sub Category/उप श्रेणी जोड़ें
        </h3><span class="indicator">( * ) Indicates Mandatory/ ( * ) संकेतक अनिवार्य</span></div>
        <div class="tabArea">
            <a routerLink="./../addSubCategory"  class="neuro addLink" routerLinkActive="active" *ngIf="adminPrivilege" ><i class="bi bi-plus-lg me-2"></i>Add/जोड़ें</a>
            <a routerLink="./../viewSubCategory" class="neuro viewLink" routerLinkActive="active" ><i class="bi bi-eye me-2"></i>View/ देखें </a>   
        </div>
    </div>
    <div class="top-space">
        <form [formGroup] ="subCategoryForm" (ngSubmit)="submitSubCategory()"> 
            <div class="row">
                <div class="col-lg-2 form-group">
                    <label class="form-label">Category<br>श्रेणी </label>
                </div>
                <div class="col-lg-3 form-group">
                    <span class="colon">:</span>
                    <select class="form-select" aria-label="Default select example" formControlName="grvncCatId" autocomplete="off">
                        <option value="" *ngIf="categoryChanged==false">--Select--</option>
                        <option value="" *ngIf="categoryChanged==true">Loading...</option>
                        <option *ngFor="let category of allCategory" [value]="category.grvncCatId">
                            {{ category.grvncCatName }}
                        </option>
                    </select>
                    <span class="mandatory">*</span>                    
                </div>
                <div class="col-md-1">
                    <img src="assets/img/loading.gif" *ngIf="catLoading==true" alt="dsd">
                  </div>
            </div>
            <div class="row">
                <div class="col-lg-2 form-group">
                    <label class="form-label">Sub Category<br>उप श्रेणी </label>
                </div>
                <div class="col-lg-3 form-group">
                    <span class="colon">:</span>
                    <input type="text" class="form-control" autocomplete="off" formControlName="grvncSubCatName" maxlength="100">
                    <span class="mandatory">*</span>
                </div>
            </div>
            <div class="row formpatch">
                <div class="col-lg-2 form-group">
                    <label for="exampleInputEmail1" class="form-label">Description<br> विवरण </label>
                </div>
                <div class="col-lg-3 form-group">
                    <span class="colon">:</span>
                    <textarea cols="4" rows="4" class="form-control" autocomplete="off" formControlName="grvncSubCatDescription" maxlength="500"></textarea>
                    <small>Maximum <span class="text-danger">(500)</span> Characters</small>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-success me-2">Submit/ जमा करें</button>
                <button type="reset" class="btn btn-danger">Reset/पुनर्स्थापित</button>
            </div>
        </form>
    </div>
</div>