<div>
    <div class="pageHeading">
        <div>
            <h3 class="pageName"> Add Notification Component</h3>
            <span class="indicator">( * ) Indicates Mandatory / ( * ) संकेतक अनिवार्य</span>
        </div>
        <div class="tabArea">
            <a routerLink="./../addNotificationComponent" class="neuro addLink" routerLinkActive="active" *ngIf="adminPrivilege"><i
                    class="bi bi-plus-lg me-2"></i>Add / जोड़ें </a>
            <a routerLink="./../viewNotificationComponent" class="neuro viewLink" routerLinkActive="active"><i
                    class="bi bi-eye me-2"></i>View / देखें</a>
        </div>
    </div>
    <div class="top-space">
        <form [formGroup]="addNotificationComponentForm" (ngSubmit)="onSubmit()">

            <div class="row">
                <div class="col-lg-2 form-group">
                    <label for="categoryName" class="form-label">Category Name <br>श्रेणी का नाम</label>
                </div>
                <div class="col-lg-3 form-group">
                    <span class="colon">:</span>
                    <select appAutoFocus class="form-select" aria-label="Default select example" formControlName="notifyCatName">
                        <option value="" selected>---Select Category---</option>
                        <option  *ngFor="let item of catDatas"  [value]="item.categoryId">  
                            {{ item.categoryName }}
                        </option>
                    </select>
                    <span class="mandatory">*</span>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2 form-group">
                    <label for="categoryName" class="form-label">Component Name</label>
                </div>
                <div class="col-lg-3 form-group">
                    <span class="colon">:</span>
                    <input  type="text" class="form-control" id="notificationCategoryName" aria-describedby="emailHelp"
                        formControlName="notifyCompName" autocomplete="off" maxlength="50" minlength="2"  (keypress)="customValidator.keyPressAlphabetSpaceDot($event)">
                    <span class="mandatory">*</span>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="row formpatch">
            </div>
            <div>
                <button class="btn btn-success me-2">Submit / जमा करें</button>
                <button type="reset" class="btn btn-danger">Reset / पुनर्स्थापित </button>
            </div>
        </form>
    </div>
</div>
