<div>
  <div class="pageHeading">
    <div class="heading__tab d-flex justify-content-end">
      <div class="tab__section">
        <a routerLink="./../viewTeacherTransfer"  class="tablink" routerLinkActive="active">Transfer Request Approval</a>
        <a routerLink="./../transferRequestSchool/viewTransferRequestSchool"  class="tablink" routerLinkActive="active">Transfer Request By School</a>
        <a routerLink="./../relieving/viewRelieving"  class="tablink" routerLinkActive="active">Relieving </a>
        <a routerLink="./../joiningSchool/viewJoiningSchool"  class="tablink" routerLinkActive="active">Joining School</a>
      </div>
    </div>
    <div class="heading__tab mt-2">
      <div><h3 class="pageName">Forward Teacher Transfer / आगे शिक्षक स्थानांतरण</h3>  </div>
  </div>
 
    <div class="tabArea">
      <a routerLink="./../viewTeacherTransfer"  class="neuro addLink" routerLinkActive="active" *ngIf="adminPrivilege" ><i class="bi bi-eye me-2"></i>HM/Principal Approval</a>
    </div>
  </div>

  
  <div class="top-space">
    <ng-container *ngIf="show">
      <div class="search-container">
        <div class="search-sec" id="searchPanel" style="display: block;">
          <form name="form" class="form-horizontal" (ngSubmit)="onSearch()" #searchForm="ngForm" novalidate>
            <div class="searchPanel">
              <div class="row">

                <div class="col-lg-2 form-group">
                  <label class="form-label">District </label>
                </div>
                <div class="col-lg-3 form-group">
                  <span class="colon">:</span>
                  <select class="form-control" aria-label="Default select example" [(ngModel)]="searchDistrictId" name="searchDistrictId" autocomplete="off" (change)="getBlock($any($event.target).value)">
                    <option value="" *ngIf="scDisrtictSelect==true">--- Select ---</option>
                    <option value="" *ngIf="scDisrtictLoading==true">Loading...</option>
                    <option *ngFor="let districtItem of searchDistrictData" [value]="districtItem.districtId">
                      {{ districtItem.districtCode }} - {{ districtItem.districtName }}
                    </option>
                  </select>
                </div>

                <div class="col-lg-1"></div>
                <div class="col-lg-2 form-group">
                  <label class="form-label">Block </label>
                </div>
                <div class="col-lg-3 form-group">
                  <span class="colon">:</span>
                  <select class="form-control" aria-label="Default select example" [(ngModel)]="searchBlockId" name="searchBlockId" autocomplete="off" (change)="getCluster($any($event.target).value)">
                    <option value="" *ngIf="scBlockSelect==true">--- Select ---</option>
                    <option value="" *ngIf="scBlockLoading==true">Loading...</option>
                    <option *ngFor="let blockItem of searchBlockData" [value]="blockItem.blockId">
                      {{ blockItem.blockCode }} - {{ blockItem.blockName }}
                    </option>
                  </select>
                </div>
                <div class="col-lg-2 form-group">
                  <label class="form-label"> Cluster </label>
                </div>
                <div class="col-lg-3 form-group">
                  <span class="colon">:</span>
                  <select class="form-control" aria-label="Default select example" [(ngModel)]="searchClusterId" name="searchClusterId" autocomplete="off" (change)="getSchool()">
                    <option value="" *ngIf="scClusterSelect==true">--- Select ---</option>
                    <option value="" *ngIf="scClusterLoading==true">Loading...</option>
                    <option *ngFor="let clusterItem of clusterData" [value]="clusterItem.clusterId">
                      {{ clusterItem.clusterCode }} - {{ clusterItem.clusterName }}
                    </option>
                  </select>
                </div>

               

                <div class="col-lg-1"></div>

                <div class="col-lg-2 form-group">
                  <label class="form-label">School</label>
                </div>
                <div class="col-lg-3 form-group">
                  <span class="colon">:</span>
                  <select class="form-control" aria-label="Default select example" [(ngModel)]="searchSchoolId" name="searchSchoolId" autocomplete="off">
                    <option value="" *ngIf="scSchoolSelect==true">--- Select ---</option>
                    <option value="" *ngIf="scSchoolLoading==true">Loading...</option>
                    <option *ngFor="let schoolItem of getSchoolData" [value]="schoolItem.schoolId">
                      {{ schoolItem.schoolUdiseCode }} - {{ schoolItem.schoolName }}
                    </option>
                  </select>
                </div>
                <div class="col-lg-1"></div>


                <div class="col-lg-2">
                  <button class="btn btn-default btn-purple"> Search <i class="bi bi-search"></i></button>
                </div>
              </div>
            </div>
          </form>
        </div>

      </div>
    </ng-container>
    <button class="searchopen" (click)="toggle()" id="hide" data-toggle="tooltip" data-original-title="Click me">Search
      Panel</button>

  </div>

  <div class="clearfix"></div>

  <div class="row mt-4">
    <div class="col-lg-12">
      <div class="page__rightarea">
        <div class="page__util">
          <div class="util">
            <a title="Excel" class="excel" (click)="downloadTeacherTransfer()"><i class="bi bi-file-earmark-excel"></i></a>
                <a title="Print" class="print"(click)="printPage()"><i class="bi bi-printer"></i></a>
          </div>
        </div>
      </div>
      
      
      <div class="table-responsive" [hidden]="isLoading" Id="viewTable">
        <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
        <form [formGroup] ="viewTableForm"> 
          <table class="mat-elevation-z8" mat-table [dataSource]="dataSource" matSort matTableExporter #exporter="matTableExporter" [hiddenColumns]="[11]">
            <thead class="bg-lightpurple">
              <tr>
                <ng-container matColumnDef="chkAll">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple" width="40px">
                    <div class="checkbox check__box">
                      <div class="form-group me-0">
                        <label>
                          <input type="checkbox" class="check" formControlName="checkAll" (click)="checkUncheckAll()">
                          <span></span>
                        </label>
                      </div>
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <div class="checkbox check__box" *ngIf="element?.transferStatus == 1; else loggedOut">
                      <div class="form-group me-0">
                        <label>
                          <input type="checkbox" class="check" id="checkRecord" [checked]="element?.isChecked" [value]="element?.encId" (change)="onCheckboxChange($event)">
                          <span></span>
                        </label>
                      </div>
                    </div>
                    <ng-template #loggedOut>
                      <div class="text-success" *ngIf="element?.transferStatus != 4" [title]="element?.statusText"><i class="bi bi-check-square-fill"></i></div>
                      <div class="text-danger" *ngIf="element?.transferStatus == 4" [title]="element?.statusText"><i class="bi bi-x-square-fill"></i></div>
                    </ng-template>
                  </td>
                </ng-container>
                <ng-container matColumnDef="slNo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple"> # </th>
                  <td mat-cell *matCellDef="let element">{{ element?.slNo }}</td>
                </ng-container>
                <ng-container matColumnDef="teacherName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple"> Teacher Name </th>
                  <td mat-cell *matCellDef="let element">{{ element?.teacherId }} - {{ element?.teacherName }}</td>
                </ng-container>
                <ng-container matColumnDef="designation">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple"> Designation </th>
                  <td mat-cell *matCellDef="let element">{{ element?.designation }}</td>
                </ng-container>
                <ng-container matColumnDef="transferRequestDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple"> Date of Transfer Request
                  </th>
                  <td mat-cell *matCellDef="let element">{{ element?.createdOn | date:'dd-MMM-yyyy' }}</td>
                </ng-container>
                <ng-container matColumnDef="district">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple"> District </th>
                  <td mat-cell *matCellDef="let element">{{ element?.districtCode }} - {{ element?.districtName }}</td>
                </ng-container>
                <ng-container matColumnDef="block">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple"> Block </th>
                  <td mat-cell *matCellDef="let element">{{ element?.blockCode }} - {{ element?.blockName }}</td>
                </ng-container>
                <ng-container matColumnDef="cluster">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple"> Cluster </th>
                  <td mat-cell *matCellDef="let element">{{ element?.clusterCode }} - {{ element?.clusterName }}</td>
                </ng-container>
                <ng-container matColumnDef="school">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple"> School </th>
                  <td mat-cell *matCellDef="let element">{{ element?.schoolUdiseCode }} - {{ element?.schoolName }}</td>
                </ng-container>
                <ng-container matColumnDef="Remark">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple"> Remark </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element?.remark.length > 60 ? (element?.remark | slice:0:60):element?.remark }}
                    <small style="font-style: italic;" *ngIf="element?.remark.length > 60"> ... <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#viewDescription" (click)="showDescription(element?.remark)">View More</a></small>
                  </td>
                </ng-container>    
                <ng-container matColumnDef="Status">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple"> Status </th>
                  <td mat-cell *matCellDef="let element">{{ element?.statusText }}</td>
                </ng-container>                 
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-lightpurple noPrint" width="120px"> Actions
                  </th>
                  <td mat-cell *matCellDef="let element" class="noPrint">
                    <a title="View" class="view-btn me-2" [style.cursor]="'pointer'" href="javasctip:void(0)" data-bs-toggle="modal" data-bs-target="#viewTransferDetailsModal" (click)="viewTransferDetails(element?.encId)"><i class="bi bi-eye-fill text-primary"></i></a>
                  </td>
                </ng-container>
              </tr>
            </thead>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>        

          <table>
            <tr *ngIf="!dataSource.data.length">
              <td style="text-align: center" [attr.colspan]="transferRequestData.length" class="mt-2">No Records Found!</td>
            </tr>
          </table>
          <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize" class="noPrint" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)"  aria-label="Select page" showFirstLastButtons></mat-paginator>
          <div style="margin-bottom: 50px;" class="noPrint">
            <button type="button" class="btn btn-success me-2" (click) = "submitForwardData()">Forward</button>
            <a class="btn btn-danger" [style.cursor]="'pointer'" (click) = "validateRejectForm()">Reject</a>
          </div> 

          <!-- Add Remark Modal -->
<div class="modal fade" id="addRemark" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    
    <div class="modal-content">

      <div class="modal-header" >
        <h5 class="modal-title" id="exampleModalLabel">Add Remark For Reject</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeModal></button>
      </div>

      <div class="modal-body">

        <div class="row">
          <div class="col-md-2 form-group">
            <div class="">
              <label for="exampleInputEmail1" class="form-label">Remark: <br>
              </label>
            </div>
          </div>

          <div class="col-md-10 form-group">
            <textarea rows="3" class="form-control" autocomplete="off" formControlName="addRemark" maxlength="250" (keypress)="customValidators.keyPressAlphabetSpaceDotDigit($event)"></textarea>                    
            <small>(Maximum <span class="text-danger" id="lblChar">250</span> characters)</small>
          </div>
        </div>

        <div class="row">
          <div style="margin-top: 30px;" class="noPrint">
            <button type="button" class="btn btn-success me-2" (click) = "submitRejectData()">Submit</button>
            <button type="button" class="btn btn-danger" (click) = "resetRemark()">Reset</button>
          </div>                  
        </div>

      </div>

    </div>
  
  </div>
</div>
<!-- Add Remark Modal -->

        </form>
      </div>
      
    </div>
  </div>
</div>




<!-- View Description Modal -->
<div class="modal fade" id="viewDescription" tabindex="-1" aria-labelledby="viewDescriptionLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" class="noPrint">
        <div class="modal-content">
              <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Remark</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body p-4">
                    <div class="row">
                          <div class="col-lg-12 form-group" id="descriptionText">{{ descFullText }}</div>
                    </div>
              </div>
        </div>
  </div>
</div>



<!-- View status Modal -->
<div class="modal fade" id="viewTransferDetailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Transfer Status</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="popup-loader" *ngIf="showActionLoader"><img src="/assets/img/loading.gif" /> <br>Loading. Please wait...</div>
			<div class="modal-body p-4" *ngIf="showActionDetails">
        <ng-container *ngFor=" let statusDetails of transferStatusDetails;let j = index">
          <div class="row">
            <div class="col-lg-2 form-group">
              <label for="" class="form-label">Teacher Name </label>
            </div>
            <div class="col-lg-3 form-group"> <span class="colon">:</span>
              <label for="" class="form-label fw-bold"> {{ statusDetails.teacherId }} - {{ statusDetails.teacherName }} </label>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-2 form-group">
              <label for="" class="form-label">Designation</label>
            </div>
            <div class="col-lg-3 form-group"> <span class="colon">:</span>
              <label for="" class="form-label fw-bold"> {{ statusDetails.designation }} </label>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 form-group">
              <label for="" class="form-label">Nature of Appointment </label>
            </div>
            <div class="col-lg-3 form-group"> <span class="colon">:</span>
              <label for="" class="form-label fw-bold"> {{ statusDetails.appointmentType }} </label>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-2 form-group">
              <label for="" class="form-label">Date of joining in current school</label>
            </div>
            <div class="col-lg-3 form-group"> <span class="colon">:</span>
              <label for="" class="form-label fw-bold"> {{ statusDetails.dateOfJoiningCurrentSchool | date:'dd-MMM-yyyy' }} </label>
            </div>
          </div>
          <div class="formpatch">
            <div class="row">
              <div class="col-lg-2 form-group">
                <label for="" class="form-label">From School </label>
              </div>
              <div class="col-lg-3 form-group"> <span class="colon">:</span>
                <label for="" class="form-label fw-bold">{{ statusDetails.currentSchoolUdiseCode }} - {{ statusDetails.currentSchoolName }} </label>
              </div>
              <div class="col-lg-1"></div>
              <div class="col-lg-2 form-group">
                <label for="" class="form-label">District </label>
              </div>
              <div class="col-lg-3 form-group"> <span class="colon">:</span>
                <label for="" class="form-label fw-bold">{{ statusDetails.currentDistrictCode }} - {{ statusDetails.currentDistrictName }}</label>
              </div>
            </div>
            
            <div class="row">
              <div class="col-lg-2 form-group">
                <label for="" class="form-label">Block </label>
              </div>
              <div class="col-lg-3 form-group"> <span class="colon">:</span>
                <label for="" class="form-label fw-bold">{{ statusDetails.currentBlockCode }} - {{ statusDetails.currentBlockName }}</label>
              </div>
              <div class="col-lg-1"></div>
              <div class="col-lg-2 form-group">
                <label for="" class="form-label">Cluster </label>
              </div>
              <div class="col-lg-3 form-group"> <span class="colon">:</span>
                <label for="" class="form-label fw-bold">{{ statusDetails.currentClusterCode }} - {{ statusDetails.currentClusterName }}</label>
              </div>
            </div>
          </div>
          <div class="formpatch">
          <div class="row">
            <div class="col-lg-2 form-group">
              <label for="" class="form-label">Date of Transfer Request </label>
            </div>
            <div class="col-lg-3 form-group"> <span class="colon">:</span>
              <label for="" class="form-label fw-bold">  {{ statusDetails.TransferRequestDate | date:'dd-MMM-yyyy' }}  </label>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-2 form-group">
              <label for="" class="form-label">District </label>
            </div>
            <div class="col-lg-3 form-group"> <span class="colon">:</span>
              <label for="" class="form-label fw-bold"> {{ statusDetails.transferDistrictCode }} - {{ statusDetails.transferDistrictName }} </label>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 form-group">
              <label for="" class="form-label">Block </label>
            </div>
            <div class="col-lg-3 form-group"> <span class="colon">:</span>
              <label for="" class="form-label fw-bold"> {{ statusDetails.transferBlockCode }} - {{ statusDetails.transferBlockName }} </label>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-2 form-group">
              <label for="" class="form-label">Cluster </label>
            </div>
            <div class="col-lg-3 form-group"> <span class="colon">:</span>
              <label for="" class="form-label fw-bold"> {{ statusDetails.transferClusterCode }} - {{ statusDetails.transferClusterName }} </label>
            </div>
          </div>
          
          <div class="row">
            <div class="col-lg-2 form-group">
              <label for="" class="form-label">To School</label>
            </div>
            <div class="col-lg-3 form-group"> <span class="colon">:</span>
              <label for="" class="form-label fw-bold"> {{ statusDetails.transferSchoolUdiseCode }} - {{ statusDetails.transferSchoolName }}</label>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-2 form-group">
              <label for="" class="form-label">School Category </label>
            </div>
            <div class="col-lg-3 form-group"> <span class="colon">:</span>
              <label for="" class="form-label fw-bold">{{ statusDetails.schlCatName }}</label>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-2 form-group">
              <label for="" class="form-label">Remark</label>
            </div>
            <div class="col-lg-9 form-group"> <span class="colon">:</span>
              <label for="" class="form-label fw-bold">{{ statusDetails.remark }}</label>
            </div>
            
          </div>

          </div>
          <div class="row">
            <div class="col-lg-2 form-group">
              <label for="" class="form-label">Status </label>
            </div>
            <div class="col-lg-3 form-group"> <span class="colon">:</span>
              <label for="" class="form-label fw-bold"> {{ statusDetails.statusText }} </label>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-2 form-group" *ngIf="statusDetails.transferStatus == 3 || statusDetails.transferStatus == 5 || statusDetails.transferStatus == 6">
              <label for="" class="form-label">Approved School </label>
            </div>
            <div class="col-lg-3 form-group" *ngIf=" statusDetails.transferStatus == 3 || statusDetails.transferStatus == 5 || statusDetails.transferStatus == 6"> <span class="colon">:</span>
              <label for="" class="form-label fw-bold"> {{ transferLogDetails.schoolUdiseCode }} - {{ transferLogDetails.schoolName }}  </label>
            </div>
          </div>
          <ng-container *ngIf=" statusDetails.transferStatus == 3 || statusDetails.transferStatus == 5 || statusDetails.transferStatus == 6">
            <div class="row">
              <div class="col-lg-2 form-group">
                <label for="" class="form-label">District </label>
              </div>
              <div class="col-lg-3 form-group"> <span class="colon">:</span>
                <label for="" class="form-label fw-bold"> {{ transferLogDetails.districtCode }} - {{ transferLogDetails.districtName }} </label>
              </div>
              <div class="col-lg-1"></div>
              <div class="col-lg-2 form-group">
                <label for="" class="form-label">Block </label>
              </div>
              <div class="col-lg-3 form-group"> <span class="colon">:</span>
                <label for="" class="form-label fw-bold"> {{ transferLogDetails.blockCode }} - {{ transferLogDetails.blockName }} </label>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-2 form-group">
                <label for="" class="form-label">Cluster </label>
              </div>
              <div class="col-lg-3 form-group"> <span class="colon">:</span>
                <label for="" class="form-label fw-bold"> {{ transferLogDetails.clusterCode }} - {{ transferLogDetails.clusterName }} </label>
              </div>
              <div class="col-lg-1"></div>
              <div class="col-lg-2 form-group">
                <label for="" class="form-label">Date of Transfer Request </label>
              </div>
              <div class="col-lg-3 form-group"> <span class="colon">:</span>
                <label for="" class="form-label fw-bold">  {{ transferLogDetails.relievingDate | date:'dd-MMM-yyyy' }}  </label>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf=" statusDetails.transferStatus == 4">
            <div class="row">
              <div class="col-lg-2 form-group">
                <label for="" class="form-label">Remark </label>
              </div>
              <div class="col-lg-9 form-group"> <span class="colon">:</span>
                <label for="" class="form-label fw-bold"> {{ transferLogDetails.remark }} </label>
              </div>             
            </div>
          </ng-container>

        </ng-container>
			</div>
			<div class="modal-footer">
				<button type="button" data-bs-dismiss="modal" class="btn btn-danger">Close</button>
			</div>
		</div>
	</div>
</div>