<div>
  <div class="pageHeading">
    <div>
      <h3 class="pageName">Add Other Information / अन्य विवरण जोड़ें</h3>
      <span class="indicator">( * ) Indicates Mandatory / अनिवार्य सूचना</span>
    </div>
    <div class="tabArea">
      <!-- <a routerLink="./../vieweducation" class="neuro viewLink" routerLinkActive="active" ><i class="bi bi-eye me-2"></i>View</a> -->
      <a routerLink="./../../../addTeacher" class="neuro addLink" routerLinkActive="active"  *ngIf="(loginUserType != 1) "><i
          class="bi bi-plus-lg me-2"></i>New Teacher Registration / नया शिक्षक पंजीकरण</a>
      <a routerLink="./../../" class="neuro viewLink" routerLinkActive="active"><i
          class="bi bi-eye me-2"></i>View/Updation / देखें/अद्यतन करें</a>
    </div>
  </div>
  <form [formGroup]="otherInfoForm">
    <div class="formpatch top-space">
      <app-header [registrationInfoRoute]="['../../registrationInfo/', teacherId]"
        [educationalInfoRoute]="['../../educationalInfo/', teacherId]"
        [professionalInfoRoute]="['../../professionalInfo/', teacherId]" [otherInfoRoute]="['./']"
        [trainingAndLanguageInfoRoute]="[
          '../../trainingAndLanguageInfo/',
          teacherId
        ]"></app-header>
      <div class="row mt-5">
        <input type="hidden" formControlName="academicYear" />
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
          <label for="" class="form-label">Computer Training</label><br>कंप्यूटर प्रशिक्षण
        </div>
        <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
          <span class="colon">:</span>
          <select class="form-select" aria-label="Default select example" formControlName="computerTraining">
            <option value="">--Select--</option>
            <option value="1">Yes</option>
            <option value="2">No</option>
          </select>
          <span class="mandatory">*</span>
        </div>
        <div class="col-lg-1"></div>
        <!-- <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
          <label for="" class="form-label">Basic Pay
            <button type="button" class="tooltip__btn" data-toggle="tooltip" data-placement="top"
              title="Gross Monthly Income.">
              <i class="bi bi-question-circle-fill"></i>
            </button>
          </label><br>मूल वेतन
        </div>
        <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
          <span class="colon">:</span>
          <input type="text" class="form-control" id="" aria-describedby="emailHelp" formControlName="basicPay"
            [maxlength]="10" (keypress)="customValidators.onlyNumbersWithDecimal($event)" />
          <span class="mandatory">*</span>
        </div> -->
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
          <label for="" class="form-label">NSS Incharge</label><br>NSS प्रभारी
        </div>
        <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
          <span class="colon">:</span>
          <select class="form-select" aria-label="Default select example" formControlName="nssIncharge">
            <option selected="" value="">--Select--</option>
            <option value="1">Yes</option>
            <option value="2">No</option>
          </select>
          <span class="mandatory">*</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
          <label for="" class="form-label">NCC Trained</label><br />NCC प्रशिक्षित
        </div>
        <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
          <span class="colon">:</span>
          <select class="form-select" aria-label="Default select example" formControlName="nccTrained">
            <option selected="" value="">--Select--</option>
            <option value="1">Yes</option>
            <option value="2">No</option>
          </select>
          <span class="mandatory">*</span>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
          <label for="" class="form-label">Training Needed </label><br>प्रशिक्षण की जरूरत है
        </div>
        <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
          <span class="colon">:</span>
          <select class="form-select" aria-label="Default select example" formControlName="trainingNeeded">
            <option value="" *ngIf="trainingNeedChanged == false"> -- Select -- </option>
            <option value="" *ngIf="trainingNeedChanged == true"> Loading... </option>
            <option *ngFor="let trnOn of trainingOn" [value]="trnOn.anxtValue">
              {{ trnOn.anxtName }}
            </option>
          </select>
          <span class="mandatory">*</span>
        </div>
      </div>
      
      <div class="row">
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
          <label for="" class="form-label">Training Received</label><br />प्रशिक्षण प्राप्त हुआ
        </div>
        <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
          <span class="colon">:</span>
          <select class="form-select" aria-label="Default select example" formControlName="trainingRecieved">
            <option value="" *ngIf="trainingRecvChanged == false"> -- Select -- </option>
            <option value="" *ngIf="trainingRecvChanged == true"> Loading... </option>
            <option *ngFor="let trnOn of trainingOn" [value]="trnOn.anxtValue">
              {{ trnOn.anxtName }}
            </option>
          </select>
          <span class="mandatory">*</span>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
          <label for="" class="form-label">Classes Taught </label><br>किन कक्षाओं में पढ़ाया है
        </div>
        <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
          <span class="colon">:</span>
          <ng-multiselect-dropdown [placeholder]="'--Select--'" [settings]="dropdownSettings" [data]="schoolCategory"
            formControlName="classesTaught">
          </ng-multiselect-dropdown>
          <span class="mandatory">*</span>
        </div>
      </div>

      <div class="row">
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
          <label for="" class="form-label">Languages in which the teacher is having working knowledge?</label><br />वे
          भाषाएँ जिनमें शिक्षक को कार्य का ज्ञान है?
        </div>
        <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
          <span class="colon">:</span>
          <ng-multiselect-dropdown [placeholder]="'--Select--'" [settings]="dropdownSettingTeacherLang"
            [data]="teacherLanguage" formControlName="langWorkingKnwldge">
          </ng-multiselect-dropdown>
          <span class="mandatory">*</span>
        </div>
        <div class="col-lg-1"></div>
        <!-- <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
          <label for="" class="form-label">Teacher Associated as
            <button type="button" class="tooltip__btn" data-toggle="tooltip" data-placement="top"
              title="Teacher presently Associated as">
              <i class="bi bi-question-circle-fill"></i>
            </button>
          </label>
        </div>
        <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
          <span class="colon">:</span>
          <ng-multiselect-dropdown
            [placeholder]="'--Select--'"
            [settings]="dropdownSettingTeacherAsso"
            [data]="teacherAssociate" formControlName="teacherAssociatedAs">
        </ng-multiselect-dropdown>         
          <span class="mandatory">*</span>
        </div> -->
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
          <label for="" class="form-label">Studied Mathematics upto which class</label><br>किस वर्ग तक गणित की पढ़ाई की
          है ?
        </div>
        
        <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
          <span class="colon">:</span>
          <!-- <input type="text" class="form-control" id="" aria-describedby="emailHelp" formControlName="stdMathClassUpto"
            (keypress)="customValidators.keyPressAlphabetSpaceDotDigit($event)" [maxlength]="90" /> -->
            <select class="form-select" aria-label="Default select example" formControlName="stdMathClassUpto">
              <option value="" *ngIf="studyClassChanged == false">
                -- Select --
              </option>
              <option value="" *ngIf="studyClassChanged == true">
                Loading...
              </option>
              <option *ngFor="let studyMath of studyClass" [value]="studyMath.anxtValue">
                {{ studyMath.anxtName }}
              </option>
            </select>
          <span class="mandatory">*</span>
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
          <label for="" class="form-label">Received Award </label><br>पुरस्कार मिला
        </div>
        <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
          <span class="colon">:</span>
          <select class="form-select" aria-label="Default select example" formControlName="recievedAward">
            <option value="" selected="">--Select--</option>
            <option value="1">Yes</option>
            <option value="2">No</option>
          </select>
          <span class="mandatory">*</span>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
          <label for="" class="form-label">Award Type </label><br>पुरस्कार प्रकार
        </div>
        <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
          <span class="colon">:</span>
          <select class="form-select" aria-label="Default select example" formControlName="awardType">
            <option value="">--Select--</option>
            <option value="1">Nation</option>
            <option value="2">State</option>
            <option value="3">Both</option>
          </select>
          <span class="mandatory">*</span>
        </div>
      </div> -->
      <div class="row">

        <div class="col-lg-1"></div>

      </div>
      <div class="row">
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
          <label for="" class="form-label">Studied English upto which class</label><br>किस वर्ग तक अंग्रेजी की पढ़ाई की
          है ?
        </div>
        <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
          <span class="colon">:</span>
          <select class="form-select" aria-label="Default select example" formControlName="stdEnglishClassUpto">
            <option value="" *ngIf="studyEngChanged == false">
              -- Select --
            </option>
            <option value="" *ngIf="studyEngChanged == true">
              Loading...
            </option>
            <option *ngFor="let studyEng of studyClass" [value]="studyEng.anxtValue">
              {{ studyEng.anxtName }}
            </option>
          </select>
          <!-- <input type="text" class="form-control" id="" aria-describedby="emailHelp"
            formControlName="stdEnglishClassUpto" (keypress)="customValidators.keyPressAlphabetSpaceDotDigit($event)"
            [maxlength]="20" /> -->
          <span class="mandatory">*</span>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
          <label for="" class="form-label">Studied Science upto which class</label><br>किस वर्ग तक विज्ञान की पढ़ाई की
        </div>
        <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
          <span class="colon">:</span>
          <!-- <input type="text" class="form-control" id="" aria-describedby="emailHelp"
            formControlName="stdScienceClassUpto" (keypress)="customValidators.keyPressAlphabetSpaceDotDigit($event)"
            [maxlength]="20" /> -->
            <select class="form-select" aria-label="Default select example" formControlName="stdScienceClassUpto">
              <option value="" *ngIf="studySciChanged == false">
                -- Select --
              </option>
              <option value="" *ngIf="studySciChanged == true">
                Loading...
              </option>
              <option *ngFor="let studySci of studyClass" [value]="studySci.anxtValue">
                {{ studySci.anxtName }}
              </option>
            </select>
          <span class="mandatory">*</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
          <label for="" class="form-label"> Social studies studied upto</label><br>किस वर्ग तक सामाजिक अध्ययन की पढ़ाई की
          है ?
        </div>
        <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
          <span class="colon">:</span>
          <!-- <input type="text" class="form-control" id="" aria-describedby="emailHelp" formControlName="socialStdUpto"
            (keypress)="customValidators.keyPressAlphabetSpaceDotDigit($event)" [maxlength]="90" /> -->
            <select class="form-select" aria-label="Default select example" formControlName="socialStdUpto">
              <option value="" *ngIf="studySocChanged == false">
                -- Select --
              </option>
              <option value="" *ngIf="studySocChanged == true">
                Loading...
              </option>
              <option *ngFor="let studySoc of studyClass" [value]="studySoc.anxtValue">
                {{ studySoc.anxtName }}
              </option>
            </select>
          <span class="mandatory">*</span>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
          <label for="" class="form-label">
            Language (as per Schedule VIII) Studied upto</label><br>किस वर्ग तक भाषा (अनुसूची VIII के अनुसार) की पढ़ाई की
          है ?
        </div>
        <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
          <span class="colon">:</span>
          <select class="form-select" aria-label="Default select example" formControlName="langStudiedUpto">
            <option value="" *ngIf="studyLangChanged == false">
              -- Select --
            </option>
            <option value="" *ngIf="studyLangChanged == true">
              Loading...
            </option>
            <option *ngFor="let studyLang of studyClass" [value]="studyLang.anxtValue">
              {{ studyLang.anxtName }}
            </option>
          </select>
          <!-- <input type="text" class="form-control" id="" aria-describedby="emailHelp" formControlName="langStudiedUpto"
            (keypress)="customValidators.keyPressAlphabetSpaceDotDigit($event)" [maxlength]="90" /> -->
          <span class="mandatory">*</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
          <label for="" class="form-label"> Main Subject Taught 1</label><br>मुख्य विषय पढ़ाया गया 1
        </div>
        <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
          <span class="colon">:</span>
          <select class="form-select" aria-label="Default select example" formControlName="mainSubTaught1">
            <option value="" *ngIf="teacherAppointSubjectChanged == false">
              -- Select --
            </option>
            <option value="" *ngIf="teacherAppointSubjectChanged == true">
              Loading...
            </option>
            <option *ngFor="let appointSubject of teacherAppointSubject"  [value]="appointSubject.anxtValue">  
              {{ appointSubject.anxtName }} 
           </option>
          </select>
          <!-- <input type="text" class="form-control" id="" aria-describedby="emailHelp" formControlName="mainSubTaught1"
            (keypress)="customValidators.alphabetWithComma($event)" [maxlength]="90" /> -->
          <span class="mandatory">*</span>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
          <label for="" class="form-label"> Main Subject Taught 2 </label><br>मुख्य विषय पढ़ाया गया 2
        </div>
        <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
          <span class="colon">:</span>
          <select class="form-select" aria-label="Default select example" formControlName="mainSubTaught2">
            <option value="" *ngIf="teacherAppointSubjectChanged == false">
              -- Select --
            </option>
            <option value="" *ngIf="teacherAppointSubjectChanged == true">
              Loading...
            </option>
            <option *ngFor="let appointSubject2 of teacherAppointSubject"  [value]="appointSubject2.anxtValue">  
              {{ appointSubject2.anxtName }} 
           </option>
          </select>
          <!-- <input type="text" class="form-control" id="" aria-describedby="emailHelp" formControlName="mainSubTaught2"
            (keypress)="customValidators.alphabetWithComma($event)" [maxlength]="90" /> -->
          <!-- <span class="mandatory">*</span> -->
        </div>
      </div>
      <div class="row">
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
          <label for="" class="form-label"> Are you a trained teacher?</label><br>क्या आप एक प्रशिक्षित शिक्षक हैं?
        </div>
        <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
          <span class="colon">:</span>
          <select class="form-select" aria-label="Default select example" formControlName="trainer">
            <option selected="" value="">--Select--</option>
            <option value="1">Yes</option>
            <option value="2">No</option>
          </select>
          <span class="mandatory">*</span>
        </div>
        <div class="col-lg-1"></div>
        <!-- <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
          <label for="" class="form-label"> Appointed for level </label><br>स्तर के लिए नियुक्त
        </div>
        <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
          <span class="colon">:</span>
          <select class="form-select" aria-label="Default select example" formControlName="appointedForLabel">
            <option value="">--Select--</option>
          </select>         
        </div> -->
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
          <label for="" class="form-label">Trained in computer for use and teaching </label><br>उपयोग और शिक्षण हेतु
          कंप्यूटर में प्रशिक्षित हैं ?
        </div>
        <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
          <span class="colon">:</span>
          <select class="form-select" aria-label="Default select example" formControlName="trainedComputer">
            <option selected="" value="">--Select--</option>
            <option value="1">Yes</option>
            <option value="2">No</option>
          </select>
          <span class="mandatory">*</span>
        </div>
      </div>

      <div class="row">
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
          <label for="" class="form-label"> Trained for teaching CWSN </label><br> CWSN पढ़ाने के लिए प्रशिक्षित
        </div>
        <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
          <span class="colon">:</span>
          <select class="form-select" aria-label="Default select example" formControlName="trainedCWSN">
            <option selected="" value="">--Select--</option>
            <option value="1">Yes</option>
            <option value="2">No</option>
          </select>
          <span class="mandatory">*</span>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
          <label for="" class="form-label">
            No. of working days spent on non- teaching assignments</label><br>गैर-शैक्षणिक कार्यों पर खर्च किए गए कार्य
          दिवसों की संख्या
        </div>
        <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
          <span class="colon">:</span>
          <input type="text" class="form-control" id="" aria-describedby="emailHelp"
            formControlName="daysNonTeachingAssignment"
            (keypress)="customValidators.keyPressAlphabetSpaceDotDigit($event)" [maxlength]="15" />
          <span class="mandatory">*</span>
        </div>
      </div>

      <div class="row">
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
          <label for="" class="form-label">Whether using special resources for education of Children with
            special needs (CWSN)?</label><br>क्या विशेष आवश्यकता वाले बच्चों (CWSN) की शिक्षा के लिए विशेष संसाधनों का
          उपयोग किया जा रहा है?
        </div>
        <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
          <span class="colon">:</span>
          <select class="form-select" aria-label="Default select example" formControlName="specialResourceCWSN">
            <option selected="" value="">--Select--</option>
            <option value="1">Yes</option>
            <option value="2">No</option>
          </select>
          <span class="mandatory">*</span>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
          <label for="" class="form-label">
            Whether trained in safety and security audit of school for ensuring
            child safety?</label><br>क्या बच्चों की सुरक्षा सुनिश्चित करने के लिए स्कूल की सुरक्षा और सुरक्षा उपाय में
          प्रशिक्षित हैं?
        </div>
        <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
          <span class="colon">:</span>
          <select class="form-select" aria-label="Default select example" formControlName="trainedSafetyandSecurity">
            <option selected="" value="">--Select--</option>
            <option value="1">Yes</option>
            <option value="2">No</option>
          </select>
          <span class="mandatory">*</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
          <label for="" class="form-label">Whether received training on cyber safety and psychosocial
            aspects?</label><br>क्या साइबर सुरक्षा और मनोसामाजिक पहलुओं पर प्रशिक्षण प्राप्त किया है?
        </div>
        <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
          <span class="colon">:</span>
          <select class="form-select" aria-label="Default select example"
            formControlName="trainingCybSecAndPsycoligical">
            <option selected="" value="">--Select--</option>
            <option value="1">Yes</option>
            <option value="2">No</option>
          </select>
          <span class="mandatory">*</span>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
          <label for="" class="form-label">
            Whether received training in early identification support and
            classroom support of CWSN?</label><br>क्या CWSN के शुरुआती पहचान करने और कक्षा में सहायता करने हेतु
          प्रशिक्षण प्राप्त हुआ है?
        </div>
        <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
          <span class="colon">:</span>
          <select class="form-select" aria-label="Default select example" formControlName="trainingEarlyIdenAndClsSpt">
            <option selected="" value="">--Select--</option>
            <option value="1">Yes</option>
            <option value="2">No</option>
          </select>
          <span class="mandatory">*</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
          <label for="" class="form-label">Whether having ICT training/ knowledge to conduct remote learning
            classes?</label><br>क्या दूरस्थ शिक्षा कक्षाएं संचालित करने के लिए आईसीटी प्रशिक्षण/ज्ञान है?
        </div>
        <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
          <span class="colon">:</span>
          <select class="form-select" aria-label="Default select example" formControlName="knwldToCondtRmtClass">
            <option selected="" value="">--Select--</option>
            <option value="1">Yes</option>
            <option value="2">No</option>
          </select>
          <span class="mandatory">*</span>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
          <label for="" class="form-label">Whether conducted remote learning classes in current academic
            session?</label><br>क्या वर्तमान शैक्षणिक सत्र में दूरस्थ शिक्षा कक्षाएं संचालित की जाती हैं?
        </div>
        <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
          <span class="colon">:</span>
          <select class="form-select" aria-label="Default select example" formControlName="remoteClassCrntAcademic">
            <option selected="" value="">--Select--</option>
            <option value="1">Yes</option>
            <option value="2">No</option>
          </select>
          <span class="mandatory">*</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
          <label for="" class="form-label">Average number of hours of ICT (computer, laptop, Television,
            Radio, other) used per week for teaching purposes?</label><br>शिक्षण उद्देश्यों के लिए प्रति सप्ताह उपयोग
          किए जाने वाले आईसीटी (कंप्यूटर, लैपटॉप, टेलीविजन, रेडियो,
          अन्य) के घंटों की औसत संख्या?
        </div>
        <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
          <span class="colon">:</span>
          <input type="text" class="form-control" id="" aria-describedby="emailHelp" formControlName="avgHrOfICT"
            (keypress)="customValidators.keyPressAlphabetSpaceDotDigit($event)" [maxlength]="15" />
          <span class="mandatory">*</span>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
          <label for="" class="form-label">Whether trained in innovative pedagogy such as art art-integrated,
            sport-integrated, story-telling, experiential or toy-based?</label><br>क्या कला कला-एकीकृत, खेल-एकीकृत,
          कहानी-कहानी, अनुभवात्मक या खिलौना-आधारित जैसे नवीन शिक्षाशास्त्र में
          प्रशिक्षित हैं?
        </div>
        <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
          <span class="colon">:</span>
          <select class="form-select" aria-label="Default select example" formControlName="trainedInInnovative">
            <option selected="" value="">--Select--</option>
            <option value="1">Yes</option>
            <option value="2">No</option>
          </select>
          <span class="mandatory">*</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
          <label for="" class="form-label">Whether using innovative pedagogy such as art-integrated,
            sport-integrated, story-telling, experiential and toy-based
            pedagogies, as evidenced from inspections by CRC/BRC?</label><br>क्या कला-एकीकृत, खेल-एकीकृत, कहानी-कहानी,
          अनुभवात्मक और खिलौना-आधारित शिक्षाशास्त्र जैसे अभिनव
          शिक्षाशास्त्र का उपयोग कर रहे हैं, जैसा कि सीआरसी/बीआरसी द्वारा निरीक्षण से प्रमाणित है?
        </div>
        <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
          <span class="colon">:</span>
          <select class="form-select" aria-label="Default select example" formControlName="trainedInInnovativeBRC">
            <option selected="" value="">--Select--</option>
            <option value="1">Yes</option>
            <option value="2">No</option>
          </select>
          <span class="mandatory">*</span>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
          <label for="" class="form-label">
            Whether received training after conduct of NAS/ SAS /other third
            party assessment at the school?</label><br>क्या विद्यालय में NAS/SAS/अन्य तीसरे पक्ष के मूल्यांकन के आयोजन
          के बाद प्रशिक्षण प्राप्त किया है?
        </div>
        <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
          <span class="colon">:</span>
          <select class="form-select" aria-label="Default select example" formControlName="trainingNas">
            <option selected="" value="">--Select--</option>
            <option value="1">Yes</option>
            <option value="2">No</option>
          </select>
          <span class="mandatory">*</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
          <label for="" class="form-label">
            Is the teacher engaged with teaching students registered with NIOS/
            SIOS study centre of this school?</label><br>क्या शिक्षक इस विद्यालय के NIOS/SIOS अध्ययन केंद्र में पंजीकृत
          छात्रों को पढ़ाने में लगे हुए हैं?
        </div>
        <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
          <span class="colon">:</span>
          <select class="form-select" aria-label="Default select example" formControlName="engStdWithNios">
            <option selected="" value="">--Select--</option>
            <option value="1">Yes</option>
            <option value="2">No</option>
          </select>
          <span class="mandatory">*</span>
        </div>
        <div class="col-lg-1"></div>
      </div>
      <div class="formpatch border-bottom-0">
        <h5>For teachers teaching PRIMARY classes / प्राथमिक कक्षाओं को पढ़ाने वाले शिक्षकों के लिए</h5>
        <div class="row">
          <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
            <label for="" class="form-label">Whether received training in FLN-NISHTHA?</label><br>क्या FLN-NISHTHA में
            प्रशिक्षण प्राप्त किया है?
          </div>
          <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
            <span class="colon">:</span>
            <select class="form-select" aria-label="Default select example" formControlName="trainingFLN">
              <option selected="" value="">--Select--</option>
              <option value="1">Yes</option>
              <option value="2">No</option>
            </select>
            <span class="mandatory">*</span>
          </div>
          <div class="col-lg-1"></div>
          <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
            <label for="" class="form-label">Whether received activity handbook/ material/ resources?
            </label><br>क्या क्रियाकलाप पुस्तक/सामग्री/संसाधन प्राप्त हुए हैं?
          </div>
          <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
            <span class="colon">:</span>
            <select class="form-select" aria-label="Default select example" formControlName="recvActiHandbook">
              <option selected="" value="">--Select--</option>
              <option value="1">Yes</option>
              <option value="2">No</option>
            </select>
            <span class="mandatory">*</span>
          </div>
        </div>
        <div class="row">
          <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
            <label for="" class="form-label">Whether developed e-content and uploaded on DIKSHA?</label><br>क्या
            ई-कंटेंट
            विकसित किया गया है और DIKSHA पर अपलोड किया गया है?
          </div>
          <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
            <span class="colon">:</span>
            <select class="form-select" aria-label="Default select example" formControlName="uploadedDiksha">
              <option selected="" value="">--Select--</option>
              <option value="1">Yes</option>
              <option value="2">No</option>
            </select>
            <span class="mandatory">*</span>
          </div>
          <div class="col-lg-1"></div>
          <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
            <label for="" class="form-label">Whether involved in creating any other type of offline/online
              resources for teachers at cluster level, block level,district level,
              and State level?</label><br>क्या संकुल स्तर, ब्लॉक स्तर, जिला स्तर और राज्य स्तर पर शिक्षकों के लिए किसी
            अन्य प्रकार के
            ऑफलाइन/ऑनलाइन संसाधन बनाने में शामिल हैं?
          </div>
          <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
            <span class="colon">:</span>
            <select class="form-select" aria-label="Default select example" formControlName="involvedOnlineResource">
              <option selected="" value="">--Select--</option>
              <option value="1">Yes</option>
              <option value="2">No</option>
            </select>
            <span class="mandatory">*</span>
          </div>
        </div>
        <div class="row">
          <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
            <label for="" class="form-label">Whether received teachers manuals/handbooks/ resources for teaching
              children with disabilities/gifted children?</label><br>क्या विकलांग बच्चों/प्रतिभाशाली बच्चों को पढ़ाने के
            लिए शिक्षक नियमावली/हैंडबुक/संसाधन प्राप्त हुए
            हैं?
          </div>
          <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
            <span class="colon">:</span>
            <select class="form-select" aria-label="Default select example" formControlName="recvTchManual">
              <option selected="" value="">--Select--</option>
              <option value="1">Yes</option>
              <option value="2">No</option>
            </select>
            <span class="mandatory">*</span>
          </div>
          <div class="col-lg-1"></div>
          <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
            <label for="" class="form-label">Using resource materials for preparing their own lesson
              plans</label><br>अपनी स्वयं की पाठ योजना तैयार करने के लिए संसाधन सामग्री का उपयोग करना
          </div>
          <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
            <span class="colon">:</span>
            <select class="form-select" aria-label="Default select example" formControlName="rescMaterialOwnLesson">
              <option selected="" value="">--Select--</option>
              <option value="1">Yes</option>
              <option value="2">No</option>
            </select>
            <span class="mandatory">*</span>
          </div>
        </div>
        <div class="row">
          <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
            <label for="" class="form-label">Developing own TLM for classroom transactions</label><br>कक्षा की कार्यवाही
            हेतु स्वयं का TLM विकसित करना
          </div>
          <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
            <span class="colon">:</span>
            <select class="form-select" aria-label="Default select example" formControlName="devlopTLMfrClass">
              <option selected="" value="">--Select--</option>
              <option value="1">Yes</option>
              <option value="2">No</option>
            </select>
            <span class="mandatory">*</span>
          </div>
          <div class="col-lg-1"></div>
          <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
            <label for="" class="form-label">Whether undertaking classroom transactions by using student’s
              mother tongue as the link language?</label> <br>क्या कक्षा की कार्यवाही हेतु छात्र की मातृभाषा को प्रयोग
            करते हैं?
          </div>
          <div class="col-xxl-2 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
            <span class="colon">:</span>
            <select class="form-select" aria-label="Default select example"
              formControlName="undertakingStdMothertounge">
              <option selected="" value="">--Select--</option>
              <option value="1">Yes</option>
              <option value="2">No</option>
            </select>
            <span class="mandatory">*</span>
          </div>
        </div>
      </div>

    </div>
    <div>
      <button class="btn btn-purple me-2 mb-2" (click)="pageChangeWarningHandler('../../professionalInfo/')">
        Previous / पिछला
      </button>

      <button class="btn btn-success me-2 mb-2" (click)="onSubmit()">
        {{ draftStatus === true ? "Update / अद्यतन करें" : "Save as Draft / प्रारूप के रूप में सहेजें" }}
      </button>
     
      <button type="reset" class="btn btn-danger me-2 mb-2" *ngIf="draftStatus === false">Reset / पुनर्स्थापित</button>&nbsp;
      <!-- <a [routerLink]="['../../trainingAndLanguageInfo/',teacherId]" class="btn btn-purple">Next</a> -->
      <button  (click)="dfSts === true ? pageChangeWarningHandler('../../trainingAndLanguageInfo/') :false "  class="btn btn-purple me-2 mb-2">
        Next / अगला
      </button>
    </div>
  </form>
</div>