<div>
  <div class="pageHeading">
    <div class="heading__tab">
      <h3 class="pageName">Add Grant Receive / अनुदान प्राप्त जोड़ें</h3>
    </div>
    <div class="tabArea">
      <a class="neuro editLink active" *ngIf="adminPrivilege"><i class="bi bi-eye me-2"></i>Edit / संपादन करें</a>
      <a routerLink="../../viewGrantReceive" class="neuro viewLink" routerLinkActive="active"><i
          class="bi bi-eye me-2"></i>View / देखें </a>
      <span class="indicator">( * ) Indicates Mandatory / ( * ) संकेतक अनिवार्य</span>
    </div>
  </div>
  <div *ngIf="permissionForAdd== true else emptyTab">
    <div class="top-space">
      <div class="row">
        <div class="col-md-2 form-group">
          <div class=""><label   class="form-label">Academic Year <br> शैक्षणिक वर्ष </label></div>
        </div>

        <div class="col-md-3 form-group">
          <div class="">
            <span class="colon">:</span>
            <label   class="form-label fw-bold"> {{(academicYear) ? academicYear : '--'}}</label>
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-lg-2 form-group">
          <div class="">
            <label    class="form-label">District <br>ज़िला</label>
          </div>
        </div>
        <div class="col-lg-3 form-group">
          <div class="">
            <span class="colon">:</span>
            <label    class="form-label  fw-bold">
              {{(districtName) ? districtName : '--'}}
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 form-group">
          <div class="">
            <label    class="form-label">Block <br>प्रखण्ड</label>
          </div>
        </div>
        <div class="col-lg-3 form-group">
          <div class="">
            <span class="colon">:</span>
            <label    class="form-label fw-bold">{{(blockName) ? blockName : '--'}}
            </label>
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-lg-2 form-group">
          <div class="">
            <label   class="form-label">Cluster <br>संकुल</label>
          </div>
        </div>
        <div class="col-lg-3 form-group">
          <div class="">
            <span class="colon">:</span>
            <label    class="form-label fw-bold">
              {{(clusterName) ? clusterName : '--'}}
            </label>
          </div>
        </div>


      </div>
      <div class="row">
        <div class="col-lg-2 form-group">
          <div class="">
            <label   class="form-label">Village/Ward <br>गांव/वार्ड</label>
          </div>
        </div>
        <div class="col-lg-3 form-group">
          <div class="">
            <span class="colon">:</span>
            <label    class="form-label fw-bold">
              {{(villageName) ? villageName : '--'}}
            </label>
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-lg-2 form-group">
          <div class="">
            <label   class="form-label">School <br>विद्यालय </label>
          </div>
        </div>
        <div class="col-lg-3 form-group">
          <div class="">
            <span class="colon">:</span>
            <label    class="form-label fw-bold">{{(schoolUdiseCode) ? schoolUdiseCode : '--'}} - {{(schoolName) ?
              schoolName : '--'}}</label>
          </div>
        </div>
      </div>
    </div>
    <form [formGroup]="addGrantReceiveForm" (ngSubmit)="onSubmit()"> 
    <div class="row">
      <div class="col-lg-2 form-group">
        <label   class="form-label">Grant Receive From <br> अनुदान प्राप्त करें</label>
      </div>
      <div class="col-lg-3 form-group">
        <span class="colon">:</span>
        <select class="form-select" formControlName="grantReceiveFrom">
          <option value="">--Select--</option>
          <option [value]="grantReceiveditem?.anxtValue" *ngFor="let grantReceiveditem of grantReceivedFromData">
            {{ grantReceiveditem?.anxtName}}
          </option>
        </select>
        <span class="mandatory">*</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 form-group">
        <label   class="form-label">Grant Type <br>अनुदान प्रकार</label>
      </div>
      <div class="col-lg-3 form-group">
        <span class="colon">:</span>
        <select class="form-select" aria-label="Default select example" formControlName="grantType">
          <option selected value="" *ngIf="grantTypeLoading === false">
            ---Select---
          </option>
          <option selected value="" *ngIf="grantTypeLoading === true">
            Loading...
          </option>
          <option [value]="grantTypeitem?.grantTypeId" ng-reflect-value="1" *ngFor="let grantTypeitem of grantTypeData">
            {{ grantTypeitem?.grantName }}
          </option>
        </select>
        <span class="mandatory">*</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 form-group">
        <label   class="form-label">Receive Date <br>प्राप्ति तिथि</label>
      </div>
      <div class="col-lg-3 form-group">
        <span class="colon">:</span>
        <!-- <input type="date" class="form-control" formControlName="receiveDate" (blur)="dateValidation();"> -->
        <input class="form-control" #datepickerYMD="bsDatepicker" placeholder="DD-MM-YYYY" bsDatepicker
        [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"id="exampleInputEmail1" aria-describedby="emailHelp" [maxDate]="maxDate" formControlName="receiveDate" readonly>
        <span class="mandatory">*</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 form-group">
        <label   class="form-label">Letter No / Ref. No <br> पत्र संख्या / संदर्भ। संख्या</label>
      </div>
      <div class="col-lg-3 form-group">
        <span class="colon">:</span>
        <input type="text" class="form-control"formControlName="letterNumber" maxlength="30" (keypress)="
        customValidators.alphaNumericValidator(
          $event,'comma','space','dot','hyphen','slash')">
        <span class="mandatory">*</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 form-group">
        <label   class="form-label">Amount (₹) <br>राशि (₹) </label>
      </div>
      <div class="col-lg-3 form-group">
        <span class="colon">:</span>
        <input type="text" class="form-control"formControlName="amount" maxlength="10"   (keypress)="customValidators.keyPressNumbersDecimal($event)">
        <span class="mandatory">*</span>
        <!-- <span  class="minimum-text text-danger"> (Maximum 7 whole number and 2 decimal numbers allowed. Ex->9999999.99)</span> -->
        <!-- placeholder="Min=1.00    Max=99999999.99" -->
      </div>
    </div>

    <div>
      <button class="btn btn-success me-2">Update  / अपडेट करें</button>
      <button type="reset" class="btn btn-danger" (click)="formCancel()">Cancel / रद्द करे</button>
    </div>
  </form>
  </div>

  <div class="clearfix"></div>
  <ng-template #emptyTab>
    <div class="alert alert-info text-center text-uppercase fw-bold" role="alert">
      {{ "You don't have permission to add kindly contact the administrator..." }}
    </div>
  </ng-template>

</div>