<div>
    <div class="pageHeading">
        <div>
            <h3 class="pageName">Add Sub-Designation / उप-पदनाम जोड़ें</h3>
            <span class="indicator">( * ) Indicates Mandatory / ( * ) संकेतक अनिवार्य</span>
        </div>
        <div class="tabArea">
            <a routerLink="./../addSubDesignation" class="neuro addLink" routerLinkActive="active"
                *ngIf="adminPrivilege"><i class="bi bi-plus-lg me-2"></i>Add / जोड़ें</a>
            <a routerLink="./../viewSubDesignation" class="neuro viewLink" routerLinkActive="active"><i
                    class="bi bi-eye me-2"></i>View / देखें </a>

        </div>
    </div>
    <div class="top-space">
        <form [formGroup]="addSubDesignationForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-lg-2 form-group">
                    <label for="exampleInputEmail1" class="form-label">Level of Users <br> उपयोगकर्ताओं का स्तर</label>
                </div>
                <div class="col-lg-3 form-group">
                    <span class="colon">:</span>
                    <select appAutoFocus class="form-select" aria-label="Default select example"
                        formControlName="levelId" (change)="getDesignation($any($event.target).value)">
                        <option value="" selected>--Select--</option>
                        <option value="5">State</option>
                        <option value="4">District</option>
                        <option value="3">Block</option>
                        <option value="2">Cluster</option>
                    </select>
                    <span class="mandatory">*</span>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 form-group">
                    <label for="exampleInputEmail1" class="form-label">Designation Name <br>पदनाम का नाम</label>
                </div>
                <div class="col-lg-3 form-group">
                    <span class="colon">:</span>

                    <select class="form-select" aria-label="Default select example" formControlName="designationName">
                        <option selected value="">--Select Type--</option>
                        <option *ngFor="let item of DesignationNameData" value="{{item.designationGroupId}}">
                            {{item.designationGroupName}}</option>


                    </select>

                    <span class="mandatory">*</span>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 form-group">
                    <label for="exampleInputEmail1" class="form-label">Sub Designation Name <br>उप पदनाम नाम</label>
                </div>
                <div class="col-lg-3 form-group">
                    <span class="colon">:</span>

                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        formControlName="subDesignationName" maxlength="100" autocomplete="off"
                        (keypress)="customValidators.keyPressAlphabetSpaceDot($event)">

                    <span class="mandatory">*</span>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 form-group">
                    <label for="exampleInputEmail1" class="form-label">Description <br>विवरण</label>
                </div>
                <div class="col-lg-3 form-group">
                    <div class=""><span class="colon">:</span>
                        <textarea cols="4" rows="4" class="form-control" formControlName="description" maxlength="300"
                            aria-describedby="emailHelp"></textarea>
                        <small>Maximum <span class="text-danger">(300)</span> Characters / अधिकतम <span
                                class="text-danger">(300)</span> वर्ण</small>
                    </div>
                </div>
            </div>
            <div class="row formpatch">
            </div>
            <div>
                <button class="btn btn-success me-2">Submit / जमा करें</button>
                <button type="reset" class="btn btn-danger">Reset / पुनर्स्थापित </button>
            </div>
        </form>
    </div>